Repository linode/manager, pull requests merged in 2020-10, with the labels that each got.

#6942 [VLAN] M3-4542: VLAN Detail Skeleton
  packages/manager/src/assets/icons/delete.svg
  packages/manager/src/assets/icons/edit.svg
  packages/manager/src/components/EntityDetail/EntityDetail.tsx
  packages/manager/src/features/Vlans/VlanDetail/VlanDetail.tsx
  packages/manager/src/features/Vlans/VlanDetail/VlanDetailRow.tsx
  packages/manager/src/features/Vlans/VlanDetail/VlanEntityDetail.tsx
  packages/manager/src/features/Vlans/VlanDetail/index.ts
  packages/manager/src/features/Vlans/index.tsx
Labels: VLAN

#6962 [CMR] M3-4578: Linode status chips and notification icon cut off
  packages/manager/src/features/TopMenu/NotificationButton.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.styles.ts
Labels: CMR

#6950 M3-4544: VLAN Panel in Linode Networking tab
  packages/api-v4/src/vlans/vlans.ts
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/LinodeNetworking_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/VLANPanel/LinodeVLANs.test.ts
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/VLANPanel/LinodeVLANs.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/VLANPanel/RemoveVlanDialog.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/VLANPanel/VlanActionMenu.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/VLANPanel/VlanTableRow.tsx
  packages/manager/src/hooks/useVlans.ts
  packages/manager/src/store/index.ts
Labels: VLAN

#6964 Add docs link for Object Storage SSL/TLS
  packages/manager/src/features/ObjectStorage/BucketDetail/BucketSSL.tsx
Labels: Work in Progress

#6961 [CMR] M3-4569: (Mostly) Linode Details Refinements
  packages/manager/src/features/linodes/LinodesDetail/LinodesDashboardNavigation.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetail.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetailHeader/LinodeDetailHeader_CMR.tsx
Labels: CMR

#6958 [CMR] M3-4568: (Mostly) Linode Landing Refinements
  packages/manager/src/MainContent_CMR.tsx
  packages/manager/src/assets/icons/grid-view.svg
  packages/manager/src/components/TabLinkList/TabLinkList.tsx
  packages/manager/src/components/TabbedPanel/TabbedPanel.tsx
  packages/manager/src/features/Billing/BillingPanels/BillingSummary/BillingSummary.tsx
  packages/manager/src/features/Dashboard/ManagedDashboardCard/ManagedDashboardCard_CMR.tsx
  packages/manager/src/features/linodes/LinodeEntityDetail.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetailNavigation_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/DisplayGroupedLinodes.tsx
  packages/manager/src/features/linodes/LinodesLanding/DisplayLinodes.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRow_CMR.style.ts
  packages/manager/src/features/linodes/LinodesLanding/SortableTableHead_CMR.tsx
  packages/manager/src/index.css
Labels: CMR

#6974 CMR: Fix Lish link
  packages/manager/src/features/linodes/LinodesDetail/utilities.ts
Labels: CMR

#6972 CMR: Tooltip for sort in Notifications drawer
  packages/manager/src/features/NotificationCenter/NotificationDrawer.tsx
Labels: CMR

#6975 [CMR] M3-4573: StackScripts ActionMenu is offset on mobile
  packages/manager/src/features/StackScripts/StackScriptRowHelpers.tsx
Labels: CMR

#6968 M3-4544: VLAN Panel in Linode Networking tab, Pt. 2
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/VLANPanel/LinodeVLANs.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/VLANPanel/VlanActionMenu.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/VLANPanel/VlanTableRow.test.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/VLANPanel/VlanTableRow.tsx
Labels: VLAN

#6979 [CMR] M3-4571: Adjust animations for pending actions
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetailHeader/LinodeDetailHeader_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/CardView.tsx
  packages/manager/src/features/linodes/LinodesLanding/TableWrapper_CMR.tsx
Labels: CMR

#6969 M3-4567 Update Dark Theme Styling
  packages/manager/src/MainContent_CMR.tsx
  packages/manager/src/assets/icons/bell_new.svg
  packages/manager/src/assets/icons/console.svg
  packages/manager/src/assets/icons/power-button.svg
  packages/manager/src/assets/icons/viewDetails.svg
  packages/manager/src/components/ActionMenu_CMR/ActionMenu_CMR.tsx
  packages/manager/src/components/CMR_DocumentationButton/DocumentationButton.tsx
  packages/manager/src/components/Dialog/Dialog.tsx
  packages/manager/src/components/DocumentationButton/DocumentationButton.tsx
  packages/manager/src/components/EntityDetail/EntityDetail.tsx
  packages/manager/src/components/EntityHeader/EntityHeader.tsx
  packages/manager/src/components/EntityHeader/HeaderBreadCrumb.tsx
  packages/manager/src/components/EntityTable/GroupedEntitiesByTag.tsx
  packages/manager/src/components/EntityTable/GroupedEntitiesByTag_CMR.tsx
  packages/manager/src/components/IconTextLink/IconTextLink.tsx
  packages/manager/src/components/InlineMenuAction/InlineMenuAction.tsx
  packages/manager/src/components/PrimaryNav/MobileNav.tsx
  packages/manager/src/components/PrimaryNav/PrimaryNav_CMR.styles.ts
  packages/manager/src/components/StatusIcon/StatusIcon.tsx
  packages/manager/src/components/TabLinkList/TabLinkList.tsx
  packages/manager/src/components/TabbedPanel/TabbedPanel.tsx
  packages/manager/src/components/Table/Table_CMR.tsx
  packages/manager/src/components/TableCell/TableCell.tsx
  packages/manager/src/components/TableCell/TableCell_CMR.tsx
  packages/manager/src/components/TableRow/TableRow_CMR.tsx
  packages/manager/src/components/TableRowEmptyState/TableRowEmptyState.tsx
  packages/manager/src/components/TableRowEmptyState/TableRowEmptyState_CMR.tsx
  packages/manager/src/components/TableSortCell/TableSortCell_CMR.tsx
  packages/manager/src/components/TagCell/TagCell.tsx
  packages/manager/src/features/Billing/BillingPanels/BillingSummary/BillingSummary.tsx
  packages/manager/src/features/Dashboard_CMR/LinodeNews.tsx
  packages/manager/src/features/Domains/DomainActionMenu_CMR.tsx
  packages/manager/src/features/Domains/DomainTableRow_CMR.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallActionMenu_CMR.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallRow_CMR.tsx
  packages/manager/src/features/Footer/Footer_CMR.tsx
  packages/manager/src/features/Kubernetes/ClusterList/ClusterRow_CMR.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/NodeBalancerTableRow_CMR.tsx
  packages/manager/src/features/NotificationCenter/NotificationSection.tsx
  packages/manager/src/features/ObjectStorage/AccessKeyLanding/AccessKeyMenu_CMR.tsx
  packages/manager/src/features/ObjectStorage/AccessKeyLanding/AccessKeyTable_CMR.tsx
  packages/manager/src/features/ObjectStorage/BucketLanding/BucketActionMenu_CMR.tsx
  packages/manager/src/features/ObjectStorage/BucketLanding/BucketTableRow_CMR.tsx
  packages/manager/src/features/StackScripts/Partials/StackScriptTableHead_CMR.tsx
  packages/manager/src/features/StackScripts/StackScriptBase/StackScriptBase.styles.ts
  packages/manager/src/features/StackScripts/StackScriptPanel/StackScriptActionMenu_CMR.tsx
  packages/manager/src/features/TopMenu/NotificationButton.tsx
  packages/manager/src/features/TopMenu/SearchBar/SearchBar_CMR.styles.ts
  packages/manager/src/features/TopMenu/TopMenu_CMR.tsx
  packages/manager/src/features/TopMenu/UserMenu/UserMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodeEntityDetail.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeDiskActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/LinodeNetworkingActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/DisplayGroupedLinodes.tsx
  packages/manager/src/features/linodes/LinodesLanding/DisplayLinodes.tsx
  packages/manager/src/features/linodes/LinodesLanding/IPAddress.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRowHeadCell_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/SortableTableHead_CMR.tsx
  packages/manager/src/themeFactory.ts
  packages/manager/src/themes.ts
Labels: CMR

#6935 M3-4540 VLAN Landing Table
  packages/manager/src/containers/vlans.container.ts
  packages/manager/src/factories/index.ts
  packages/manager/src/factories/vlans.ts
  packages/manager/src/features/Vlans/VlanLanding/VLanRow.tsx
  packages/manager/src/features/Vlans/VlanLanding/VlanActionMenu.tsx
  packages/manager/src/features/Vlans/VlanLanding/VlanDialog.tsx
  packages/manager/src/features/Vlans/VlanLanding/VlanLanding.tsx
  packages/manager/src/features/Vlans/VlanLanding/VlanRow.tsx
  packages/manager/src/mocks/serverHandlers.ts
Labels: VLAN

#6978 CMR: Table too wide when cloning Linodes (status column is expanded, causing overflow)
  packages/manager/src/features/linodes/transitions.ts
Labels: Add'tl Approval Required, CMR

#6981 M3-4544: VLAN Panel in Linode Networking tab, Pt. 3
  packages/api-v4/src/vlans/vlans.ts
  packages/manager/src/features/Vlans/AttachVLANDrawer/AttachVLANDrawer.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/LinodeNetworking_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/VLANPanel/AttachVlanDrawer.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/VLANPanel/LinodeVLANs.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/VLANPanel/VlanTableRow.tsx
  packages/manager/src/hooks/useVlans.ts
  packages/manager/src/store/vlans/vlans.actions.ts
  packages/manager/src/store/vlans/vlans.reducer.ts
  packages/manager/src/store/vlans/vlans.requests.ts
Labels: VLAN

#6982 [CMR] M3-4428: MUI Mobile Nav
  packages/manager/src/components/PrimaryNav/MobileNav.tsx
  packages/manager/src/components/PrimaryNav/PrimaryNav_CMR.styles.ts
  packages/manager/src/components/PrimaryNav/PrimaryNav_CMR.tsx
Labels: CMR

#7010 Rename interface appropriately in useVlans hook
  packages/manager/src/hooks/useVlans.ts
Labels: VLAN

#6998 [CMR] M3-4588: Sync animations for pending actions
  packages/manager/package.json
  packages/manager/src/App.css
  packages/manager/src/features/linodes/LinodeEntityDetail.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetailHeader/LinodeDetailHeader_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/TableWrapper_CMR.tsx
  packages/manager/src/index.css
  packages/manager/src/utilities/css-animation-sync.d.ts
Labels: CMR

#7021 M3-4614 Add: JS Client methods and types for DbaaS
  packages/api-v4/src/databases/databases.schema.ts
  packages/api-v4/src/databases/databases.ts
  packages/api-v4/src/databases/types.ts
  packages/api-v4/src/vlans/vlans.ts
Labels: dbaas

#6971 [VLAN] M3-4548: VLAN Details Header
  packages/manager/src/factories/vlans.ts
  packages/manager/src/features/Vlans/VlanDetail/VlanDetail.tsx
  packages/manager/src/features/Vlans/VlanDetail/VlanEntityDetail.tsx
  packages/manager/src/features/Vlans/VlanLanding/VlanDialog.tsx
  packages/manager/src/features/Vlans/VlanLanding/VlanLanding.tsx
  packages/manager/src/hooks/useVlans.ts
Labels: VLAN

#7018 [CMR] M3-4619: Mismatching icon colors
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.styles.ts
Labels: CMR

#7027 Rename prop for RemoveVlanDialog for consistency
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/VLANPanel/LinodeVLANs.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/VLANPanel/RemoveVlanDialog.tsx
Labels: VLAN

#7022 M3-4614 Add: DbaaS in Redux
  packages/api-v4/src/databases/databases.ts
  packages/api-v4/src/databases/index.ts
  packages/api-v4/src/databases/types.ts
  packages/manager/src/factories/databases.ts
  packages/manager/src/hooks/useDatabaseTypes.ts
  packages/manager/src/hooks/useDatabases.ts
  packages/manager/src/store/databases/databases.actions.ts
  packages/manager/src/store/databases/databases.reducer.ts
  packages/manager/src/store/databases/databases.requests.ts
  packages/manager/src/store/databases/types.actions.ts
  packages/manager/src/store/databases/types.reducer.test.ts
  packages/manager/src/store/databases/types.reducer.ts
  packages/manager/src/store/databases/types.requests.ts
  packages/manager/src/store/index.ts
Labels: dbaas

#7025 M3-4598: DBaaS Routing + Skeleton
  packages/manager/src/MainContent_CMR.tsx
  packages/manager/src/assets/icons/resize.svg
  packages/manager/src/components/PrimaryNav/PrimaryNav_CMR.tsx
  packages/manager/src/featureFlags.ts
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseBackups/DatabaseBackups.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseBackups/index.ts
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseDetail.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseDetailNavigation.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseEntityDetail.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettings.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/index.ts
  packages/manager/src/features/Databases/DatabaseDetail/index.ts
  packages/manager/src/features/Databases/DatabaseLanding/DatabaseActionMenu.tsx
  packages/manager/src/features/Databases/DatabaseLanding/DatabaseLanding.tsx
  packages/manager/src/features/Databases/DatabaseLanding/DatabaseRow.tsx
  packages/manager/src/features/Databases/DatabaseLanding/index.ts
  packages/manager/src/features/Databases/index.tsx
Labels: dbaas

#7030 [VLAN] Add ID label to detail page
  packages/manager/src/features/Vlans/VlanDetail/VlanEntityDetail.tsx
Labels: VLAN

#7029 [CMR] Refine pending actions animation
  packages/manager/src/features/linodes/LinodesLanding/CardView.tsx
  packages/manager/src/features/linodes/LinodesLanding/TableWrapper_CMR.tsx
  packages/manager/src/index.css
Labels: CMR

#7028 Applying CMR table components to search results landing
  packages/manager/src/features/Dashboard/ManagedDashboardCard/ManagedDashboardCard_CMR.tsx
  packages/manager/src/features/Search/ResultGroup.tsx
  packages/manager/src/features/Search/ResultRow.test.tsx
  packages/manager/src/features/Search/ResultRow.tsx
  packages/manager/src/features/Search/SearchLanding.tsx
  yarn.lock
Labels: CMR

#7033 M3-4613 Add: dbaas landing and row
  packages/api-v4/src/databases/databases.schema.ts
  packages/manager/src/components/TagCell/TagDrawer.tsx
  packages/manager/src/factories/index.ts
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseEntityDetail.tsx
  packages/manager/src/features/Databases/DatabaseLanding/DatabaseActionMenu.tsx
  packages/manager/src/features/Databases/DatabaseLanding/DatabaseLanding.tsx
  packages/manager/src/features/Databases/DatabaseLanding/DatabaseRow.tsx
  packages/manager/src/features/Databases/index.tsx
  packages/manager/src/features/linodes/LinodesLanding/CardView.tsx
  packages/manager/src/features/linodes/LinodesLanding/ListView.tsx
  packages/manager/src/hooks/useDatabases.ts
  packages/manager/src/hooks/useReduxLoad.ts
  packages/manager/src/mocks/serverHandlers.ts
Labels: dbaas

#6985 M3-4590: Store Linode Interfaces in Redux
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/LinodeNetworking_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/VLANPanel/LinodeVLANs.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetail.container.tsx
  packages/manager/src/features/linodes/LinodesDetail/types.ts
  packages/manager/src/hooks/useExtendedLinode.ts
  packages/manager/src/hooks/useInterfaces.ts
  packages/manager/src/store/index.ts
  packages/manager/src/store/linodes/interfaces/interfaces.actions.ts
  packages/manager/src/store/linodes/interfaces/interfaces.reducer.ts
  packages/manager/src/store/linodes/interfaces/interfaces.requests.ts
Labels: VLAN

#7035 M3-4599 Database Detail Header
  packages/api-v4/src/databases/databases.schema.ts
  packages/manager/src/components/InlineTextLoader/InlineTextLoader.tsx
  packages/manager/src/components/InlineTextLoader/index.ts
  packages/manager/src/components/TagCell/TagDrawer.tsx
  packages/manager/src/features/Dashboard/ManagedDashboardCard/ManagedDashboardCard_CMR.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseDetail.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseEntityDetail.tsx
  packages/manager/src/features/Search/ResultGroup.tsx
  packages/manager/src/features/Search/ResultRow.tsx
  packages/manager/src/features/Search/SearchLanding.tsx
Labels: dbaas

#7048 Refine VlanTableRow logic to prevent comma visual display bug
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/VLANPanel/VlanTableRow.tsx
Labels: Bug, VLAN

#7053 hide backups CTA on LinodesLanding in VLAN context
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.tsx
Labels: VLAN

#7054 Remove default value for IP range and mark Region as required
  packages/manager/src/components/EnhancedSelect/__mocks__/Select.tsx
  packages/manager/src/features/Vlans/CreateVLANDialog/CreateVLANDialog.tsx
Labels: VLAN

#7058 [CMR] Remove Linode status filter hover transition
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.styles.ts
Labels: CMR

#7059 Add warning when attaching Linodes to a VLAN that the Linode must be rebooted
  packages/manager/src/features/Vlans/AttachVLANDrawer/AttachVLANDrawer.tsx
Labels: VLAN

#7026 M3-4603: DBaaS Create Modal
  packages/manager/src/MainContent_CMR.tsx
  packages/manager/src/components/Dialog/Dialog.tsx
  packages/manager/src/context/dbaasContext.ts
  packages/manager/src/context/index.ts
  packages/manager/src/features/Databases/CreateDatabaseDialog/CreateDatabaseDialog.tsx
  packages/manager/src/features/Databases/CreateDatabaseDialog/SelectDBPlanPanel.tsx
  packages/manager/src/features/Databases/CreateDatabaseDialog/index.tsx
  packages/manager/src/features/TopMenu/AddNewMenu/AddNewMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeBackup/LinodeBackup.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeBackup/LinodeBackup_CMR.tsx
  packages/manager/src/hooks/useReduxLoad.ts
  packages/manager/src/store/databases/databases.reducer.ts
  packages/manager/src/utilities/evenizeNumber.ts
Labels: dbaas

#7042 M3-4602 DBaaS Detail Backups table
  packages/api-v4/src/databases/types.ts
  packages/manager/src/factories/databaseBackups.ts
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseBackups/DatabaseBackupActionMenu.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseBackups/DatabaseBackupTableRow.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseBackups/DatabaseBackups.tsx
Labels: dbaas

#7046 M3-4601: DBaaS Details Settings tab
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettings.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettingsLabelPanel.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettingsMaintenancePanel.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettingsPasswordPanel.tsx
  packages/manager/src/hooks/useDatabases.ts
  packages/manager/src/hooks/useReduxLoad.ts
  packages/manager/src/store/databases/databases.actions.ts
  packages/manager/src/store/databases/databases.requests.ts
Labels: dbaas

#7063 For demo: removing status column on Dbaas backups table
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseBackups/DatabaseBackupTableRow.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseBackups/DatabaseBackups.tsx
Labels: dbaas

#7061 CMR: Fix IP link on Linode Entity Detail & Fix "Attached to" column wrapping in Volumes Landing table
  packages/manager/src/features/Volumes/VolumesLanding_CMR.tsx
  packages/manager/src/features/linodes/LinodeEntityDetail.tsx
  packages/manager/src/themes.ts
Labels: CMR
