Repository linode/manager, pull requests merged in 2020-06, with the labels that each got.

#6483 M3-4195 Move PrimaryNav
  packages/manager/src/App.test.tsx
  packages/manager/src/App.tsx
  packages/manager/src/MainContent_CMR.tsx
  packages/manager/src/components/PrimaryNav/PrimaryNav_CMR.styles.ts
  packages/manager/src/components/PrimaryNav/PrimaryNav_CMR.tsx
  packages/manager/src/featureFlags.ts
Labels: CMR

#6490 Adding BLM banner
  packages/manager/src/MainContent.tsx
  packages/manager/src/components/MainContentBanner.tsx
  packages/manager/src/components/SideMenu.tsx
  packages/manager/src/featureFlags.ts
Labels: Add'tl Approval Required

#6503 fix CAA record input duplicating name/value
  packages/manager/cypress/integration/domains/smoke-create-domain-records.spec.js
  packages/manager/cypress/integration/domains/smoke-create-domain.spec.js
  packages/manager/cypress/screenshots/visual.spec.js/record-nav-menu.png
  packages/manager/cypress/support/api/domains.js
  packages/manager/e2e/utils/common.js
  packages/manager/src/features/Domains/DomainRecordDrawer.tsx
Labels: Bug

#6488 Wait to render main content until feature flags are loaded
  packages/manager/src/App.test.tsx
  packages/manager/src/App.tsx
  packages/manager/src/IdentifyUser.tsx
  packages/manager/src/components/SplashScreen/SplashScreen.tsx
  packages/manager/src/hooks/useFeatureFlagLoad.ts
  packages/manager/src/store/featureFlagsLoad/featureFlagsLoad.actions.ts
  packages/manager/src/store/featureFlagsLoad/featureFlagsLoad.reducer.ts
  packages/manager/src/store/index.ts
Labels: CMR

#6520 CMR action menu styling
  packages/manager/src/components/ActionMenu_CMR/ActionMenu_CMR.spec.js
  packages/manager/src/components/ActionMenu_CMR/ActionMenu_CMR.stories.tsx
  packages/manager/src/components/ActionMenu_CMR/ActionMenu_CMR.test.tsx
  packages/manager/src/components/ActionMenu_CMR/ActionMenu_CMR.tsx
  packages/manager/src/components/ActionMenu_CMR/index.ts
Labels: CMR

#6515 M3-4197 Primary Nav – secondary links
  packages/manager/src/assets/community.svg
  packages/manager/src/assets/icons/gear.svg
  packages/manager/src/assets/primary-nav-help.svg
  packages/manager/src/components/PrimaryNav/PrimaryNav_CMR.styles.ts
  packages/manager/src/components/PrimaryNav/PrimaryNav_CMR.tsx
  packages/manager/src/features/TopMenu/TopMenu_CMR.tsx
  packages/manager/src/features/TopMenu/UserMenu/UserMenu_CMR.tsx
Labels: CMR

#6467 [Tabs] M3-4119: Refactor Tabs - Lish
  packages/manager/src/components/TabLinkList/TabLinkList.tsx
  packages/manager/src/features/Lish/Glish.tsx
  packages/manager/src/features/Lish/Lish.tsx
  packages/manager/src/features/Lish/Weblish.tsx
Labels: accessibility

#6562 M3-4234: Implement "Actions" column of Linodes table
  packages/manager/src/components/ActionMenu_CMR/ActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRow.style.ts
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRow.tsx
Labels: CMR

#6545 [CMR] M3-4200: Table Styling
  packages/manager/src/assets/icons/sort-up.svg
  packages/manager/src/assets/icons/unsorted.svg
  packages/manager/src/components/Table/Table.stories.tsx
  packages/manager/src/components/TableCell/TableCell_CMR.tsx
  packages/manager/src/components/TableRow/TableRow_CMR.tsx
  packages/manager/src/components/TableSortCell/TableSortCell_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/DisplayLinodes.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRowBackupCell_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRowHeadCell_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRow_CMR.style.ts
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRow_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/ListView.tsx
  packages/manager/src/features/linodes/LinodesLanding/SortableTableHead_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/TableWrapper_CMR.tsx
Labels: CMR

#6561 M3-4236 EntityDetail component
  packages/manager/src/assets/icons/console.svg
  packages/manager/src/assets/icons/entityIcons/loading.svg
  packages/manager/src/assets/icons/kebab.svg
  packages/manager/src/assets/icons/reboot.svg
  packages/manager/src/assets/icons/viewDetails.svg
  packages/manager/src/assets/icons/volume.svg
  packages/manager/src/components/ActionMenu_CMR/ActionMenu_CMR.tsx
  packages/manager/src/components/CMR_DocumentationButton/DocumentationButton.tsx
  packages/manager/src/components/EntityDetail/EntityDetail.stories.tsx
  packages/manager/src/components/EntityDetail/EntityDetail.tsx
  packages/manager/src/components/EntityDetail/index.tsx
  packages/manager/src/components/EntityHeader/EntityHeader.tsx
  packages/manager/src/components/EntityHeader/HeaderBreadCrumb.tsx
  packages/manager/src/components/LandingHeader/LandingHeader.tsx
  packages/manager/src/features/linodes/LinodeEntityDetail.tsx
  packages/manager/src/features/linodes/LinodesDetail/utilities.ts
  packages/manager/src/index.css
  packages/manager/src/store/linodeType/linodeType.reducer.ts
  packages/manager/src/themeFactory.ts
Labels: CMR

#6560 M3-4233 [CMR] Tag cell for entity tables
  packages/manager/src/assets/icons/plusSign.svg
  packages/manager/src/components/Grid/Grid.tsx
  packages/manager/src/components/LabelAndTagsPanel/LabelAndTagsPanel.tsx
  packages/manager/src/components/Tag/Tag_CMR.tsx
  packages/manager/src/components/TagCell/AddTag.tsx
  packages/manager/src/components/TagCell/TagCell.stories.tsx
  packages/manager/src/components/TagCell/TagCell.tsx
  packages/manager/src/components/TagCell/TagDrawer.tsx
  packages/manager/src/components/TagCell/index.tsx
Labels: CMR
