Repository linode/manager, pull requests merged in 2020-12, with the labels that each got.

#7155 Change: add warning when migrating a Linode with VLANs to a region w/o VLANs
  packages/manager/src/features/linodes/MigrateLanding/CautionNotice.tsx
  packages/manager/src/features/linodes/MigrateLanding/ConfigureForm.tsx
  packages/manager/src/features/linodes/MigrateLanding/MigrateLinode.tsx
Labels: VLAN

#7142 CMR Documentation Button - Phase 2
  packages/manager/src/components/CMR_DocumentationButton/DocumentationButton.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainDetail.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/index.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubernetesClusterDetail.tsx
  packages/manager/src/features/Longview/LongviewDetail/LongviewDetail.tsx
  packages/manager/src/features/Longview/LongviewLanding/LongviewLanding.tsx
  packages/manager/src/features/Managed/ManagedLandingContent.tsx
  packages/manager/src/features/Managed/SupportWidget.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerDetail.tsx
  packages/manager/src/features/ObjectStorage/BucketDetail/index.tsx
  packages/manager/src/features/ObjectStorage/ObjectStorageLanding.tsx
  packages/manager/src/features/StackScripts/StackScriptBase/StackScriptBase.tsx
  packages/manager/src/features/StackScripts/StackScriptsDetail.tsx
  packages/manager/src/features/StackScripts/StackScriptsLanding_CMR.tsx
  packages/manager/src/features/linodes/LinodeEntityDetail.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodePowerControl/LinodePowerControl.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeResize/LinodeResize.test.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetailHeader/LinodeControls.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetailHeader/LinodeDetailsBreadcrumb.tsx
Labels: CMR

#7154 Linode Entity Detail Adjustments
  packages/manager/src/components/Breadcrumb/Crumbs.tsx
  packages/manager/src/components/EntityDetail/EntityDetail.tsx
  packages/manager/src/components/EntityHeader/EntityHeader.stories.tsx
  packages/manager/src/components/EntityHeader/EntityHeader.tsx
  packages/manager/src/components/EntityHeader/HeaderBreadCrumb.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseEntityDetail.tsx
  packages/manager/src/features/Databases/DatabaseLanding/DatabaseLanding.tsx
  packages/manager/src/features/Domains/DomainRecordsWrapper.tsx
  packages/manager/src/features/Domains/DomainTableRow_CMR.tsx
  packages/manager/src/features/Domains/DomainsLanding.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallLanding_CMR.tsx
  packages/manager/src/features/Kubernetes/ClusterList/ClusterList.tsx
  packages/manager/src/features/Managed/SupportWidget.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/NodeBalancersLanding.tsx
  packages/manager/src/features/StackScripts/StackScriptDetailsHeader.tsx
  packages/manager/src/features/Vlans/VlanDetail/VlanDetail.tsx
  packages/manager/src/features/Vlans/VlanDetail/VlanEntityDetail.tsx
  packages/manager/src/features/Vlans/VlanLanding/VlanLanding.tsx
  packages/manager/src/features/Volumes/VolumesLanding_CMR.tsx
  packages/manager/src/features/linodes/LinodeEntityDetail.tsx
  packages/manager/src/features/linodes/LinodesLanding/CardView.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.styles.ts
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.test.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.tsx
  packages/manager/src/features/linodes/RenderIPs.tsx
  packages/manager/src/themeFactory.ts
Labels: CMR

#7166 Detail Entity Regressions (mainly on VLANs and DBaaS)
  packages/manager/src/components/EntityDetail/EntityDetail.tsx
  packages/manager/src/components/LandingHeader/LandingHeader.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseEntityDetail.tsx
  packages/manager/src/features/Databases/DatabaseLanding/DatabaseLanding.tsx
  packages/manager/src/features/Vlans/VlanDetail/VlanDetail.tsx
  packages/manager/src/features/Vlans/VlanDetail/VlanEntityDetail.tsx
  packages/manager/src/features/linodes/LinodeEntityDetail.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.styles.ts
  packages/manager/src/features/linodes/RenderIPs.tsx
  packages/manager/src/mocks/serverHandlers.ts
  packages/manager/src/themes.ts
Labels: CMR

#7171 New profile menu drop down
  packages/manager/src/MainContent_CMR.tsx
  packages/manager/src/assets/community.svg
  packages/manager/src/assets/primary-nav-help.svg
  packages/manager/src/features/TopMenu/AddNewMenu/AddNewMenu_CMR.tsx
  packages/manager/src/features/TopMenu/Community.tsx
  packages/manager/src/features/TopMenu/Help.tsx
  packages/manager/src/features/TopMenu/NotificationButton.tsx
  packages/manager/src/features/TopMenu/SearchBar/SearchBar_CMR.styles.ts
  packages/manager/src/features/TopMenu/TopMenu_CMR.tsx
  packages/manager/src/features/TopMenu/UserMenu/UserMenu_CMR.tsx
  packages/manager/src/features/TopMenu/iconStyles.ts
Labels: CMR

#7173 M3-4680: Remove panel background colors
  packages/manager/src/components/AccessPanel/AccessPanel.tsx
  packages/manager/src/components/Accordion/Accordion.tsx
  packages/manager/src/components/CheckBox/CheckBox.tsx
  packages/manager/src/components/Dialog/Dialog.tsx
  packages/manager/src/components/Notice/Notice.tsx
  packages/manager/src/components/TabbedPanel/TabbedPanel.tsx
  packages/manager/src/features/Dashboard/ManagedDashboardCard/ManagedDashboardCard_CMR.tsx
  packages/manager/src/features/StackScripts/StackScriptPanel/StackScriptActionMenu_CMR.tsx
  packages/manager/src/features/linodes/MigrateLanding/CautionNotice.tsx
Labels: CMR

#7180 M3-4687 Primary Nav and Icon updates
  packages/manager/src/MainContent_CMR.tsx
  packages/manager/src/assets/addnewmenu/oneclick.svg
  packages/manager/src/assets/icons/entityIcons/bucket.svg
  packages/manager/src/assets/icons/entityIcons/domain.svg
  packages/manager/src/assets/icons/entityIcons/firewall.svg
  packages/manager/src/assets/icons/entityIcons/image.svg
  packages/manager/src/assets/icons/entityIcons/kubernetes.svg
  packages/manager/src/assets/icons/entityIcons/linode.svg
  packages/manager/src/assets/icons/entityIcons/nodebalancer.svg
  packages/manager/src/assets/icons/entityIcons/oneclick.svg
  packages/manager/src/assets/icons/entityIcons/stackscript.svg
  packages/manager/src/assets/icons/entityIcons/vlan.svg
  packages/manager/src/assets/icons/entityIcons/volume.svg
  packages/manager/src/assets/icons/longview.svg
  packages/manager/src/assets/icons/managed.svg
  packages/manager/src/components/Breadcrumb/Breadcrumb.tsx
  packages/manager/src/components/CMR_DocumentationButton/DocumentationButton.tsx
  packages/manager/src/components/DocumentationButton/DocumentationButton.tsx
  packages/manager/src/components/EnhancedSelect/Select.styles.ts
  packages/manager/src/components/EntityIcon/EntityIcon.tsx
  packages/manager/src/components/PrimaryNav/PrimaryNav_CMR.styles.ts
  packages/manager/src/components/PrimaryNav/PrimaryNav_CMR.tsx
  packages/manager/src/containers/withFeatureFlagConsumer.container.ts
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseEntityDetail.tsx
  packages/manager/src/features/Domains/DomainRecords.tsx
  packages/manager/src/features/Domains/DomainRecordsWrapper.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/FirewallLinodesLanding.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Rules/FirewallRulesLanding.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePoolsDisplay.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/ActiveConnections/ActiveConnections.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/Apache/Apache.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/Disks/Disks.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/ListeningServices/ListeningServices.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/MySQL/MySQLLanding.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/NGINX/NGINX.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/Network/Network.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/OverviewGraphs/OverviewGraphs.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/Processes/ProcessesGraphs.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/Processes/ProcessesLanding.tsx
  packages/manager/src/features/Longview/LongviewLanding/LongviewClients.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerCreate.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerConfigurations.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerSummary/TablesPanel.tsx
  packages/manager/src/features/Profile/Profile.tsx
  packages/manager/src/features/Search/ResultGroup.tsx
  packages/manager/src/features/Search/SearchLanding.tsx
  packages/manager/src/features/StackScripts/StackScriptsDetail.tsx
  packages/manager/src/features/Support/ExpandableTicketPanel.tsx
  packages/manager/src/features/TopMenu/AddNewMenu/AddNewMenuItem.tsx
  packages/manager/src/features/TopMenu/AddNewMenu/AddNewMenu_CMR.tsx
  packages/manager/src/features/TopMenu/SearchBar/SearchSuggestion.tsx
  packages/manager/src/features/TopMenu/TopMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodeEntityDetail.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeBackup/LinodeBackup_CMR.tsx
  packages/manager/src/hooks/useFlags.ts
  packages/manager/src/themeFactory.ts
  packages/manager/src/themes.ts
Labels: Wait, Work in Progress

#7184 M3-4705: Remove all ellipses in the create buttons
  packages/manager/cypress/integration/objectStorage/access-keys.spec.ts
  packages/manager/cypress/support/ui/constants.ts
  packages/manager/src/components/LandingHeader/LandingHeader.tsx
  packages/manager/src/features/ObjectStorage/AccessKeyLanding/AccessKeyTable_CMR.tsx
  packages/manager/src/features/ObjectStorage/BucketLanding/BucketTable_CMR.tsx
  packages/manager/src/features/Profile/APITokens/APITokenTable_CMR.tsx
  packages/manager/src/features/Profile/OAuthClients/OAuthClients_CMR.tsx
  packages/manager/src/features/Profile/SSHKeys/SSHKeys_CMR.tsx
  packages/manager/src/features/StackScripts/StackScriptBase/StackScriptBase.tsx
  packages/manager/src/features/TopMenu/AddNewMenu/AddNewMenu_CMR.tsx
  packages/manager/src/features/TopMenu/UserMenu/UserMenu_CMR.tsx
  packages/manager/src/features/Users/UsersLanding_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeDisks_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeVolumes.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/LinodeNetworking_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/VLANPanel/LinodeVLANs.tsx
Labels: CMR

#7165 Override CMR flag so that it's always true
  packages/manager/src/containers/withFeatureFlagConsumer.container.ts
  packages/manager/src/hooks/useFlags.ts
Labels: Wait

#7189 M3-4706: Fix StackScript search bar padding
  packages/manager/src/features/StackScripts/StackScriptBase/StackScriptBase.styles.ts
  packages/manager/src/features/StackScripts/StackScriptsLanding_CMR.tsx
Labels: CMR

#7198 [wip] Icon refresh
  packages/manager/src/assets/icons/entityIcons/bucket.svg
  packages/manager/src/assets/icons/entityIcons/domain.svg
  packages/manager/src/assets/icons/entityIcons/firewall.svg
  packages/manager/src/assets/icons/entityIcons/image.svg
  packages/manager/src/assets/icons/entityIcons/kubernetes.svg
  packages/manager/src/assets/icons/entityIcons/linode.svg
  packages/manager/src/assets/icons/entityIcons/managed.svg
  packages/manager/src/assets/icons/entityIcons/nodebalancer.svg
  packages/manager/src/assets/icons/entityIcons/oneclick.svg
  packages/manager/src/assets/icons/entityIcons/stackscript.svg
  packages/manager/src/assets/icons/entityIcons/vlan.svg
  packages/manager/src/assets/icons/entityIcons/volume.svg
  packages/manager/src/assets/icons/longview.svg
  packages/manager/src/assets/icons/managed.svg
  packages/manager/src/components/EnhancedSelect/Select.styles.ts
  packages/manager/src/components/PrimaryNav/PrimaryNav_CMR.styles.ts
  packages/manager/src/components/PrimaryNav/PrimaryNav_CMR.tsx
  packages/manager/src/features/Events/EventRow.tsx
  packages/manager/src/features/TopMenu/AddNewMenu/AddNewMenu_CMR.tsx
  packages/manager/src/features/TopMenu/SearchBar/SearchSuggestion.tsx
Labels: Work in Progress

#7220 Reduce type size of Search hint text and username
  packages/manager/src/features/TopMenu/SearchBar/SearchBar_CMR.styles.ts
  packages/manager/src/features/TopMenu/UserMenu/UserMenu_CMR.tsx
Labels: CMR

#7228 Change: Assorted Trello tasks
  packages/manager/src/features/Domains/CreateDomain/CreateDomain.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerConfigNode.tsx
Labels: Wait

#7233 Longview buttons & table fixes
  packages/manager/src/components/TableRow/TableRow_CMR.tsx
  packages/manager/src/features/Longview/LongviewLanding/LongviewClientHeader.tsx
Labels: CMR
