Repository linode/manager, pull requests merged in 2020-07, with the labels that each got.

#6557 M3-4201 TableSettings dropdown UI
  packages/manager/package.json
  packages/manager/src/assets/icons/draggable-icon.svg
  packages/manager/src/components/TableEditor.stories.tsx
  packages/manager/src/components/TableEditor.tsx
  yarn.lock
Labels: CMR

#6579 M3-4234: Linode Actions column improvements
  packages/manager/src/components/ActionMenu_CMR/ActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRow_CMR.style.ts
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRow_CMR.tsx
  packages/manager/src/hooks/useRegions.ts
Labels: CMR

#6600 [CMR] Add a [insert component] button
  packages/manager/src/components/AddNewLink/AddNewLink_CMR.tsx
  packages/manager/src/components/IconTextLink/IconTextLink.stories.tsx
  packages/manager/src/components/IconTextLink/IconTextLink_CMR.tsx
Labels: CMR

#6614 M3 Grid header issues for CMR
  packages/manager/src/MainContent_CMR.tsx
  packages/manager/src/components/EntityDetail/EntityDetail.tsx
  packages/manager/src/components/EntityHeader/EntityHeader.tsx
  packages/manager/src/components/EntityTable/EntityTable_CMR.tsx
  packages/manager/src/components/EntityTable/GroupedEntitiesByTag_CMR.tsx
  packages/manager/src/components/EntityTable/ListEntities_CMR.tsx
  packages/manager/src/components/LandingHeader/LandingHeader.tsx
  packages/manager/src/features/Domains/DomainsLanding.test.tsx
  packages/manager/src/features/Domains/DomainsLanding.tsx
  packages/manager/src/features/linodes/LinodesLanding/DisplayGroupedLinodes.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.tsx
  packages/manager/src/features/linodes/LinodesLanding/TableWrapper.tsx
  packages/manager/src/features/linodes/LinodesLanding/TableWrapper_CMR.tsx
Labels: CMR

#6606 [CMR] Integrate new ActionMenu component to Linodes table
  packages/manager/src/components/ActionMenu_CMR/ActionMenu_CMR.tsx
  packages/manager/src/components/TableCell/TableCell_CMR.tsx
  packages/manager/src/components/TableHeader/TableHeader_CMR.tsx
  packages/manager/src/components/TableSortCell/TableSortCell_CMR.tsx
  packages/manager/src/components/TagCell/TagCell.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRowHeadCell_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRow_CMR.style.ts
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRow_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/SortableTableHead_CMR.tsx
Labels: CMR

#6599 [CMR] M3-4299: Storage Tab - Disks Table
  packages/manager/src/components/ActionMenu_CMR/ActionMenu_CMR.tsx
  packages/manager/src/features/Volumes/VolumesLanding_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeAdvancedConfigurationsPanel.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeDiskActionMenu.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeDiskActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeDisks_CMR.tsx
Labels: CMR

#6601 M3-4291 Linodes Landing Summary View
  packages/manager/src/assets/icons/group-by-tag.svg
  packages/manager/src/assets/icons/power-button.svg
  packages/manager/src/assets/icons/table-view.svg
  packages/manager/src/components/ActionMenu_CMR/ActionMenu_CMR.tsx
  packages/manager/src/components/EntityDetail/EntityDetail.stories.tsx
  packages/manager/src/components/EntityDetail/EntityDetail.tsx
  packages/manager/src/components/EntityHeader/EntityHeader.stories.tsx
  packages/manager/src/components/EntityHeader/EntityHeader.tsx
  packages/manager/src/components/EntityHeader/index.tsx
  packages/manager/src/components/LandingHeader/LandingHeader.tsx
  packages/manager/src/components/TagCell/TagCell.tsx
  packages/manager/src/features/Domains/DomainsLanding.tsx
  packages/manager/src/features/linodes/LinodeEntityDetail.tsx
  packages/manager/src/features/linodes/LinodesLanding/CardView.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRow_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.styles.ts
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.test.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.tsx
  packages/manager/src/themeFactory.ts
  packages/manager/src/themes.ts
Labels: CMR

#6587 M3-4294: Analytics tab in Linode Details
  packages/manager/src/features/linodes/LinodesDetail/LinodeSummary/LinodeSummary_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeSummary/NetworkGraph_CMR.tsx
Labels: CMR

#6617 [CMR] M3-4300: Storage Tab - Volumes Table
  packages/manager/src/features/Volumes/ListVolumes_CMR.tsx
  packages/manager/src/features/Volumes/RenderVolumeData_CMR.tsx
  packages/manager/src/features/Volumes/SortableVolumesTableHeader_CMR.tsx
  packages/manager/src/features/Volumes/VolumeCreate/CreateVolumeForm.tsx
  packages/manager/src/features/Volumes/VolumeTableRow_CMR.tsx
  packages/manager/src/features/Volumes/VolumesActionMenu_CMR.tsx
  packages/manager/src/features/Volumes/VolumesLanding_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeDiskActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeDisks_CMR.tsx
Labels: CMR

#6615 M3-4271 [CMR] Domains landing
  packages/manager/src/components/EntityTable/EntityTable.tsx
  packages/manager/src/components/LandingHeader/LandingHeader.tsx
  packages/manager/src/components/StatusIcon/StatusIcon.tsx
  packages/manager/src/components/StatusIcon/index.tsx
  packages/manager/src/features/Domains/DomainActionMenu_CMR.tsx
  packages/manager/src/features/Domains/DomainTableRow_CMR.tsx
  packages/manager/src/features/Domains/DomainsLanding.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRow_CMR.style.ts
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRow_CMR.tsx
Labels: CMR

#6602 M3-4301: Configs table in Configs tab
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/ConfigRow_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeAdvancedConfigurationsPanel_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeConfigs_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeSettings/LinodeConfigActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeSettings/LinodeConfigDrawer_CMR.tsx
Labels: CMR

#6620 CMR Kubernetes clusters landing
  packages/manager/src/components/Table/Table_CMR.tsx
  packages/manager/src/features/Kubernetes/ClusterList/ClusterActionMenu_CMR.tsx
  packages/manager/src/features/Kubernetes/ClusterList/ClusterList.tsx
  packages/manager/src/features/Kubernetes/ClusterList/ClusterRow_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/SortableTableHead_CMR.tsx
Labels: CMR

#6626 [CMR] Disable "Add a Disk" button if disk is full
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeDisks_CMR.tsx
Labels: CMR

#6628 M3-4301: Configs Tab improvements
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/ConfigRow_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeConfigs_CMR.tsx
Labels: CMR

#6629 M3-4330 [CMR] Firewalls
  packages/manager/src/components/EntityTable/EntityTable.stories.tsx
  packages/manager/src/components/EntityTable/EntityTable.tsx
  packages/manager/src/components/EntityTable/EntityTable_CMR.tsx
  packages/manager/src/components/EntityTable/ListEntities_CMR.tsx
  packages/manager/src/components/EntityTable/types.ts
  packages/manager/src/features/Domains/DomainsLanding.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallActionMenu_CMR.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallLanding_CMR.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallRow_CMR.tsx
  packages/manager/src/features/Firewalls/index.tsx
  packages/manager/src/hooks/useReduxLoad.ts
  packages/manager/src/mocks/serverHandlers.ts
Labels: CMR

#6625 test delete linode from action menu
  packages/manager/cypress/integration/linodes/smoke-linode-landing-table.spec.ts
  packages/manager/cypress/support/ui/linodes.ts
Labels: Work in Progress

#6580 Fix CMR action menu positioning + styling updates
  packages/manager/package.json
  packages/manager/src/components/ActionMenu_CMR/ActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRow_CMR.style.ts
  yarn.lock
Labels: CMR

#6643 [CMR] M3-4361: Change Linode status pill to new designs
  packages/manager/src/components/EntityHeader/EntityHeader.tsx
  packages/manager/src/components/PrimaryNav/PrimaryNav_CMR.styles.ts
  packages/manager/src/components/PrimaryNav/PrimaryNav_CMR.tsx
  packages/manager/src/components/StatusIcon/StatusIcon.tsx
  packages/manager/src/features/linodes/LinodeEntityDetail.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.styles.ts
  packages/manager/src/themeFactory.ts
  packages/manager/src/themes.ts
Labels: CMR

#6642 [CMR] Add reusable InlineMenuActions component
  packages/manager/src/components/InlineMenuAction/InlineMenuAction.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeSettings/LinodeConfigActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeActionMenu_CMR.tsx
Labels: CMR

#6648 Start adding types back
  packages/manager/src/features/linodes/LinodesCreate/LinodeCreate.tsx
Labels: Do Not Merge, Work in Progress

#6651 M- 4337 CMR: Dashboard -- Single Linode view
  packages/manager/src/features/Dashboard_CMR/LinodeDashboardContent/LinodeDashboardContent.tsx
  packages/manager/src/features/Dashboard_CMR/LinodeDashboardContent/SingleLinode.tsx
  packages/manager/src/features/Volumes/Volumes.tsx
  packages/manager/src/features/Volumes/VolumesLanding.tsx
  packages/manager/src/features/Volumes/VolumesLanding_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeConfigs_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeDisks_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDashboardNavigation.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetail.container.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetail.tsx
  packages/manager/src/mocks/serverHandlers.ts
Labels: CMR

#6647 M3-4303 CMR: Filterable pills
  packages/manager/src/components/EntityHeader/EntityHeader.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.styles.ts
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.test.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.tsx
  packages/manager/src/themeFactory.ts
  packages/manager/src/themes.ts
Labels: CMR

#6649 M3-4376 Linode Monthly Transfer Adjustments
  packages/manager/src/components/BarPercent/BarPercent_CMR.tsx
  packages/manager/src/factories/account.ts
  packages/manager/src/factories/linodes.ts
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/LinodeNetworking_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/NetworkingSummaryPanel/NetworkTransfer.test.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/NetworkingSummaryPanel/NetworkTransfer.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/NetworkingSummaryPanel/NetworkingSummaryPanel.tsx
  packages/manager/src/mocks/serverHandlers.ts
Labels: CMR

#6654 M3-4339: Dashboard view for multiple Linodes
  packages/manager/src/features/Dashboard_CMR/LinodeDashboardContent/MultipleLinodes.tsx
Labels: CMR

#6616 M3-3294 Network tab: historic network data
  packages/api-v4/src/account/types.ts
  packages/api-v4/src/linodes/info.ts
  packages/api-v4/src/object-storage/types.ts
  packages/manager/src/assets/icons/menu-indicator.svg
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/LinodeNetworking_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/NetworkingSummaryPanel/NetworkTransfer.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/NetworkingSummaryPanel/NetworkingSummaryPanel.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/NetworkingSummaryPanel/TransferHistory.test.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/NetworkingSummaryPanel/TransferHistory.tsx
  packages/manager/src/hooks/useLinodeNetworkInfo.ts
Labels: CMR

#6659 M3-4308 CMR: Dashboard notifications
  packages/manager/src/components/BarPercent/BarPercent_CMR.tsx
  packages/manager/src/features/Dashboard_CMR/DashboardNotifications.tsx
  packages/manager/src/features/NotificationCenter/AccountActivity.tsx
  packages/manager/src/features/NotificationCenter/Alerts.tsx
  packages/manager/src/features/NotificationCenter/Community.tsx
  packages/manager/src/features/NotificationCenter/LinodeNews.tsx
  packages/manager/src/features/NotificationCenter/Maintenance.tsx
  packages/manager/src/features/NotificationCenter/NotificationSection.tsx
  packages/manager/src/features/NotificationCenter/OpenSupportTickets.tsx
  packages/manager/src/features/NotificationCenter/PastDue.tsx
  packages/manager/src/features/NotificationCenter/PendingActions.tsx
  packages/manager/src/features/NotificationCenter/index.tsx
Labels: CMR

#6671 CMR: Add balance check and invoice request to PastDue.tsx
  packages/manager/src/features/Dashboard_CMR/DashboardNotifications.tsx
  packages/manager/src/features/NotificationCenter/PastDue.tsx
  packages/manager/src/mocks/serverHandlers.ts
Labels: CMR

#6641 M3-4289 Implement LinodeEntityDetail component on Linode Details
  packages/manager/src/components/EntityDetail/EntityDetail.stories.tsx
  packages/manager/src/components/EntityDetail/EntityDetail.tsx
  packages/manager/src/components/TagCell/AddTag.tsx
  packages/manager/src/components/TagCell/TagCell.tsx
  packages/manager/src/components/TagCell/TagDrawer.tsx
  packages/manager/src/features/Dashboard_CMR/DashboardNotifications.tsx
  packages/manager/src/features/linodes/LinodeEntityDetail.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDashboardNavigation.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetail.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetailHeader/LinodeDetailHeader_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/CardView.tsx
  packages/manager/src/features/linodes/LinodesLanding/ListView.tsx
Labels: CMR

#6658 [CMR] Configs table column widths to prevent table jump
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeConfigs_CMR.tsx
Labels: CMR

#6675 Fix: Add min height to Linodes display on Dashboard
  packages/manager/src/features/Dashboard_CMR/Dashboard.tsx
  packages/manager/src/features/Dashboard_CMR/LinodeDashboardContent/LinodeDashboardContent.tsx
Labels: CMR

#6674 M3 4343 Domains table landing: responsive styles
  packages/manager/src/components/EntityTable/EntityTable.tsx
  packages/manager/src/components/EntityTable/EntityTable_CMR.tsx
  packages/manager/src/features/Domains/DomainActionMenu_CMR.tsx
  packages/manager/src/features/Domains/DomainTableRow_CMR.tsx
  packages/manager/src/features/Domains/DomainsLanding.tsx
Labels: CMR

#6683 [CMR] M3-4349: Table styles for Firewall Rules
  packages/manager/src/features/Firewalls/FirewallDetail/Rules/FirewallRuleActionMenu_CMR.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Rules/FirewallRuleTable_CMR.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Rules/FirewallRulesLanding.tsx
Labels: CMR

#6685 [CMR] M3-4348: Add responsiveness to Firewall Landing table
  packages/manager/src/components/EntityTable/EntityTable_CMR.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallActionMenu_CMR.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallLanding_CMR.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallRow_CMR.tsx
Labels: CMR

#6678 M3-4308: Community Updates in Dashboard Notifications
  packages/api-v4/src/account/types.ts
  packages/api-v4/src/profile/profile.ts
  packages/api-v4/src/profile/types.ts
  packages/manager/src/factories/events.ts
  packages/manager/src/features/Dashboard_CMR/DashboardNotifications.tsx
  packages/manager/src/features/NotificationCenter/Community.tsx
  packages/manager/src/mocks/serverHandlers.ts
Labels: CMR

#6691 M3-4372 Migration dialog
  packages/manager/src/components/Dialog/Dialog.tsx
  packages/manager/src/components/EntityDetail/EntityDetail.stories.tsx
  packages/manager/src/components/Table/Table.stories.tsx
  packages/manager/src/features/linodes/LinodeEntityDetail.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetailHeader/LinodeDetailHeader_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/CardView.tsx
  packages/manager/src/features/linodes/LinodesLanding/DisplayGroupedLinodes.tsx
  packages/manager/src/features/linodes/LinodesLanding/DisplayLinodes.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeCard.test.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeCard.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRow.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRow_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.tsx
  packages/manager/src/features/linodes/LinodesLanding/ListView.tsx
  packages/manager/src/features/linodes/MigrateLanding/ConfigureForm.tsx
  packages/manager/src/features/linodes/MigrateLanding/MigrateLinode.tsx
  packages/manager/src/features/linodes/types.ts
  packages/manager/src/hooks/useRegions.ts
  packages/manager/src/themes.ts
Labels: CMR

#6695 M3-4308 Change: Dashboard navigation section design updates
  packages/manager/src/features/Dashboard_CMR/DashboardNotifications.tsx
  packages/manager/src/features/NotificationCenter/AccountActivity.tsx
  packages/manager/src/features/NotificationCenter/Alerts.tsx
  packages/manager/src/features/NotificationCenter/Community.tsx
  packages/manager/src/features/NotificationCenter/LinodeNews.tsx
  packages/manager/src/features/NotificationCenter/Maintenance.tsx
  packages/manager/src/features/NotificationCenter/NotificationSection.tsx
  packages/manager/src/features/NotificationCenter/OpenSupportTickets.tsx
  packages/manager/src/features/NotificationCenter/PendingActions.tsx
  packages/manager/src/features/NotificationCenter/index.tsx
Labels: CMR

#6688 M3-4388 Responsive styling for Entity Header (All variants)
  packages/manager/src/MainContent_CMR.tsx
  packages/manager/src/components/EntityDetail/EntityDetail.tsx
  packages/manager/src/components/EntityHeader/EntityHeader.tsx
  packages/manager/src/components/EntityHeader/HeaderBreadCrumb.tsx
  packages/manager/src/components/LandingHeader/LandingHeader.tsx
  packages/manager/src/components/TagCell/TagCell.tsx
  packages/manager/src/features/Domains/DomainsLanding.test.tsx
  packages/manager/src/features/Domains/DomainsLanding.tsx
  packages/manager/src/features/linodes/LinodeEntityDetail.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeNetworking/LinodeNetworking_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/CardView.tsx
  packages/manager/src/themeFactory.ts
Labels: CMR
