Repository linode/manager, pull requests merged in 2020-08, with the labels that each got.

#6665 M3-4345 [CMR] NodeBalancer Landing Table
  packages/manager/src/components/EntityTable/EntityTableHeader.tsx
  packages/manager/src/components/LandingHeader/LandingHeader.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/ListGroupedNodeBalancers.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/ListNodeBalancers.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/NodeBalancerActionMenu_CMR.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/NodeBalancerTableRow.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/NodeBalancerTableRow_CMR.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/NodeBalancersLanding.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/NodeBalancersLanding.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/NodeBalancersLandingTableRows.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/NodeBalancersTableWrapper.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/SortableTableHead.tsx
Labels: CMR

#6703 M3-4310 CMR: Notification drawer
  packages/manager/src/assets/icons/bell.svg
  packages/manager/src/assets/icons/clock.svg
  packages/manager/src/features/NotificationCenter/NotificationDrawer.tsx
  packages/manager/src/features/NotificationCenter/PastDue.tsx
  packages/manager/src/features/NotificationCenter/index.tsx
  packages/manager/src/features/TopMenu/NotificationButton.tsx
  packages/manager/src/features/TopMenu/TopMenu_CMR.tsx
Labels: CMR

#6704 M3-4310 CMR: Notification context
  packages/manager/src/MainContent_CMR.tsx
  packages/manager/src/features/Dashboard_CMR/DashboardNotifications.tsx
  packages/manager/src/features/NotificationCenter/NotificationContext.ts
Labels: CMR

#6681 [CMR] M3-4350: Table styles for Firewall Linodes
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/FirewallDeviceActionMenu_CMR.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/FirewallDeviceRow_CMR.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/FirewallDevicesTable_CMR.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/FirewallLinodesLanding.tsx
Labels: CMR

#6710 Responsive styles for LKE Landing Table
  packages/manager/src/components/EntityHeader/EntityHeader.tsx
  packages/manager/src/components/EntityHeader/HeaderBreadCrumb.tsx
  packages/manager/src/features/Kubernetes/ClusterList/ClusterActionMenu_CMR.tsx
  packages/manager/src/features/Kubernetes/ClusterList/ClusterList.tsx
  packages/manager/src/features/Kubernetes/ClusterList/ClusterRow_CMR.tsx
Labels: CMR

#6712 M3-4310 CMR Notifications: pending actions
  packages/api-v4/src/account/types.ts
  packages/manager/src/__data__/events.ts
  packages/manager/src/eventMessageGenerator_CMR.tsx
  packages/manager/src/factories/events.ts
  packages/manager/src/features/Events/EventsLanding.test.ts
  packages/manager/src/features/NotificationCenter/NotificationSection.tsx
  packages/manager/src/features/NotificationCenter/PendingActions.test.tsx
  packages/manager/src/features/NotificationCenter/PendingActions.tsx
  packages/manager/src/hooks/useEvents.ts
  packages/manager/src/store/events/event.helpers.test.ts
  packages/manager/src/store/events/event.reducer.test.ts
  packages/manager/src/utilities/eventUtils.ts
  packages/manager/src/utilities/getEventsActionLinkStrings.ts
Labels: CMR

#6670 M3-4351: CMR Table Styles for Volumes Landing page
  packages/manager/src/components/EntityTable/types.ts
  packages/manager/src/features/Volumes/RenderVolumeData_CMR.tsx
  packages/manager/src/features/Volumes/VolumeTableRow_CMR.tsx
  packages/manager/src/features/Volumes/Volumes.tsx
  packages/manager/src/features/Volumes/VolumesActionMenu_CMR.tsx
  packages/manager/src/features/Volumes/VolumesLanding_CMR.tsx
Labels: CMR, Wait, Work in Progress

#6661 Linode Create Tab Refactor
  packages/manager/src/components/TabbedPanel/TabbedPanel.tsx
  packages/manager/src/features/linodes/LinodesCreate/LinodeCreate.tsx
  packages/manager/src/features/linodes/LinodesCreate/LinodeCreateContainer.tsx
  packages/manager/src/features/linodes/LinodesCreate/TabbedContent/FromAppsContent.tsx
  packages/manager/src/features/linodes/LinodesCreate/TabbedContent/FromBackupsContent.test.tsx
  packages/manager/src/features/linodes/LinodesCreate/TabbedContent/FromBackupsContent.tsx
  packages/manager/src/features/linodes/LinodesCreate/TabbedContent/FromImageContent.test.tsx
  packages/manager/src/features/linodes/LinodesCreate/TabbedContent/FromImageContent.tsx
  packages/manager/src/features/linodes/LinodesCreate/TabbedContent/FromLinodeContent.test.tsx
  packages/manager/src/features/linodes/LinodesCreate/TabbedContent/FromLinodeContent.tsx
  packages/manager/src/features/linodes/LinodesCreate/TabbedContent/FromStackScriptContent.test.tsx
  packages/manager/src/features/linodes/LinodesCreate/TabbedContent/FromStackScriptContent.tsx
  packages/manager/src/features/linodes/LinodesCreate/types.ts
Labels: accessibility

#6715 M3-4310 CMR: Support Tickets and loading state
  packages/api-v4/src/support/support.ts
  packages/manager/src/features/Domains/DomainActionMenu_CMR.tsx
  packages/manager/src/features/NotificationCenter/NotificationSection.tsx
  packages/manager/src/features/NotificationCenter/OpenSupportTickets.tsx
  packages/manager/src/features/Support/SupportTickets/TicketList.tsx
  packages/manager/src/features/Support/SupportTickets/ticketUtils.ts
  packages/manager/src/hooks/useNotifications.ts
Labels: CMR

#6716 M3-4302 CMR Tag Styles
  packages/manager/src/components/Tag/Tag_CMR.tsx
  packages/manager/src/components/TagCell/TagCell.tsx
  packages/manager/src/components/TagCell/TagDrawer.tsx
  packages/manager/src/themeFactory.ts
  packages/manager/src/themes.ts
Labels: CMR

#6709 Responsive styles for Dashboard
  packages/api-v4/src/longview/longview.ts
  packages/manager/cypress/integration/firewall/migrate-linode-with-firewall.spec.ts
  packages/manager/src/components/ExpansionPanel/ExpansionPanelCMR.tsx
  packages/manager/src/components/ExtendedExpansionPanel/ExtendedExpansionPanel.test.tsx
  packages/manager/src/components/ExtendedExpansionPanel/ExtendedExpansionPanel.tsx
  packages/manager/src/features/Billing/BillingPanels/BillingSummary/BillingSummary.tsx
  packages/manager/src/features/Dashboard_CMR/DashboardNotifications.tsx
  packages/manager/src/features/Longview/LongviewLanding/LongviewLanding.tsx
  packages/manager/src/features/NotificationCenter/NotificationSection.tsx
Labels: CMR

#6726 [CMR] Adjust column widths for Volumes table
  packages/manager/src/features/Volumes/VolumeTableRow_CMR.tsx
Labels: CMR

#6729 CMR Dashboard: Remove Alerts from notifications center/drawer
  packages/manager/src/features/Dashboard_CMR/DashboardNotifications.tsx
  packages/manager/src/features/NotificationCenter/Alerts.tsx
  packages/manager/src/features/NotificationCenter/Maintenance.tsx
  packages/manager/src/features/NotificationCenter/NotificationDrawer.tsx
  packages/manager/src/features/NotificationCenter/index.tsx
Labels: CMR

#6720 CMR: Add static banner to Linode changelog
  packages/manager/src/features/Dashboard_CMR/DashboardNotifications.tsx
  packages/manager/src/features/Dashboard_CMR/LinodeNews.tsx
Labels: CMR

#6728 Demo prep fixes for Domains and Clusters landing pages
  packages/manager/src/components/EntityHeader/HeaderBreadCrumb.tsx
  packages/manager/src/features/Domains/DomainActionMenu_CMR.tsx
  packages/manager/src/features/Domains/DomainTableRow_CMR.tsx
  packages/manager/src/features/Kubernetes/ClusterList/ClusterActionMenu_CMR.tsx
Labels: CMR

#6705 M3-4370: Rescue Linode dialog
  packages/manager/src/components/Dialog/Dialog.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeRescue/RescueDialog.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetailHeader/LinodeDetailHeader_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.tsx
  packages/manager/src/features/linodes/types.ts
Labels: CMR, Help Wanted

#6733 [CMR] M3-4357: Table styles for Profile > Trusted Devices
  packages/manager/src/features/Profile/AuthenticationSettings/AuthenticationSettings.tsx
  packages/manager/src/features/Profile/AuthenticationSettings/TrustedDevicesTable_CMR.tsx
  packages/manager/src/features/Profile/AuthenticationSettings/TrustedDevices_CMR.tsx
Labels: CMR

#6734 [CMR] M3-4358: Table styles for Profile > SSH Keys
  packages/manager/src/features/Profile/Profile.tsx
  packages/manager/src/features/Profile/SSHKeys/SSHKeyActionMenu_CMR.tsx
  packages/manager/src/features/Profile/SSHKeys/SSHKeys_CMR.tsx
Labels: CMR

#6738 M3-4373 Confirm enabling backups
  packages/manager/src/features/linodes/LinodesDetail/LinodeBackup/BackupsPlaceholder.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeBackup/EnableBackupsDialog.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeBackup/LinodeBackup_CMR.tsx
Labels: CMR

#6740 CMR table styles for Support Tickets
  packages/manager/src/components/TableCell/TableCell_CMR.tsx
  packages/manager/src/features/Support/SupportTickets/SupportTicketsLanding.test.tsx
  packages/manager/src/features/Support/SupportTickets/SupportTicketsLanding.tsx
  packages/manager/src/features/Support/SupportTickets/TicketList_CMR.tsx
  packages/manager/src/features/Support/SupportTickets/TicketRow_CMR.tsx
Labels: CMR

#6741 M3-4310 completed progress events
  packages/manager/src/eventMessageGenerator_CMR.tsx
  packages/manager/src/features/NotificationCenter/PendingActions.tsx
  packages/manager/src/features/NotificationCenter/RenderEvent.test.tsx
  packages/manager/src/features/NotificationCenter/RenderEvent.tsx
  packages/manager/src/features/NotificationCenter/eventQueue.tsx
Labels: CMR

#6739 Mark events as seen when requesting in the notificationContext
  packages/manager/src/features/NotificationCenter/NotificationContext.ts
Labels: CMR

#6743 M3-4373 CMR: Backups enable from Linode action menu
  packages/manager/src/features/linodes/LinodesDetail/LinodeBackup/BackupsPlaceholder.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeBackup/EnableBackupsDialog.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetailHeader/LinodeDetailHeader_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.tsx
  packages/manager/src/features/linodes/types.ts
Labels: CMR

#6750 For Release: Removing CMR edits from non-CMR version
  packages/manager/src/assets/icons/bell.svg
  packages/manager/src/features/linodes/LinodesLanding/DisplayGroupedLinodes.tsx
  packages/manager/src/features/linodes/LinodesLanding/DisplayLinodes.tsx
Labels: Urgent

#6742 CMR Linode Table Adjustments
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRow_CMR.style.ts
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRow_CMR.tsx
Labels: CMR

#6748 M3-4310 Flavor text in LinodeNews banner
  packages/manager/src/featureFlags.ts
  packages/manager/src/features/Dashboard_CMR/LinodeNews.tsx
Labels: CMR

#6744 M3-4371: Linode Rebuild Dialog
  packages/manager/src/features/StackScripts/StackScriptBase/StackScriptBase.styles.ts
  packages/manager/src/features/linodes/LinodesDetail/LinodeRebuild/LinodeRebuildDialog.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeRebuild/RebuildDialog.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeRebuild/RebuildFromImage_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeRebuild/RebuildFromStackScript_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetailHeader/LinodeDetailHeader_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetailNavigation_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.tsx
  packages/manager/src/features/linodes/types.ts
  packages/manager/src/themeFactory.ts
Labels: CMR

#6723 M3-4441: Linode Storage Tab
  packages/manager/src/features/Volumes/ListVolumes_CMR.tsx
  packages/manager/src/features/Volumes/RenderVolumeData_CMR.tsx
  packages/manager/src/features/Volumes/VolumeTableRow_CMR.tsx
  packages/manager/src/features/Volumes/VolumesActionMenu_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeVolumes.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeStorage/LinodeStorage.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeStorage/index.ts
  packages/manager/src/features/linodes/LinodesDetail/LinodesDashboardNavigation.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetailNavigation_CMR.tsx
Labels: CMR

#6693 [CMR] M3-4390: Primary Nav responsive scaffold + styles
  packages/manager/src/MainContent_CMR.tsx
  packages/manager/src/assets/icons/dashboard_cmr.svg
  packages/manager/src/components/PrimaryNav/MobileNav.tsx
  packages/manager/src/components/PrimaryNav/PrimaryNav_CMR.styles.ts
  packages/manager/src/components/PrimaryNav/PrimaryNav_CMR.tsx
  packages/manager/src/features/TopMenu/UserMenu/UserMenu_CMR.tsx
  packages/manager/src/index.css
Labels: CMR

#6768 [CMR] M3-4359: Table styles for Profile > API Tokens
  packages/manager/src/components/TableCell/TableCell_CMR.tsx
  packages/manager/src/features/Profile/APITokens/APITokenMenu_CMR.tsx
  packages/manager/src/features/Profile/APITokens/APITokenTable_CMR.tsx
  packages/manager/src/features/Profile/APITokens/APITokens.tsx
Labels: CMR

#6769 [CMR] M3-4360: Table styles for Profile > OAuth Apps
  packages/manager/src/features/Profile/OAuthClients/OAuthClientActionMenu_CMR.tsx
  packages/manager/src/features/Profile/OAuthClients/OAuthClients_CMR.tsx
  packages/manager/src/features/Profile/Profile.tsx
Labels: CMR

#6749 Change: Make Linode News banner dismissible
  packages/manager/src/features/Dashboard_CMR/LinodeNews.tsx
  packages/manager/src/features/StackScripts/StackScriptBase/StackScriptBase.tsx
  packages/manager/src/store/preferences/preferences.actions.ts
Labels: CMR

#6527 M3-4137 Cloud Manager-Screen Reader Interoperability Issues
  packages/manager/src/App.tsx
  packages/manager/src/components/H1Header/H1Header.tsx
  packages/manager/src/components/PrimaryNav/NavItem.tsx
  packages/manager/src/components/PrimaryNav/PrimaryNav.tsx
  packages/manager/src/components/PrimaryNav/PrimaryNav_CMR.tsx
Labels: accessibility

#6782 Notification drawer: chronological display
  packages/manager/src/features/NotificationCenter/NotificationDrawer.tsx
  packages/manager/src/features/NotificationCenter/NotificationSection.tsx
  packages/manager/src/store/preferences/preferences.actions.ts
Labels: CMR

#6781 M3-3961: Implement useReduxLoad in VolumesLanding
  packages/manager/src/features/Volumes/VolumesLanding_CMR.tsx
Labels: CMR

#6797 M3-4441: Tweaks to Linode Storage tab
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeDisks_CMR.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeVolumes.tsx
Labels: CMR

#6799 [CMR] M3-4352: Table styles for Managed > Monitors
  packages/manager/src/features/Managed/Monitors/MonitorActionMenu_CMR.tsx
  packages/manager/src/features/Managed/Monitors/MonitorRow_CMR.tsx
  packages/manager/src/features/Managed/Monitors/MonitorTableContent_CMR.tsx
  packages/manager/src/features/Managed/Monitors/MonitorTable_CMR.tsx
  packages/manager/src/features/Managed/Monitors/Monitors.tsx
Labels: CMR

#6809 [CMR] M3:4355: Table styles for Managed > Contacts
  packages/manager/src/features/Managed/Contacts/ContactsActionMenu_CMR.tsx
  packages/manager/src/features/Managed/Contacts/ContactsRow_CMR.tsx
  packages/manager/src/features/Managed/Contacts/ContactsTableContent_CMR.tsx
  packages/manager/src/features/Managed/Contacts/Contacts_CMR.tsx
  packages/manager/src/features/Managed/ManagedLandingContent.tsx
Labels: CMR

#6785 DO NO MERGE upgrade to cypress 5
  packages/manager/package.json
  yarn.lock
Labels: Do Not Merge

#6814 [CMR] M3-4472: Move ManagedDashboardCard to Dashboard
  packages/manager/src/features/Dashboard/DashboardCard_CMR.tsx
  packages/manager/src/features/Dashboard/ManagedDashboardCard/ManagedDashboardCard_CMR.tsx
  packages/manager/src/features/Dashboard_CMR/DashboardNotifications.tsx
Labels: CMR

#6798 M3-4310 Add System Status section to Notification drawer
  packages/manager/cypress/integration/smoke-dashboard.spec.ts
  packages/manager/src/__data__/notifications.ts
  packages/manager/src/factories/index.ts
  packages/manager/src/factories/notification.ts
  packages/manager/src/features/Dashboard_CMR/DashboardNotifications.tsx
  packages/manager/src/features/NotificationCenter/Maintenance.tsx
  packages/manager/src/features/NotificationCenter/NotificationData/useCommunityNotifications.tsx
  packages/manager/src/features/NotificationCenter/NotificationData/useNotificationData.tsx
  packages/manager/src/features/NotificationCenter/NotificationData/useSystemStatusData.tsx
  packages/manager/src/features/NotificationCenter/NotificationDrawer.tsx
  packages/manager/src/features/TopMenu/NotificationButton.tsx
  packages/manager/src/mocks/serverHandlers.ts
Labels: CMR

#6813 M3-4272: CMR Table Styles for Account Users
  packages/manager/src/features/Account/AccountLanding.tsx
  packages/manager/src/features/Users/UsersActionMenu_CMR.tsx
  packages/manager/src/features/Users/UsersLanding_CMR.tsx
Labels: CMR

#6812 [CMR] M3-4306: Blinking pending statuses
  packages/manager/src/components/StatusIcon/StatusIcon.tsx
  packages/manager/src/features/linodes/LinodesLanding/TableWrapper_CMR.tsx
  packages/manager/src/mocks/serverHandlers.ts
Labels: CMR

#6796 M3-4394 Entity Header for StackScripts Details
  packages/manager/src/features/StackScripts/StackScriptDetailsHeader.tsx
  packages/manager/src/features/StackScripts/StackScriptPanel/StackScriptActionMenu_CMR.tsx
  packages/manager/src/features/StackScripts/StackScriptsDetail.tsx
Labels: CMR

#6819 Adding CMR header to the config/disk clone landing
  packages/manager/src/features/linodes/CloneLanding/CloneLanding.tsx
Labels: CMR

#6825 M3-4272: CMR Table Styles for Billing
  packages/manager/src/features/Billing/BillingDetail.tsx
  packages/manager/src/features/Billing/BillingPanels/BillingActivityPanel/BillingActivityPanel_CMR.tsx
Labels: CMR
