Repository linode/manager, pull requests merged in 2021-03, with the labels that each got.

#7439 Update types and factories for VLAN Adjustments
  packages/api-v4/src/linodes/index.ts
  packages/api-v4/src/linodes/interfaces.ts
  packages/api-v4/src/linodes/linodes.schema.ts
  packages/api-v4/src/linodes/types.ts
  packages/api-v4/src/vlans/types.ts
  packages/api-v4/src/vlans/vlans.ts
  packages/manager/src/__data__/linodeConfigs.ts
  packages/manager/src/containers/vlans.container.ts
  packages/manager/src/factories/config.ts
  packages/manager/src/factories/index.ts
  packages/manager/src/factories/linodeConfigInterfaceFactory.ts
  packages/manager/src/factories/linodeConfigs.ts
  packages/manager/src/factories/vlans.ts
  packages/manager/src/features/Vlans/AttachVLANDrawer/AttachVLANDrawer.test.tsx
  packages/manager/src/features/Vlans/AttachVLANDrawer/AttachVLANDrawer.tsx
  packages/manager/src/features/Vlans/AttachVLANDrawer/index.tsx
  packages/manager/src/features/Vlans/DetachLinodeDialog/DetachLinodeDialog.tsx
  packages/manager/src/features/Vlans/VlanLanding/VlanActionMenu.tsx
  packages/manager/src/features/Vlans/VlanLanding/VlanDialog.tsx
  packages/manager/src/features/Vlans/VlanLanding/VlanLanding.tsx
  packages/manager/src/features/Vlans/VlanLanding/VlanRow.tsx
  packages/manager/src/features/Vlans/VlanLanding/index.ts
  packages/manager/src/features/Vlans/index.tsx
  packages/manager/src/features/linodes/LinodesCreate/LinodeCreateContainer.test.tsx
  packages/manager/src/features/linodes/LinodesCreate/LinodeCreateContainer.tsx
  packages/manager/src/features/linodes/LinodesCreate/SelectVLAN.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/ConfigRow.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeConfigs.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetail.container.tsx
  packages/manager/src/features/linodes/LinodesDetail/types.ts
  packages/manager/src/features/linodes/MigrateLanding/MigrateLinode.tsx
  packages/manager/src/hooks/useExtendedLinode.ts
  packages/manager/src/hooks/useInterfaces.ts
  packages/manager/src/hooks/useVlans.ts
  packages/manager/src/store/index.ts
  packages/manager/src/store/linodes/interfaces/interfaces.actions.ts
  packages/manager/src/store/linodes/interfaces/interfaces.reducer.ts
  packages/manager/src/store/linodes/interfaces/interfaces.requests.ts
  packages/manager/src/store/vlans/vlans.actions.ts
  packages/manager/src/store/vlans/vlans.reducer.ts
  packages/manager/src/store/vlans/vlans.requests.ts
Labels: VLAN

#7476 M3-4976: Add CopyTooltip next to Transfer tokens in tables
  packages/manager/src/features/EntityTransfers/RenderTransferRow.tsx
Labels: Entity Transfers

#7448 M3-4938: Add network interface information to Configurations table
  packages/manager/src/factories/linodeConfigInterfaceFactory.ts
  packages/manager/src/factories/linodeConfigs.ts
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/ConfigRow.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeAdvanced/LinodeConfigs.tsx
Labels: VLAN

#7516 M3-4941: Attach a VLAN section in Linode Create flow
  packages/manager/src/features/linodes/LinodesCreate/AddonsPanel.tsx
  packages/manager/src/features/linodes/LinodesCreate/AttachVLAN.tsx
  packages/manager/src/features/linodes/LinodesCreate/LinodeCreate.tsx
  packages/manager/src/features/linodes/LinodesCreate/LinodeCreateContainer.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeSettings/InterfaceSelect.tsx
  packages/manager/src/mocks/serverHandlers.ts
Labels: VLAN

#7523 M3-4955: Bare Metal feature flag
  packages/manager/src/dev-tools/FeatureFlagTool.tsx
  packages/manager/src/featureFlags.ts
Labels: Bare Metal

#7538 M3-4961 Change: Hide unneeded fields on LinodeDetail for bare metal plans
  packages/api-v4/src/linodes/types.ts
  packages/manager/src/components/Table/Table.stories.tsx
  packages/manager/src/features/Vlans/DetachLinodeDialog/DetachLinodeDialog.tsx
  packages/manager/src/features/linodes/LinodeEntityDetail.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeSettings/LinodeSettings.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodeSettings/LinodeSettingsAlertsPanel.tsx
  packages/manager/src/features/linodes/LinodesDetail/LinodesDetailNavigation.tsx
  packages/manager/src/features/linodes/LinodesLanding/DisplayLinodes.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeActionMenu.test.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeActionMenu.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRow.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodeRow/LinodeRowHeadCell.tsx
  packages/manager/src/features/linodes/LinodesLanding/LinodesLanding.tsx
  packages/manager/src/features/linodes/LinodesLanding/ListView.tsx
  packages/manager/src/features/linodes/index.tsx
  packages/manager/src/mocks/serverHandlers.ts
Labels: Bare Metal
