Repository linode/manager, pull requests merged in 2024-04, with the labels that each got.

#10323 upcoming: [M3-7939] - Refactor for Auto-Token Refresh Prep
  packages/manager/.changeset/pr-10323-upcoming-features-1711570823407.md
  packages/manager/src/features/Account/AccountLanding.tsx
  packages/manager/src/features/Account/SwitchAccountDrawer.test.tsx
  packages/manager/src/features/Account/SwitchAccountDrawer.tsx
  packages/manager/src/features/Account/SwitchAccounts/ChildAccountList.test.tsx
  packages/manager/src/features/Account/SwitchAccounts/ChildAccountList.tsx
  packages/manager/src/features/Account/SwitchAccounts/utils.ts
  packages/manager/src/features/TopMenu/UserMenu/UserMenu.tsx
Labels: Approved, Parent / Child Account

#10286 fix: [M3-7864] - Make the ACL (Object storage) select field carat (^) symbol consist with other select fields in the CM.
  packages/manager/.changeset/pr-10286-fixed-1710435081738.md
  packages/manager/cypress/e2e/core/objectStorage/object-storage.e2e.spec.ts
  packages/manager/cypress/support/intercepts/object-storage.ts
  packages/manager/src/features/ObjectStorage/BucketDetail/AccessSelect.test.tsx
  packages/manager/src/features/ObjectStorage/BucketDetail/AccessSelect.tsx
  packages/manager/src/features/ObjectStorage/BucketDetail/BucketAccess.tsx
Labels: Bug, Approved

#10265 refactor: [M3-7831] - Use `nodebalancers/types` endpoint for pricing data
  packages/api-v4/.changeset/pr-10265-added-1711554883610.md
  packages/api-v4/src/nodebalancers/nodebalancers.ts
  packages/api-v4/src/types.ts
  packages/manager/.changeset/pr-10265-tech-stories-1711555076781.md
  packages/manager/src/factories/types.ts
  packages/manager/src/features/NodeBalancers/NodeBalancerCreate.tsx
  packages/manager/src/mocks/serverHandlers.ts
  packages/manager/src/queries/nodebalancers.ts
  packages/manager/src/utilities/pricing/constants.ts
  packages/manager/src/utilities/pricing/dynamicPricing.test.ts
  packages/manager/src/utilities/pricing/dynamicPricing.ts
Labels: UX/UI, @linode/api-v4, Approved, DC-Specific Pricing

#10316 fix: [M3-7508] - Follow up on tests to check Parent and Child 'Close Account' flows
  packages/manager/.changeset/pr-10316-tests-1711480175744.md
  packages/manager/cypress/e2e/core/account/account-cancellation.spec.ts
  packages/manager/cypress/support/constants/account.ts
Labels: Approved, Parent / Child Account

#10329 upcoming: [M3-7938] - Show custom error message in EditAccessKeyDrawer
  packages/manager/.changeset/pr-10329-upcoming-features-1711724710965.md
  packages/validation/src/objectStorageKeys.schema.ts
Labels: Approved, OBJ Multi-Cluster

#10334 upcoming: [M3-7928] - Linode Create Refactor - Summary - Part 8
  packages/manager/.changeset/pr-10334-upcoming-features-1711997020117.md
  packages/manager/src/features/Linodes/LinodeCreatev2/Actions.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Summary.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Summary.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/index.tsx
Labels: Linode Create Refactor

#10328 upcoming: [M3-7940] - Update and cleanup Placement Group assign/unassign features
  packages/manager/.changeset/pr-10328-upcoming-features-1711986244381.md
  packages/manager/src/components/RemovableSelectionsList/RemovableSelectionsList.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsAssignLinodesDrawer.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsAssignLinodesDrawer.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDeleteModal.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDeleteModal.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsDetail.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsDetail.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsLinodes/PlacementGroupsLinodes.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsLinodes/PlacementGroupsLinodes.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsLinodes/PlacementGroupsLinodesTable.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsLinodes/PlacementGroupsLinodesTable.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsLinodes/PlacementGroupsLinodesTableRow.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsLinodes/PlacementGroupsLinodesTableRow.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsSummary/PlacementGroupsSummary.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsSummary/PlacementGroupsSummary.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsEditDrawer.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsEditDrawer.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsLanding/PlacementGroupsLanding.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsLanding/PlacementGroupsRow.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsLanding/PlacementGroupsRow.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsUnassignModal.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsUnassignModal.tsx
  packages/manager/src/features/PlacementGroups/types.ts
  packages/manager/src/features/PlacementGroups/utils.test.ts
  packages/manager/src/features/PlacementGroups/utils.ts
  packages/manager/src/hooks/usePlacementGroupsData.ts
  packages/manager/src/queries/placementGroups.ts
Labels: Placement Groups

#10343 upcoming: [M3-7951] Update Placement Groups region API limits
  packages/api-v4/.changeset/pr-10343-upcoming-features-1712151652960.md
  packages/api-v4/src/regions/types.ts
  packages/manager/.changeset/pr-10343-upcoming-features-1712151689599.md
  packages/manager/src/__data__/regionsData.ts
  packages/manager/src/components/PlacementGroupsSelect/PlacementGroupsSelect.test.tsx
  packages/manager/src/factories/regions.ts
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsLinodes/PlacementGroupsLinodes.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsSummary/PlacementGroupsSummary.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetailPanel.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsLanding/PlacementGroupsRow.tsx
  packages/manager/src/features/PlacementGroups/utils.test.ts
  packages/manager/src/features/PlacementGroups/utils.ts
  packages/manager/src/utilities/regions.test.ts
Labels: Placement Groups

#10344 fix: [M3-7953] - Reset SSH key form on cancel and close
  packages/manager/.changeset/pr-10344-fixed-1712089845550.md
  packages/manager/src/features/Profile/SSHKeys/CreateSSHKeyDrawer.tsx
Labels: Approved

#10122 change: [M3-7540] - Improve tags experience
  packages/manager/.changeset/pr-10122-changed-1706567057589.md
  packages/manager/src/components/Autocomplete/Autocomplete.tsx
  packages/manager/src/components/Button/StyledTagButton.ts
  packages/manager/src/components/TagCell.stories.tsx
  packages/manager/src/components/TagCell/AddTag.tsx
  packages/manager/src/components/TagCell/TagCell.tsx
  packages/manager/src/components/TagCell/TagDrawer.tsx
  packages/manager/src/components/TagsPanel/TagsPanel.stories.tsx
  packages/manager/src/components/TagsPanel/TagsPanel.styles.ts
  packages/manager/src/components/TagsPanel/TagsPanel.test.tsx
  packages/manager/src/components/TagsPanel/TagsPanel.tsx
  packages/manager/src/components/TagsPanel/TagsPanelItem.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainDetail.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubeSummaryPanel.tsx
  packages/manager/src/features/Linodes/LinodeEntityDetail.tsx
  packages/manager/src/features/Linodes/LinodeEntityDetailFooter.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodesDetailHeader/LinodeDetailHeader.tsx
  packages/manager/src/features/Linodes/LinodesLanding/CardView.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerSummary/SummaryPanel.tsx
  packages/manager/src/foundations/themes/dark.ts
  packages/manager/src/foundations/themes/light.ts
Labels: Bug, UX/UI, Ready for Review

#10341 test: [M3-7496] - Add test for Proxy user -> Parent account token expiration prompt
  packages/manager/.changeset/pr-10341-tests-1712073647415.md
  packages/manager/cypress/e2e/core/parentChild/token-expiration.spec.ts
  packages/manager/cypress/support/setup/login-command.ts
  packages/manager/src/factories/index.ts
Labels: Approved, Parent / Child Account

#10340 upcoming: [M3-7901] - Update navigation items for Placement Groups
  packages/manager/.changeset/pr-10340-upcoming-features-1712145875071.md
  packages/manager/src/components/PrimaryNav/PrimaryNav.tsx
  packages/manager/src/features/TopMenu/AddNewMenu/AddNewMenu.tsx
Labels: Placement Groups

#10342 upcoming: [M3-7926] - Linode Create Refactor - VLANs - Part 9
  packages/manager/.changeset/pr-10342-upcoming-features-1712090905005.md
  packages/manager/src/components/VLANSelect.test.tsx
  packages/manager/src/components/VLANSelect.tsx
  packages/manager/src/factories/vlans.ts
  packages/manager/src/features/Linodes/LinodeCreatev2/Summary.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Summary.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/VLAN.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/VLAN.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/index.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/utilities.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/utilities.ts
  packages/manager/src/features/Linodes/LinodesCreate/VLANAccordion.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/LinodeConfigDialog.tsx
  packages/manager/src/queries/linodes/linodes.ts
  packages/manager/src/queries/vlans.ts
Labels: Linode Create Refactor

#10349 test: [M3-7797] - Add Cypress tests for Account billing drawers
  packages/manager/.changeset/pr-10349-tests-1712253815522.md
  packages/manager/cypress/e2e/core/billing/restricted-user-billing.spec.ts
Labels: Missing Changeset, Parent / Child Account

#10351 fix: [M3-7962] - Large Account Search Loading State
  packages/manager/CHANGELOG.md
  packages/manager/package.json
  packages/manager/src/features/Search/SearchLanding.tsx
  packages/manager/src/features/TopMenu/SearchBar/SearchBar.tsx
Labels: Bug, Hotfix

#10359 fix: [M3-7967] - Returning proper scope when selecting all perms
  packages/manager/CHANGELOG.md
  packages/manager/src/features/Profile/APITokens/CreateAPITokenDrawer.tsx
  packages/manager/src/features/Profile/APITokens/ViewAPITokenDrawer.tsx
Labels: Bug, Hotfix, Parent / Child Account

#10360 Release v1.116.1 - `staging` → `master`
  packages/manager/CHANGELOG.md
  packages/manager/package.json
  packages/manager/src/features/Profile/APITokens/CreateAPITokenDrawer.tsx
  packages/manager/src/features/Profile/APITokens/ViewAPITokenDrawer.tsx
  packages/manager/src/features/Search/SearchLanding.tsx
  packages/manager/src/features/TopMenu/SearchBar/SearchBar.tsx
Labels: Release, Hotfix

#10358 fix: [M3-7961] - Disable usePersonAccessTokensQuery in token revocation hook based on `user_type`
  packages/manager/.changeset/pr-10358-fixed-1712607995201.md
  packages/manager/src/hooks/usePendingRevocationToken.ts
  packages/manager/src/queries/tokens.ts
Labels: Approved, Parent / Child Account

#10325 upcoming: [M3-7937] - Update Placement Groups detail and summaries
  packages/manager/.changeset/pr-10325-added-1712325278400.md
  packages/manager/.changeset/pr-10325-upcoming-features-1712325236278.md
  packages/manager/src/components/Breadcrumb/FinalCrumb.tsx
  packages/manager/src/components/Breadcrumb/types.ts
  packages/manager/src/components/DescriptionList/DescriptionList.stories.tsx
  packages/manager/src/components/DescriptionList/DescriptionList.styles.ts
  packages/manager/src/components/DescriptionList/DescriptionList.test.tsx
  packages/manager/src/components/DescriptionList/DescriptionList.tsx
  packages/manager/src/components/EditableText/EditableText.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsAssignLinodesDrawer.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsCreateDrawer.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsCreateDrawer.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsDetail.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsDetail.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsLinodes/PlacementGroupsLinodes.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsLinodes/PlacementGroupsLinodesTable.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsSummary/PlacementGroupsSummary.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsEditDrawer.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsEditDrawer.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsUnassignModal.tsx
Labels: Placement Groups

#10357 refactor: [M3-7960] - Update Notistack to `3.0.1`
  packages/manager/.changeset/pr-10357-tech-stories-1712339827520.md
  packages/manager/cypress/support/ui/toast.ts
  packages/manager/package.json
  packages/manager/src/components/Snackbar/Snackbar.tsx
  packages/manager/src/features/Linodes/LinodesCreate/LinodeCreateContainer.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsAssignLinodesDrawer.tsx
  packages/manager/src/features/Users/UserPermissions.tsx
  packages/manager/src/index.tsx
  yarn.lock
Labels: Dependencies

#10362 fix: [M3-7952] - Unable to update label of OBJ limited access key
  packages/manager/.changeset/pr-10362-fixed-1712610411475.md
  packages/manager/src/features/ObjectStorage/AccessKeyLanding/AccessKeyDrawer.tsx
  packages/manager/src/features/ObjectStorage/AccessKeyLanding/AccessKeyLanding.tsx
Labels: Approved

#10337 upcoming: [M3-7861]: Include powered-off data in clone analytics event
  packages/manager/.changeset/pr-10337-upcoming-features-1711997991209.md
  packages/manager/src/features/Linodes/LinodesCreate/LinodeCreateContainer.tsx
  packages/manager/src/utilities/analytics.ts
Labels: Approved, Linode Clone UI Updates

#10364 change: [UIE-7563] - Delete tooltip displaying for current plan in Databases
  packages/manager/.changeset/pr-10364-changed-1712674027336.md
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseResize/DatabaseResize.tsx
  packages/manager/src/features/components/PlansPanel/PlanSelection.tsx
Labels: DBaaS, Approved

#10354 upcoming: [M3-7924] - Linode Create Refactor - VPC - Part 10
  packages/manager/.changeset/pr-10354-upcoming-features-1712327982879.md
  packages/manager/src/components/VLANSelect.tsx
  packages/manager/src/components/VPCSelect.test.tsx
  packages/manager/src/components/VPCSelect.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Summary.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/VPC/VPC.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/VPC/VPC.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/VPC/VPCRanges.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/VPC/VPCRanges.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/index.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/utilities.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/utilities.ts
  packages/manager/src/hooks/useCreateVPC.ts
  packages/manager/src/queries/vpcs.ts
  packages/validation/.changeset/pr-10354-changed-1712605368375.md
  packages/validation/src/linodes.schema.ts
Labels: Ready for Review, Linode Create Refactor

#10363 feat: [M3-7959] - Update gecko feature flag to object
  packages/manager/.changeset/pr-10363-upcoming-features-1712613073120.md
  packages/manager/src/components/SelectRegionPanel/SelectRegionPanel.tsx
  packages/manager/src/dev-tools/FeatureFlagTool.tsx
  packages/manager/src/featureFlags.ts
  packages/manager/src/features/Linodes/LinodesCreate/LinodeCreate.tsx
  packages/manager/src/features/Linodes/LinodesCreate/TabbedContent/FromLinodeContent.tsx
  packages/manager/src/features/Linodes/LinodesLanding/LinodesLanding.tsx
  packages/manager/src/features/Linodes/MigrateLinode/ConfigureForm.tsx
  packages/manager/src/features/Linodes/MigrateLinode/MigrateLinode.tsx
  packages/manager/src/features/components/PlansPanel/PlansPanel.tsx
Labels: Gecko GA

#10366 upcoming: [M3-7972] - Invalidate PG queries on Linode create/delete
  packages/manager/.changeset/pr-10366-upcoming-features-1712781737734.md
  packages/manager/src/queries/linodes/linodes.ts
Labels: Approved, Placement Groups

#10321 test: [M3-7395] Add new cypress tests to longview landing page
  packages/manager/.changeset/pr-10321-tests-1712172117252.md
  packages/manager/cypress/e2e/core/longview/longview.spec.ts
  packages/manager/cypress/support/constants/longview.ts
  packages/manager/cypress/support/intercepts/longview.ts
Labels: Ready for Review

#10355 upcoming: [M3-7902] - Add PG region limit help text
  packages/manager/.changeset/pr-10355-upcoming-features-1712310179737.md
  packages/manager/src/components/RegionSelect/RegionSelect.test.tsx
  packages/manager/src/components/RegionSelect/RegionSelect.tsx
  packages/manager/src/components/RegionSelect/RegionSelect.types.ts
  packages/manager/src/features/PlacementGroups/PlacementGroupsCreateDrawer.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsCreateDrawer.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetailPanel.tsx
  packages/manager/src/features/PlacementGroups/utils.ts
Labels: Placement Groups

#10350 test: [M3-7768] - Add VM Placement Group landing page empty state test
  packages/manager/.changeset/pr-10350-tests-1712181283740.md
  packages/manager/cypress/e2e/core/placementGroups/placement-groups-landing-page.spec.ts
  packages/manager/cypress/support/intercepts/vm-placement.ts
Labels: Approved, Placement Groups

#10370 fix: `machine-image-upload.spec.ts` e2e test flake
  packages/manager/.changeset/pr-10370-tests-1712857880206.md
  packages/manager/cypress/e2e/core/images/machine-image-upload.spec.ts
Labels: e2e

#10365 change: [M3-7964] - Update developer guide documentation for Adobe Analytics
  docs/development-guide/13-coding-standards.md
  docs/tooling/analytics.md
  packages/manager/.changeset/pr-10365-tech-stories-1712760397845.md
Labels: Approved, Documentation, Analytics

#10376 refactor: [M3-7380] - Use `volumes/types` endpoint for pricing data
  packages/api-v4/.changeset/pr-10376-added-1712948652445.md
  packages/api-v4/src/volumes/volumes.ts
  packages/manager/.changeset/pr-10376-changed-1712948758226.md
  packages/manager/cypress/e2e/core/volumes/create-volume.smoke.spec.ts
  packages/manager/cypress/support/intercepts/volumes.ts
  packages/manager/src/factories/types.ts
  packages/manager/src/features/Volumes/CloneVolumeDrawer.tsx
  packages/manager/src/features/Volumes/ResizeVolumeDrawer.tsx
  packages/manager/src/features/Volumes/VolumeCreate.tsx
  packages/manager/src/features/Volumes/VolumeDrawer/LinodeVolumeCreateForm.tsx
  packages/manager/src/features/Volumes/VolumeDrawer/PricePanel.tsx
  packages/manager/src/features/Volumes/VolumeDrawer/SizeField.tsx
  packages/manager/src/mocks/serverHandlers.ts
  packages/manager/src/queries/volumes.ts
  packages/manager/src/utilities/pricing/dynamicPricing.test.ts
  packages/manager/src/utilities/pricing/dynamicPricing.ts
  packages/manager/src/utilities/pricing/dynamicVolumePrice.test.ts
  packages/manager/src/utilities/pricing/dynamicVolumePrice.ts
Labels: @linode/api-v4, Approved, DC-Specific Pricing

#10372 upcoming: [M3-7986] - Fix & Improve Placement Groups feature restriction
  packages/manager/.changeset/pr-10372-upcoming-features-1712891100686.md
  packages/manager/cypress/e2e/core/placementGroups/placement-groups-landing-page.spec.ts
  packages/manager/src/GoTo.tsx
  packages/manager/src/MainContent.tsx
  packages/manager/src/components/DetailsPanel/DetailsPanel.tsx
  packages/manager/src/components/PrimaryNav/PrimaryNav.tsx
  packages/manager/src/factories/account.ts
  packages/manager/src/features/Linodes/LinodeCreatev2/Details/Details.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Details/Details.tsx
  packages/manager/src/features/Linodes/LinodesCreate/LinodeCreate.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsDetail.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetailPanel.tsx
  packages/manager/src/features/PlacementGroups/utils.test.ts
  packages/manager/src/features/PlacementGroups/utils.ts
  packages/manager/src/features/TopMenu/AddNewMenu/AddNewMenu.tsx
Labels: Placement Groups

#10322 refactor: [M3-7920, M3-7930] – Refactor VPC queries
  packages/manager/.changeset/pr-10322-tech-stories-1712181873472.md
  packages/manager/cypress/e2e/core/linodes/linode-config.spec.ts
  packages/manager/src/__data__/regionsData.ts
  packages/manager/src/components/VPCSelect.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/VPC/VPC.tsx
  packages/manager/src/features/Linodes/LinodeEntityDetail.test.tsx
  packages/manager/src/features/Linodes/LinodesCreate/LinodeCreateContainer.tsx
  packages/manager/src/features/Linodes/LinodesCreate/VPCPanel.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/InterfaceListItem.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/LinodeConfigDialog.tsx
  packages/manager/src/features/Linodes/LinodesLanding/DeleteLinodeDialog.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetAssignLinodesDrawer.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetCreateDrawer.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetDeleteDialog.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetEditDrawer.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetUnassignLinodesDrawer.tsx
  packages/manager/src/features/VPCs/VPCDetail/VPCDetail.tsx
  packages/manager/src/features/VPCs/VPCDetail/VPCSubnetsTable.tsx
  packages/manager/src/features/VPCs/VPCLanding/VPCDeleteDialog.tsx
  packages/manager/src/features/VPCs/VPCLanding/VPCEditDrawer.tsx
  packages/manager/src/features/VPCs/VPCLanding/VPCLanding.tsx
  packages/manager/src/hooks/useCreateVPC.ts
  packages/manager/src/hooks/useUnassignLinode.ts
  packages/manager/src/hooks/useVPCConfigInterface.ts
  packages/manager/src/queries/vpcs.ts
  packages/manager/src/queries/vpcs/requests.ts
  packages/manager/src/queries/vpcs/vpcs.ts
Labels: React Query, VPC

#10339 upcoming: [M3-7621] - Add PlacementGroups to Linode Migrate Flow
  packages/api-v4/.changeset/pr-10339-upcoming-features-1712920800561.md
  packages/api-v4/src/linodes/types.ts
  packages/manager/.changeset/pr-10339-upcoming-features-1712841374860.md
  packages/manager/src/components/PlacementGroupsSelect/PlacementGroupsSelect.test.tsx
  packages/manager/src/components/PlacementGroupsSelect/PlacementGroupsSelect.tsx
  packages/manager/src/features/Linodes/MigrateLinode/ConfigureForm.test.tsx
  packages/manager/src/features/Linodes/MigrateLinode/ConfigureForm.tsx
  packages/manager/src/features/Linodes/MigrateLinode/MigrateLinode.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetailPanel.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetailPanel.tsx
  packages/manager/src/queries/linodes/linodes.ts
Labels: Add'tl Approval Needed, Placement Groups

#10379 upcoming: [M3-7979] - Update Placement Group svg icon
  packages/manager/.changeset/pr-10379-upcoming-features-1713259266637.md
  packages/manager/src/assets/icons/entityIcons/placement-groups.svg
Labels: Placement Groups

#10371 refactor: [M3-7770] - isFeatureEnabledV2 to check for feature flag AND account capability
  packages/manager/.changeset/pr-10371-tech-stories-1713200214722.md
  packages/manager/src/utilities/accountCapabilities.test.ts
  packages/manager/src/utilities/accountCapabilities.ts
Labels: Approved

#10374 upcoming: [M3-7987] - Linode Create Refactor - Validation
  packages/manager/.changeset/pr-10374-upcoming-features-1712936111438.md
  packages/manager/package.json
  packages/manager/src/components/RegionSelect/RegionSelect.tsx
  packages/manager/src/components/SelectRegionPanel/SelectRegionPanel.tsx
  packages/manager/src/components/VLANSelect.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Access.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Details/Details.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Error.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Firewall.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Region.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/Distributions.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/Images.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/UserData/UserData.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/VLAN.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/VPC/VPC.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/VPC/VPCRanges.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/index.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/utilities.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/utilities.ts
  packages/validation/src/linodes.schema.ts
  yarn.lock
Labels: Ready for Review, Linode Create Refactor

#10367 upcoming: [M3-7872] - Linode Create Refactor - StackScripts
  packages/api-v4/.changeset/pr-10367-changed-1712868469030.md
  packages/api-v4/src/linodes/types.ts
  packages/manager/.changeset/pr-10367-upcoming-features-1712868443784.md
  packages/manager/src/components/ImageSelectv2/ImageSelectv2.test.tsx
  packages/manager/src/components/ImageSelectv2/ImageSelectv2.tsx
  packages/manager/src/components/ImageSelectv2/utilities.ts
  packages/manager/src/components/PrimaryNav/PrimaryNav.tsx
  packages/manager/src/containers/withMarketplaceApps.ts
  packages/manager/src/features/Linodes/LinodeCreatev2/Access.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/Distributions.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/Images.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/StackScriptDetailsDialog.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/StackScriptDetailsDialog.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/StackScriptImages.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/StackScriptImages.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/StackScriptSelectionList.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/StackScriptSelectionList.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/StackScriptSelectionRow.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/StackScriptSelectionRow.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/StackScripts.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/StackScripts.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/utilities.test.ts
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/utilities.ts
  packages/manager/src/features/Linodes/LinodeCreatev2/index.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/utilities.ts
  packages/manager/src/hooks/useEventHandlers.ts
  packages/manager/src/queries/stackscripts.ts
  packages/validation/.changeset/pr-10367-changed-1712868495330.md
  packages/validation/src/linodes.schema.ts
Labels: Ready for Review, Linode Create Refactor

#10373 upcoming: [M3-7978] - RegionSelect disabled option API updates
  packages/manager/.changeset/pr-10373-changed-1712939610447.md
  packages/manager/src/components/RegionSelect/RegionMultiSelect.tsx
  packages/manager/src/components/RegionSelect/RegionOption.tsx
  packages/manager/src/components/RegionSelect/RegionSelect.tsx
  packages/manager/src/components/RegionSelect/RegionSelect.types.ts
  packages/manager/src/components/RegionSelect/RegionSelect.utils.test.tsx
  packages/manager/src/components/RegionSelect/RegionSelect.utils.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsCreateDrawer.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsCreateDrawer.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetailPanel.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsLanding/PlacementGroupsLanding.tsx
  packages/manager/src/features/PlacementGroups/types.ts
Labels: Approved, Placement Groups

#10338 change: [M3-7729] - Improve UX of Personal Access Token and Access Key drawers
  packages/manager/.changeset/pr-10338-changed-1712685790473.md
  packages/manager/cypress/e2e/core/account/personal-access-tokens.spec.ts
  packages/manager/cypress/e2e/core/objectStorage/access-keys.smoke.spec.ts
  packages/manager/src/features/ObjectStorage/AccessKeyLanding/AccessTable.styles.ts
  packages/manager/src/features/ObjectStorage/AccessKeyLanding/BucketPermissionsTable.tsx
  packages/manager/src/features/ObjectStorage/AccessKeyLanding/OMC_AccessKeyDrawer.tsx
  packages/manager/src/features/ObjectStorage/AccessKeyLanding/utils.test.ts
  packages/manager/src/features/ObjectStorage/AccessKeyLanding/utils.ts
  packages/manager/src/features/Profile/APITokens/APITokenDrawer.styles.ts
  packages/manager/src/features/Profile/APITokens/CreateAPITokenDrawer.test.tsx
  packages/manager/src/features/Profile/APITokens/CreateAPITokenDrawer.tsx
  packages/manager/src/features/Profile/APITokens/ViewAPITokenDrawer.test.tsx
  packages/manager/src/features/Profile/APITokens/ViewAPITokenDrawer.tsx
  packages/manager/src/features/Profile/APITokens/utils.test.ts
  packages/manager/src/features/Profile/APITokens/utils.ts
Labels: Approved

#10380 fix: [M3-7992] - Fix CSS vendor prefix bug in Chrome
  packages/manager/.changeset/pr-10380-fixed-1713263110419.md
  packages/manager/src/components/CopyableTextField/CopyableTextField.tsx
  packages/manager/src/foundations/themes/dark.ts
Labels: Bug, Approved

#10391 fix: Update latest kernel version to fix `linode-config.spec.ts`
  packages/manager/.changeset/pr-10391-tests-1713534776248.md
  packages/manager/cypress/e2e/core/linodes/linode-config.spec.ts
Labels: Add'tl Approval Needed, e2e

#10383 change: [M3-7994] - Clean up Top Menu and Fix Inconsistencies
  packages/manager/.changeset/pr-10383-changed-1713295259053.md
  packages/manager/cypress/e2e/core/linodes/smoke-linode-landing-table.spec.ts
  packages/manager/src/components/PrimaryNav/SideMenu.stories.tsx
  packages/manager/src/features/TopMenu/Community.tsx
  packages/manager/src/features/TopMenu/Help.tsx
  packages/manager/src/features/TopMenu/NotificationMenu/NotificationMenu.tsx
  packages/manager/src/features/TopMenu/TopMenu.tsx
  packages/manager/src/features/TopMenu/TopMenuIcon.tsx
  packages/manager/src/features/TopMenu/TopMenuTooltip.tsx
Labels: Enhancement, UX/UI

#10330 fix: [M3-7997] - Charts Y-axis values are trimmed when scale is increased
  packages/manager/.changeset/pr-10330-fixed-1713293516506.md
  packages/manager/src/components/AreaChart/AreaChart.tsx
  packages/manager/src/components/AreaChart/utils.test.ts
  packages/manager/src/components/AreaChart/utils.ts
  packages/manager/src/components/LineGraph/LineGraph.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/OverviewGraphs/DiskGraph.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/OverviewGraphs/MemoryGraph.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/OverviewGraphs/NetworkGraph.tsx
  packages/manager/src/utilities/unitConversions.ts
Labels: Bug

#10378 refactor: [M3-7990] - Replace sanitize-html with DOM friendly alternative
  packages/manager/.changeset/pr-10378-tech-stories-1713297219037.md
  packages/manager/package.json
  packages/manager/src/components/HighlightedMarkdown/HighlightedMarkdown.tsx
  packages/manager/src/constants.ts
  packages/manager/src/features/Events/EventRow.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/AddLinodeDrawer.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/AddNodebalancerDrawer.tsx
  packages/manager/src/features/NotificationCenter/NotificationData/RenderEvent.tsx
  packages/manager/src/utilities/sanitizeHTML.ts
  yarn.lock
Labels: Approved, Tech Debt

#10375 upcoming: [M3-7981] - Show the selected regions as chips in the AccessKeyDrawer
  packages/manager/.changeset/pr-10375-upcoming-features-1713213927071.md
  packages/manager/cypress/e2e/core/objectStorage/access-keys.smoke.spec.ts
  packages/manager/src/components/RegionSelect/RegionMultiSelect.tsx
  packages/manager/src/components/RegionSelect/RegionSelect.styles.ts
  packages/manager/src/features/ObjectStorage/AccessKeyLanding/AccessKeyRegions/AccessKeyRegions.tsx
  packages/manager/src/features/ObjectStorage/AccessKeyLanding/OMC_AccessKeyDrawer.tsx
Labels: Approved, OBJ Multi-Cluster

#10400 change: [M3-8030] - Gecko Beta copy updates
  packages/manager/.changeset/pr-10400-changed-1713895165702.md
  packages/manager/src/assets/icons/entityIcons/edge-region.svg
  packages/manager/src/components/RegionSelect/RegionOption.tsx
  packages/manager/src/components/RegionSelect/RegionSelect.tsx
  packages/manager/src/components/SelectRegionPanel/SelectRegionPanel.tsx
  packages/manager/src/features/Linodes/LinodesLanding/LinodesLanding.tsx
  packages/manager/src/features/Linodes/MigrateLinode/ConfigureForm.tsx
  packages/manager/src/features/Linodes/MigrateLinode/MigrateLinode.tsx
Labels: Approved, Gecko Beta

#10381 fix: [UIE-7601] - disable smaller plans
  packages/manager/.changeset/pr-10381-fixed-1713278851268.md
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseResize/DatabaseResize.test.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseResize/DatabaseResize.tsx
  packages/manager/src/features/components/PlansPanel/PlanSelection.tsx
Labels: DBaaS, Approved

#10386 refactor: [M3-8002] - Remove lodash (global import) as a package dependency
  package.json
  packages/manager/.changeset/pr-10386-tech-stories-1713391821312.md
  packages/manager/package.json
  packages/manager/src/components/CopyableAndDownloadableTextField.tsx
  packages/manager/src/components/Currency/Currency.tsx
  packages/manager/src/components/Link.tsx
  packages/manager/src/components/Table/Table.tsx
  packages/manager/src/features/Backups/BackupDrawer.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/AddNodePoolDrawer.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/ResizeNodePoolDrawer.tsx
  packages/manager/src/features/Linodes/LinodesCreate/LinodeCreate.tsx
  packages/manager/src/features/Linodes/LinodesCreate/TabbedContent/FromAppsContent.tsx
  packages/manager/src/features/Linodes/LinodesLanding/IPAddress.tsx
  packages/manager/src/features/Linodes/MigrateLinode/MigrationPricing.tsx
  packages/manager/src/foundations/themes/index.ts
  packages/manager/src/utilities/compact.test.ts
  packages/manager/src/utilities/compact.ts
  packages/manager/src/utilities/deepMerge.test.ts
  packages/manager/src/utilities/deepMerge.ts
  packages/manager/src/utilities/formikErrorUtils.test.ts
  packages/manager/src/utilities/formikErrorUtils.ts
  packages/manager/src/utilities/isNumber.test.ts
  packages/manager/src/utilities/isNumber.ts
  packages/manager/src/utilities/omittedProps.test.tsx
  packages/manager/src/utilities/omittedProps.ts
  packages/manager/src/utilities/tail.test.ts
  packages/manager/src/utilities/tail.ts
  yarn.lock
Labels: Dependencies, Approved, Tech Debt

#10389 change: [M3-7688] - Gravatar Analytics
  packages/manager/.changeset/pr-10389-tech-stories-1713473301651.md
  packages/manager/src/components/GravatarByEmail.tsx
  packages/manager/src/components/GravatarByUsername.tsx
  packages/manager/src/features/Profile/DisplaySettings/DisplaySettings.tsx
  packages/manager/src/features/TopMenu/UserMenu/UserMenu.tsx
  packages/manager/src/utilities/analytics.test.ts
  packages/manager/src/utilities/analytics.ts
Labels: Approved, Analytics

#10382 feat: [OCA-1315] April 2024 Marketplace Apps
  packages/manager/.changeset/pr-10382-added-1713280839725.md
  packages/manager/.changeset/pr-10382-removed-1713386160035.md
  packages/manager/cypress/e2e/core/oneClickApps/one-click-apps.spec.ts
  packages/manager/public/assets/ark@1x.svg
  packages/manager/public/assets/bitninja.svg
  packages/manager/public/assets/csgo2.svg
  packages/manager/public/assets/glusterfs.svg
  packages/manager/public/assets/grafana.svg
  packages/manager/public/assets/magicspam.svg
  packages/manager/public/assets/prometheus.svg
  packages/manager/public/assets/rust.svg
  packages/manager/public/assets/terraria.svg
  packages/manager/public/assets/tf2.svg
  packages/manager/public/assets/valheim.svg
  packages/manager/public/assets/virtualmin.svg
  packages/manager/public/assets/webmin.svg
  packages/manager/public/assets/white/ark@1x.svg
  packages/manager/public/assets/white/bitninja.svg
  packages/manager/public/assets/white/csgo2.svg
  packages/manager/public/assets/white/glusterfs.svg
  packages/manager/public/assets/white/grafana.svg
  packages/manager/public/assets/white/magicspam.svg
  packages/manager/public/assets/white/prometheus.svg
  packages/manager/public/assets/white/rust.svg
  packages/manager/public/assets/white/terraria.svg
  packages/manager/public/assets/white/tf2.svg
  packages/manager/public/assets/white/valheim.svg
  packages/manager/public/assets/white/virtualmin.svg
  packages/manager/public/assets/white/webmin.svg
  packages/manager/src/features/OneClickApps/oneClickApps.ts
  packages/manager/src/features/StackScripts/stackScriptUtils.ts
Labels: Marketplace, Approved, Target: 4/29

#10395 upcoming: [M3-8028]: Linode Create Refactor - User Defined Fields
  packages/manager/.changeset/pr-10395-upcoming-features-1713819325776.md
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/StackScriptSelection.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/StackScriptSelection.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/StackScriptSelectionList.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/StackScriptSelectionRow.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/StackScripts.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/UserDefinedFields/UserDefinedFieldInput.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/UserDefinedFields/UserDefinedFieldInput.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/UserDefinedFields/UserDefinedFields.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/UserDefinedFields/UserDefinedFields.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/UserDefinedFields/utilities.test.ts
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/UserDefinedFields/utilities.ts
  packages/manager/src/features/Linodes/LinodeCreatev2/utilities.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/utilities.ts
  packages/manager/src/features/StackScripts/UserDefinedFieldsPanel/UserDefinedFieldsPanel.tsx
Labels: Approved, Linode Create Refactor

#10396 test: [M3-7982] - Fix hanging account switching test
  packages/manager/.changeset/pr-10396-tests-1713821841742.md
  packages/manager/cypress/e2e/core/parentChild/account-switching.spec.ts
  packages/manager/cypress/support/e2e.ts
  packages/manager/cypress/support/index.d.ts
  packages/manager/cypress/support/setup/page-visit-tracking-commands.ts
Labels: Approved, Parent / Child Account

#10402 feat: [M3-8004] – Support LDE feature flag
  packages/manager/.changeset/pr-10402-upcoming-features-1713977776805.md
  packages/manager/src/dev-tools/FeatureFlagTool.tsx
  packages/manager/src/featureFlags.ts
Labels: Approved, Linode Disk Encryption (LDE)

#10240 test: [M3-7500] - Add tests for Parent/Child Users & Grants page enhancements
  packages/manager/.changeset/pr-10240-tests-1710786712852.md
  packages/manager/cypress/e2e/core/account/user-permissions.spec.ts
  packages/manager/cypress/e2e/core/account/users-landing-page.spec.ts
Labels: Parent / Child Account

#10387 change: [M3-7996] - DC Get Well - PlanSelection availability updates and consolidation
  packages/manager/.changeset/pr-10387-changed-1713887237963.md
  packages/manager/cypress/e2e/core/linodes/create-linode.spec.ts
  packages/manager/cypress/e2e/core/linodes/plan-selection.spec.ts
  packages/manager/cypress/support/intercepts/regions.ts
  packages/manager/src/components/RegionSelect/RegionSelect.utils.tsx
  packages/manager/src/components/TableRow/TableRow.styles.ts
  packages/manager/src/features/Kubernetes/KubernetesPlansPanel/KubernetesPlanContainer.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesPlansPanel/KubernetesPlanContainer.tsx
  packages/manager/src/features/Kubernetes/KubernetesPlansPanel/KubernetesPlanSelection.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesPlansPanel/KubernetesPlanSelection.tsx
  packages/manager/src/features/Kubernetes/KubernetesPlansPanel/KubernetesPlansPanel.tsx
  packages/manager/src/features/components/PlansPanel/PlanContainer.test.tsx
  packages/manager/src/features/components/PlansPanel/PlanContainer.tsx
  packages/manager/src/features/components/PlansPanel/PlanInformation.test.tsx
  packages/manager/src/features/components/PlansPanel/PlanInformation.tsx
  packages/manager/src/features/components/PlansPanel/PlanSelection.test.tsx
  packages/manager/src/features/components/PlansPanel/PlanSelection.tsx
  packages/manager/src/features/components/PlansPanel/PlansPanel.styles.ts
  packages/manager/src/features/components/PlansPanel/PlansPanel.test.tsx
  packages/manager/src/features/components/PlansPanel/PlansPanel.tsx
  packages/manager/src/features/components/PlansPanel/constants.ts
  packages/manager/src/features/components/PlansPanel/utils.test.ts
  packages/manager/src/features/components/PlansPanel/utils.ts
Labels: Approved, DC Get Well, Target: 4/29

#10399 upcoming: [M3-7932] - Placement Groups copy updates
  packages/manager/.changeset/pr-10399-upcoming-features-1713888729255.md
  packages/manager/cypress/e2e/core/placementGroups/placement-groups-landing-page.spec.ts
  packages/manager/src/components/DetailsPanel/DetailsPanel.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Details/Details.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Details/PlacementGroupPanel.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsAffinityTypeSelect.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsAssignLinodesDrawer.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetailPanel.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetailPanel.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsLanding/PlacementGroupsLanding.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsLanding/PlacementGroupsLanding.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsLanding/PlacementGroupsLandingEmptyState.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsLanding/PlacementGroupsLandingEmptyStateData.ts
  packages/manager/src/features/PlacementGroups/constants.ts
Labels: Approved, Placement Groups

#10401 upcoming: [M3-7874] - Linode Create Refactor - Marketplace - Part 1
  packages/manager/.changeset/pr-10401-upcoming-features-1713899458134.md
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/Marketplace/Marketplace.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/Marketplace/Marketplace.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/Marketplace/utilities.ts
  packages/manager/src/features/Linodes/LinodeCreatev2/index.tsx
Labels: Marketplace, Approved, Linode Create Refactor

#10405 test: [various] - Cypress test cleanup and flake fixes
  packages/manager/.changeset/pr-10405-tests-1714056849877.md
  packages/manager/.changeset/pr-10405-tests-1714056884905.md
  packages/manager/.changeset/pr-10405-tests-1714056931602.md
  packages/manager/.changeset/pr-10405-tests-1714056955923.md
  packages/manager/cypress/e2e/core/linodes/linode-config.spec.ts
  packages/manager/cypress/e2e/core/linodes/switch-linode-state.spec.ts
  packages/manager/cypress/e2e/core/objectStorage/access-keys.smoke.spec.ts
  packages/manager/cypress/e2e/core/objectStorage/object-storage.e2e.spec.ts
  packages/manager/cypress/e2e/core/vpc/vpc-linodes-update.spec.ts
  packages/manager/cypress/support/api/linodes.ts
  packages/manager/cypress/support/helpers.ts
  packages/manager/cypress/support/intercepts/linodes.ts
  packages/manager/cypress/support/util/kernels.ts
  packages/manager/cypress/support/util/linodes.ts
  packages/manager/src/factories/index.ts
Labels: Approved

#10408 upcoming: [M3-7980] - Update PlacementGroups linodes tooltip and SelectPlacementGroup option label
  packages/manager/.changeset/pr-10408-upcoming-features-1714066606151.md
  packages/manager/src/components/PlacementGroupsSelect/PlacementGroupSelectOption.tsx
  packages/manager/src/components/PlacementGroupsSelect/PlacementGroupsSelect.test.tsx
  packages/manager/src/components/PlacementGroupsSelect/PlacementGroupsSelect.tsx
  packages/manager/src/components/TextTooltip/TextTooltip.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetailPanel.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsLanding/PlacementGroupsRow.tsx
Labels: Placement Groups

#10411 upcoming: [M3-7671] - Add Resources Section to Placement Groups Landing in Empty State
  packages/manager/.changeset/pr-10411-upcoming-features-1714138447215.md
  packages/manager/src/features/PlacementGroups/PlacementGroupsAffinityTypeSelect.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsDetail.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsSummary/PlacementGroupsSummary.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsLanding/PlacementGroupsLanding.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsLanding/PlacementGroupsLanding.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsLanding/PlacementGroupsLandingEmptyStateData.ts
  packages/manager/src/features/PlacementGroups/constants.ts
Labels: Approved, Placement Groups

#10413 feat: [M3-8005] – Add `disk_encryption` to types & validation schemas
  packages/api-v4/.changeset/pr-10413-changed-1714154673845.md
  packages/api-v4/src/kubernetes/types.ts
  packages/api-v4/src/linodes/types.ts
  packages/validation/.changeset/pr-10413-changed-1714154797841.md
  packages/validation/src/linodes.schema.ts
Labels: @linode/api-v4, Linode Disk Encryption (LDE)

#10404 upcoming: [M3-7875] - Linode Create Refactor - Backups
  packages/api-v4/.changeset/pr-10404-changed-1714064775076.md
  packages/api-v4/src/linodes/types.ts
  packages/manager/.changeset/pr-10404-upcoming-features-1714064791666.md
  packages/manager/src/features/Linodes/LinodeCreatev2/Plan.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/Backups/BackupSelect.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/Backups/BackupSelect.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/Backups/Backups.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/Backups/Backups.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/Backups/BackupsWarning.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/Backups/LinodeSelect.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/Backups/LinodeSelect.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/Backups/LinodeSelectTable.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/Backups/LinodeSelectTableRow.test.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/Backups/LinodeSelectTableRow.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/Tabs/StackScripts/StackScriptSelectionList.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/index.tsx
  packages/manager/src/features/Linodes/LinodeCreatev2/utilities.ts
  packages/manager/src/features/StackScripts/UserDefinedFieldsPanel/UserDefinedFieldsPanel.tsx
Labels: Ready for Review, Linode Create Refactor

#10417 test: [M3-8050] - Fix OBJ E2E tests following API release
  packages/manager/.changeset/pr-10417-tests-1714418018265.md
  packages/manager/cypress/e2e/core/objectStorage/access-key.e2e.spec.ts
  packages/manager/cypress/e2e/core/objectStorage/object-storage.e2e.spec.ts
Labels: Ready for Review

#10418 feat: [M3-8006] – Support `disk_encryption` in mocks
  packages/manager/.changeset/pr-10418-upcoming-features-1714423037799.md
  packages/manager/src/factories/disk.ts
  packages/manager/src/factories/kubernetesCluster.ts
  packages/manager/src/factories/linodes.ts
Labels: Linode Disk Encryption (LDE)

#10414 refactor: [M3-8043] - Query Key Factory for Volumes
  packages/manager/.changeset/pr-10414-tech-stories-1714167805545.md
  packages/manager/cypress/e2e/core/volumes/create-volume.smoke.spec.ts
  packages/manager/src/features/Linodes/LinodeEntityDetail.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/ConfigRow.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/LinodeConfigDialog.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeRescue/StandardRescueDialog.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeStorage/LinodeVolumes.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodesDetailHeader/UpgradeVolumesDialog.tsx
  packages/manager/src/features/Linodes/LinodesDetail/VolumesUpgradeBanner.tsx
  packages/manager/src/features/Linodes/MigrateLinode/CautionNotice.tsx
  packages/manager/src/features/Search/SearchLanding.tsx
  packages/manager/src/features/Support/SupportTickets/SupportTicketDialog.tsx
  packages/manager/src/features/TopMenu/SearchBar/SearchBar.tsx
  packages/manager/src/features/Volumes/AttachVolumeDrawer.tsx
  packages/manager/src/features/Volumes/CloneVolumeDrawer.tsx
  packages/manager/src/features/Volumes/DeleteVolumeDialog.tsx
  packages/manager/src/features/Volumes/DetachVolumeDialog.tsx
  packages/manager/src/features/Volumes/EditVolumeDrawer.tsx
  packages/manager/src/features/Volumes/ResizeVolumeDrawer.tsx
  packages/manager/src/features/Volumes/UpgradeVolumeDialog.tsx
  packages/manager/src/features/Volumes/VolumeCreate.tsx
  packages/manager/src/features/Volumes/VolumeDrawer/LinodeVolumeAttachForm.tsx
  packages/manager/src/features/Volumes/VolumeDrawer/LinodeVolumeCreateForm.tsx
  packages/manager/src/features/Volumes/VolumeDrawer/PricePanel.tsx
  packages/manager/src/features/Volumes/VolumeDrawer/SizeField.tsx
  packages/manager/src/features/Volumes/VolumeDrawer/VolumeSelect.tsx
  packages/manager/src/features/Volumes/VolumesLanding.tsx
  packages/manager/src/hooks/useEventHandlers.ts
  packages/manager/src/queries/linodes/events.ts
  packages/manager/src/queries/volumes.ts
  packages/manager/src/queries/volumes/events.ts
  packages/manager/src/queries/volumes/requests.ts
  packages/manager/src/queries/volumes/volumes.ts
  packages/manager/src/queries/volumesMigrations.ts
Labels: React Query, Volumes
