Repository linode/manager, pull requests merged in 2025-01, with the labels that each got.

#11459 refactor: [M3-8981] - Use new preferences selector pattern in more places
  packages/manager/index.html
  packages/manager/src/components/Avatar/Avatar.tsx
  packages/manager/src/components/DeletionDialog/DeletionDialog.tsx
  packages/manager/src/components/MainContentBanner.tsx
  packages/manager/src/components/MaskableText/MaskableText.test.tsx
  packages/manager/src/components/MaskableText/MaskableText.tsx
  packages/manager/src/components/OrderBy.test.tsx
  packages/manager/src/components/OrderBy.tsx
  packages/manager/src/components/PreferenceToggle/PreferenceToggle.tsx
  packages/manager/src/components/TypeToConfirmDialog/TypeToConfirmDialog.tsx
  packages/manager/src/features/Backups/BackupsCTA.tsx
  packages/manager/src/features/Billing/BillingPanels/ContactInfoPanel/ContactInformation.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodeRow.tsx
  packages/manager/src/features/Linodes/LinodeEntityDetailBody.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeIPAddressRow.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeRebuild/RebuildFromImage.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeRebuild/RebuildFromStackScript.tsx
  packages/manager/src/features/Linodes/LinodesLanding/IPAddress.tsx
  packages/manager/src/features/Profile/DisplaySettings/AvatarColorPickerDialog.tsx
  packages/manager/src/features/Profile/Settings/MaskSensitiveData.test.tsx
  packages/manager/src/features/Profile/Settings/MaskSensitiveData.tsx
  packages/manager/src/features/Profile/Settings/Notifications.test.tsx
  packages/manager/src/features/Profile/Settings/Notifications.tsx
  packages/manager/src/features/Profile/Settings/Settings.tsx
  packages/manager/src/features/Profile/Settings/Theme.test.tsx
  packages/manager/src/features/Profile/Settings/Theme.tsx
  packages/manager/src/features/Profile/Settings/TypeToConfirm.test.tsx
  packages/manager/src/features/Profile/Settings/TypeToConfirm.tsx
  packages/manager/src/hooks/useDismissibleNotifications.ts
  packages/manager/src/hooks/useGlobalKeyboardListener.ts
  packages/manager/src/hooks/useOrder.ts
  packages/manager/src/hooks/useOrderV2.ts
  packages/manager/src/hooks/usePagination.ts
  packages/manager/src/hooks/usePaginationV2.ts
  packages/manager/src/hooks/useSecureVMNoticesEnabled.ts
Labels: Approved

#11436 fix: [UIE-8350] - IAM RBAC: Fix Invalid routes are accessible
  packages/manager/.changeset/pr-11436-upcoming-features-1734526137538.md
  packages/manager/src/featureFlags.ts
  packages/manager/src/features/IAM/IAMLanding.tsx
  packages/manager/src/features/IAM/Shared/NoAssignedRoles/NoAssignedRoles.test.tsx
  packages/manager/src/features/IAM/Shared/constants.ts
  packages/manager/src/features/IAM/Users/UserDetailsLanding.tsx
  packages/manager/src/features/IAM/Users/UserEntities/UserEntities.tsx
  packages/manager/src/features/IAM/index.tsx
Labels: Approved, Ready for Review, IAM (Identity & Access Management)

#11458 test: [M3-9035] - Reduce flakiness in `lke-update` pool tag test
  packages/manager/.changeset/pr-11458-tests-1734984299850.md
  packages/manager/cypress/e2e/core/kubernetes/lke-update.spec.ts
Labels: Approved, Ready for Review

#11416 fix: [M3-8506] - `RegionHelperText` causing console errors
  packages/manager/.changeset/pr-11416-fixed-1734094290557.md
  packages/manager/src/components/SelectRegionPanel/RegionHelperText.tsx
Labels: Bug, Approved

#11467 dep: [M3-8955] - Update react-vnc to 2.0.2
  packages/manager/.changeset/pr-11467-tech-stories-1735836122260.md
  packages/manager/package.json
  yarn.lock
Labels: Dependencies, Approved

#11466 upcoming: [DI-22596] - Changes for adding overview section in the alert details page in Cloud Pulse.
  packages/manager/.changeset/pr-11466-upcoming-features-1735637634055.md
  packages/manager/src/assets/icons/entityIcons/alerts.svg
  packages/manager/src/factories/cloudpulse/alerts.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetail.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetail.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailOverview.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailOverview.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailRow.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
Labels: Approved, Cloud Pulse, Cloud Pulse - Alerting

#11457 upcoming: [DI-20935] - Support for tags filter in CloudPulse
  packages/manager/.changeset/pr-11457-upcoming-features-1734962589506.md
  packages/manager/src/features/CloudPulse/Dashboard/CloudPulseDashboard.tsx
  packages/manager/src/features/CloudPulse/Dashboard/CloudPulseDashboardRenderer.tsx
  packages/manager/src/features/CloudPulse/Utils/FilterBuilder.test.ts
  packages/manager/src/features/CloudPulse/Utils/FilterBuilder.ts
  packages/manager/src/features/CloudPulse/Utils/FilterConfig.ts
  packages/manager/src/features/CloudPulse/Utils/ReusableDashboardFilterUtils.ts
  packages/manager/src/features/CloudPulse/Utils/constants.ts
  packages/manager/src/features/CloudPulse/Utils/models.ts
  packages/manager/src/features/CloudPulse/shared/CloudPulseComponentRenderer.test.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseComponentRenderer.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseDashboardFilterBuilder.test.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseDashboardFilterBuilder.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseResourcesSelect.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseTagsFilter.test.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseTagsFilter.tsx
  packages/manager/src/mocks/serverHandlers.ts
Labels: Approved, Question, Cloud Pulse

#11405 upcoming: [M3-8870] - Begin adding UDP Support for NodeBalancers
  packages/manager/.changeset/pr-11405-upcoming-features-1733957273478.md
  packages/manager/src/components/SelectFirewallPanel/SelectFirewallPanel.tsx
  packages/manager/src/featureFlags.ts
  packages/manager/src/features/NodeBalancers/NodeBalancerConfigNode.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerConfigNode.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerConfigPanel.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerConfigPanel.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerCreate.tsx
  packages/manager/src/features/NodeBalancers/constants.ts
  packages/manager/src/features/NodeBalancers/types.ts
  packages/manager/src/features/NodeBalancers/utils.ts
  packages/ui/src/components/Accordion/Accordion.tsx
Labels: Approved, NodeBalancers

#11475 upcoming: [M3-9042] - Update LKE cluster details kube specs for LKE-E monthly pricing
  packages/manager/.changeset/pr-11475-upcoming-features-1735939864502.md
  packages/manager/cypress/e2e/core/kubernetes/lke-create.spec.ts
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubeClusterSpecs.tsx
Labels: Approved, LKE-Enterprise

#11471 fix: [M3-9025] - Region validation when switching to LKE-E
  packages/manager/src/features/Kubernetes/CreateCluster/CreateCluster.tsx
Labels: Bug, Approved, LKE-Enterprise

#11440 test: [M3-8661] - Cypress test to validate CAA record are editable
  packages/manager/.changeset/pr-11440-tests-1734593684793.md
  packages/manager/cypress/e2e/core/domains/smoke-create-domain-records.spec.ts
Labels: e2e, Approved

#11408 test: [M3-8688, M3-9039] - Autocomplete component tests
  packages/manager/.changeset/pr-11408-tests-1734042066746.md
  packages/manager/cypress/component/components/autocomplete.spec.tsx
  packages/manager/cypress/component/components/beta-chip.spec.tsx
  packages/manager/cypress/component/components/region-select.spec.tsx
  packages/manager/cypress/component/components/select.spec.tsx
Labels: Testing, Approved

#11478 test: [M3-9023] - Add coverage for Kube version upgrades in landing page
  packages/manager/.changeset/pr-11478-tests-1736180178602.md
  packages/manager/cypress/e2e/core/kubernetes/lke-landing-page.spec.ts
  packages/manager/cypress/e2e/core/kubernetes/lke-update.spec.ts
Labels: e2e, Approved, LKE-Enterprise

#11482 test: [M3-8996] - Add test for LKE cluster rename flow
  packages/manager/.changeset/pr-11444-tests-1734632019649.md
  packages/manager/cypress/e2e/core/kubernetes/lke-update.spec.ts
  packages/manager/cypress/support/intercepts/lke.ts
  packages/manager/src/features/CloudPulse/Utils/CloudPulseWidgetUtils.ts
  packages/manager/src/features/CloudPulse/Utils/FilterBuilder.ts
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidget.test.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseResourcesSelect.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerConfigPanel.tsx
Labels: Approved

#11456 refactor: [M3-6910] - Replace instances in : Object Storage
  packages/manager/.changeset/pr-11456-tech-stories-1734933761673.md
  packages/manager/src/features/ObjectStorage/BucketDetail/AccessSelect.test.tsx
  packages/manager/src/features/ObjectStorage/BucketDetail/ObjectDetailsDrawer.test.tsx
  packages/manager/src/features/ObjectStorage/BucketLanding/ClusterSelect.test.tsx
  packages/manager/src/features/ObjectStorage/BucketLanding/CreateBucketDrawer.test.tsx
  packages/manager/src/features/ObjectStorage/utilities.ts
Labels: Add'tl Approval Needed, Object Storage, Ready for Review

#11453 fix: [PDI-3099] - Enable `Create Token` button if all visible permissions selected
  packages/manager/.changeset/pr-11453-fixed-1734765509208.md
  packages/manager/src/features/Profile/APITokens/CreateAPITokenDrawer.tsx
  packages/manager/src/features/Profile/APITokens/utils.test.ts
  packages/manager/src/features/Profile/APITokens/utils.ts
Labels: Bug, Approved

#11434 deps: [M3-8782] - Patch cookie version
  package.json
  packages/manager/.changeset/pr-11434-tech-stories-1734487085461.md
  yarn.lock
Labels: Dependencies, Security, Approved

#11472 fix: [M3-9060] - Object Storage `endpoint_type` sorting
  packages/manager/.changeset/pr-11472-fixed-1736174726210.md
  packages/manager/src/features/ObjectStorage/BucketLanding/BucketTable.tsx
Labels: Bug, Approved, Object Storage Gen2

#11360 change: [M3-8957] - Allow Docker registry to be overridden when building Cloud images
  packages/manager/.changeset/pr-11360-tech-stories-1733774598326.md
  packages/manager/Dockerfile
Labels: Approved, Ready for Review

#11476 fix: [M3-9024] - Mask sensitive data in Managed and Longview
  packages/manager/.changeset/pr-11476-fixed-1736263048231.md
  packages/manager/src/components/MaskableText/MaskableText.tsx
  packages/manager/src/components/MaskableText/MaskableTextArea.tsx
  packages/manager/src/features/Billing/BillingPanels/ContactInfoPanel/ContactInformation.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/ActiveConnections/ConnectionRow.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/ListeningServices/LongviewServiceRow.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/Processes/ProcessesTable.tsx
  packages/manager/src/features/Longview/shared/InstallationInstructions.styles.ts
  packages/manager/src/features/Longview/shared/InstallationInstructions.tsx
  packages/manager/src/features/Managed/Contacts/ContactsRow.tsx
  packages/manager/src/features/Managed/SSHAccess/LinodePubKey.tsx
  packages/manager/src/features/Managed/SSHAccess/SSHAccessRow.tsx
Labels: Bug, Approved

#11428 tech-story: [M3-9017] - Add MSW crud domains
  packages/manager/.changeset/pr-11428-tech-stories-1734382681885.md
  packages/manager/src/dev-tools/load.ts
  packages/manager/src/features/Events/FormattedEventMessage.tsx
  packages/manager/src/features/Events/factories/domain.tsx
  packages/manager/src/mocks/mockState.ts
  packages/manager/src/mocks/presets/baseline/crud.ts
  packages/manager/src/mocks/presets/crud/domains.ts
  packages/manager/src/mocks/presets/crud/handlers/domains.ts
  packages/manager/src/mocks/presets/crud/seeds/domains.ts
  packages/manager/src/mocks/presets/crud/seeds/index.ts
  packages/manager/src/mocks/presets/crud/seeds/utils.ts
  packages/manager/src/mocks/types.ts
  packages/manager/src/mocks/utilities/events.ts
Labels: Approved

#11485 fix: [M3-9063] - Display Kubernetes API endpoint for LKE-E cluster
  packages/manager/.changeset/pr-11485-fixed-1736282505902.md
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubeConfigDisplay.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubeConfigDisplay.tsx
Labels: Bug, Approved, LKE-Enterprise

#11469 upcoming: [M3-9008] Improve Close Account UI
  packages/manager/.changeset/pr-11469-upcoming-features-1735867251319.md
  packages/manager/cypress/e2e/core/account/account-cancellation.spec.ts
  packages/manager/cypress/support/constants/account.ts
  packages/manager/src/components/ActionsPanel/ActionsPanel.tsx
  packages/manager/src/components/DeletionDialog/DeletionDialog.tsx
  packages/manager/src/components/TypeToConfirm/TypeToConfirm.tsx
  packages/manager/src/components/TypeToConfirmDialog/TypeToConfirmDialog.test.tsx
  packages/manager/src/components/TypeToConfirmDialog/TypeToConfirmDialog.tsx
  packages/manager/src/features/Account/CloseAccountDialog.tsx
  packages/manager/src/features/Account/ObjectStorageSettings.test.tsx
  packages/manager/src/features/Account/constants.ts
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettingsDeleteClusterDialog.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/DeleteKubernetesClusterDialog.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/DeleteKubernetesClusterDialog.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeSettings/LinodeSettingsDeletePanel.tsx
  packages/manager/src/features/Linodes/LinodesLanding/DeleteLinodeDialog.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDeleteDialog.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDeleteDialog.tsx
  packages/manager/src/features/ObjectStorage/BucketLanding/OMC_BucketLanding.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDeleteModal.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDeleteModal.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetDeleteDialog.test.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetDeleteDialog.tsx
  packages/manager/src/features/VPCs/VPCLanding/VPCDeleteDialog.tsx
  packages/manager/src/features/Volumes/Dialogs/DeleteVolumeDialog.tsx
  packages/manager/src/features/Volumes/Dialogs/DetachVolumeDialog.tsx
  packages/ui/.changeset/pr-11469-added-1735867052403.md
  packages/ui/.changeset/pr-11469-added-1735867206808.md
  packages/ui/.changeset/pr-11469-fixed-1735867161139.md
  packages/ui/src/components/Button/Button.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Notice/Notice.tsx
  packages/ui/src/foundations/themes/dark.ts
  packages/ui/src/foundations/themes/index.ts
  packages/ui/src/foundations/themes/light.ts
Labels: Approved

#11395 feat: [M3-8936] - Add Date Presets Functionality to Date Picker component.
  packages/manager/.changeset/pr-11395-added-1734381247482.md
  packages/manager/src/components/DatePicker/DateTimePicker.tsx
  packages/manager/src/components/DatePicker/DateTimeRangePicker.stories.tsx
  packages/manager/src/components/DatePicker/DateTimeRangePicker.test.tsx
  packages/manager/src/components/DatePicker/DateTimeRangePicker.tsx
Labels: Approved, Date Range Picker

#11481 change: [UIE-8228] - Database Resize: disable same size plan
  packages/manager/.changeset/pr-11481-changed-1736250933443.md
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseResize/DatabaseResize.test.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseResize/DatabaseResize.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseResize/DatabaseResize.utils.tsx
Labels: DBaaS, Approved

#11502 test: Fix `DateTimeRangePicker` unit test failure
  packages/manager/src/components/DatePicker/DateTimeRangePicker.test.tsx
Labels: Approved

#11500 fix: Preferences type_to_confirm being undefined no longer causes button to be disabled
  packages/manager/src/components/DeletionDialog/DeletionDialog.stories.tsx
  packages/manager/src/components/DeletionDialog/DeletionDialog.test.tsx
  packages/manager/src/components/DeletionDialog/DeletionDialog.tsx
  packages/manager/src/components/TypeToConfirm/TypeToConfirm.test.tsx
  packages/manager/src/components/TypeToConfirm/TypeToConfirm.tsx
  packages/manager/src/components/TypeToConfirmDialog/TypeToConfirmDialog.tsx
  packages/manager/src/features/Domains/DeleteDomain.tsx
  packages/manager/src/features/Domains/DomainsLanding.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeRebuild/RebuildFromImage.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeRebuild/RebuildFromStackScript.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeResize/LinodeResize.tsx
  packages/manager/src/features/Profile/Settings/TypeToConfirm.tsx
Labels: Bug

#11483 refactor: [M3-8246, M3-8252] - Replace Ramda's `splitAt` with custom utility
  packages/manager/.changeset/pr-11483-tech-stories-1736333190430.md
  packages/manager/src/components/OrderBy.tsx
  packages/manager/src/components/Tags/Tags.tsx
  packages/manager/src/features/Domains/DomainActionMenu.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/LinodeConfigActionMenu.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeStorage/LinodeDiskActionMenu.tsx
  packages/manager/src/features/Managed/Monitors/MonitorActionMenu.tsx
  packages/manager/src/features/Search/ResultGroup.tsx
  packages/manager/src/utilities/splitAt.test.ts
  packages/manager/src/utilities/splitAt.ts
Labels: Approved, Tech Debt

#11484 test: [M3-8313] - Move OBJ Multicluster Cypress tests to `ObjectStorageMulticluster`
  packages/manager/.changeset/pr-11484-tests-1736279319564.md
  packages/manager/cypress/e2e/core/objectStorage/access-keys.smoke.spec.ts
  packages/manager/cypress/e2e/core/objectStorage/object-storage.e2e.spec.ts
  packages/manager/cypress/e2e/core/objectStorage/object-storage.smoke.spec.ts
  packages/manager/cypress/e2e/core/objectStorageMulticluster/access-keys-multicluster.spec.ts
  packages/manager/cypress/e2e/core/objectStorageMulticluster/bucket-create-multicluster.spec.ts
  packages/manager/cypress/e2e/core/objectStorageMulticluster/bucket-delete-multicluster.spec.ts
  packages/manager/cypress/e2e/core/objectStorageMulticluster/bucket-details-multicluster.spec.ts
  packages/manager/cypress/e2e/core/objectStorageMulticluster/object-storage-objects-multicluster.spec.ts
Labels: Approved, Ready for Review

#11429 feat: [UIE-8134] - IAM RBAC: add new entities component
  packages/api-v4/.changeset/pr-11429-upcoming-features-1734442308306.md
  packages/api-v4/src/resources/types.ts
  packages/manager/.changeset/pr-11429-upcoming-features-1734442339368.md
  packages/manager/src/factories/accountResources.ts
  packages/manager/src/features/IAM/Shared/Entities/Entities.test.tsx
  packages/manager/src/features/IAM/Shared/Entities/Entities.tsx
  packages/manager/src/features/IAM/Shared/utilities.ts
  packages/manager/src/features/IAM/Users/UserRoles/UserRoles.tsx
  packages/manager/src/mocks/serverHandlers.ts
Labels: Approved, IAM (Identity & Access Management)

#11447 refactor: [M3-9016] - Convert `DomainRecords.tsx` to functional component
  packages/manager/.changeset/pr-11447-tech-stories-1734960446943.md
  packages/manager/src/components/ConfirmationDialog/ConfirmationDialog.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainDetail.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/DomainRecordActionMenu.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/DomainRecordDrawer.test.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/DomainRecordDrawer.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/DomainRecordTable.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/DomainRecords.styles.ts
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/DomainRecords.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/DomainRecordsUtils.ts
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/generateTypes.tsx
  packages/manager/src/features/Domains/DomainRecords.tsx
Labels: Approved

#11488 refactor: [M3-9031] - Replace one-off hardcoded color values with color tokens pt5
  packages/manager/.changeset/pr-11488-tech-stories-1736320081038.md
  packages/manager/src/components/EnhancedSelect/components/DropdownIndicator.tsx
  packages/manager/src/components/Uploaders/FileUpload.styles.ts
  packages/manager/src/components/Uploaders/ImageUploader/ImageUploader.tsx
  packages/manager/src/features/Kubernetes/KubeCheckoutBar/KubeCheckoutSummary.styles.ts
  packages/manager/src/features/Linodes/LinodesDetail/LinodeSummary/LinodeSummary.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeSummary/NetworkGraphs.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerSummary/TablesPanel.tsx
  packages/manager/src/features/Profile/AuthenticationSettings/PhoneVerification/PhoneVerification.tsx
Labels: Approved, Design Tokens

#11452 change: [M3-9003] – CDS: Restructure Top Menu Design with Akamai Logo and CDS Compass Updates
  packages/manager/package.json
  packages/manager/src/MainContent.tsx
  packages/manager/src/Root.tsx
  packages/manager/src/assets/icons/add.svg
  packages/manager/src/assets/icons/community_nav.svg
  packages/manager/src/assets/icons/get_help.svg
  packages/manager/src/assets/icons/keyboardarrowdown.svg
  packages/manager/src/assets/icons/keyboardarrowup.svg
  packages/manager/src/assets/icons/notification.svg
  packages/manager/src/assets/icons/search.svg
  packages/manager/src/components/Avatar/Avatar.tsx
  packages/manager/src/components/PrimaryNav/PrimaryNav.styles.ts
  packages/manager/src/components/PrimaryNav/PrimaryNav.test.tsx
  packages/manager/src/components/PrimaryNav/PrimaryNav.tsx
  packages/manager/src/components/PrimaryNav/PrimaryNavToggle.tsx
  packages/manager/src/components/PrimaryNav/SideMenu.tsx
  packages/manager/src/features/TopMenu/Community.tsx
  packages/manager/src/features/TopMenu/CreateMenu/CreateMenu.styles.ts
  packages/manager/src/features/TopMenu/CreateMenu/CreateMenu.tsx
  packages/manager/src/features/TopMenu/Help.tsx
  packages/manager/src/features/TopMenu/InternalAdminBanner.tsx
  packages/manager/src/features/TopMenu/NotificationMenu/NotificationMenu.tsx
  packages/manager/src/features/TopMenu/SearchBar/SearchBar.styles.ts
  packages/manager/src/features/TopMenu/SearchBar/SearchBar.tsx
  packages/manager/src/features/TopMenu/TopMenu.stories.tsx
  packages/manager/src/features/TopMenu/TopMenu.tsx
  packages/manager/src/features/TopMenu/TopMenuTooltip.tsx
  packages/manager/src/features/TopMenu/UserMenu/UserMenu.tsx
  packages/manager/src/features/TopMenu/UserMenu/UserMenuPopover.tsx
  packages/manager/src/features/TopMenu/constants.ts
  packages/manager/src/hooks/useAccountManagement.ts
  packages/manager/src/index.css
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/foundations/themes/dark.ts
  packages/ui/src/foundations/themes/light.ts
  yarn.lock
Labels: Design Tokens

#11480 change: [M3-9067] - Improve Backups Banner Styles and Refactor Notice Component
  packages/manager/.changeset/pr-11480-changed-1736262405005.md
  packages/manager/cypress/e2e/core/account/account-cancellation.spec.ts
  packages/manager/cypress/e2e/core/linodes/plan-selection.spec.ts
  packages/manager/src/components/DismissibleBanner/DismissibleBanner.styles.ts
  packages/manager/src/components/DismissibleBanner/DismissibleBanner.tsx
  packages/manager/src/features/Backups/BackupsCTA.styles.ts
  packages/manager/src/features/Backups/BackupsCTA.tsx
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
  packages/manager/src/features/GlobalNotifications/EmailBounce.tsx
  packages/manager/src/features/GlobalNotifications/VerificationDetailsBanner.tsx
  packages/manager/src/features/Kubernetes/KubernetesLanding/KubernetesLanding.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetailPanel.test.tsx
  packages/ui/.changeset/pr-11480-changed-1736262442937.md
  packages/ui/.changeset/pr-11480-removed-1736802565293.md
  packages/ui/src/components/Notice/Notice.styles.ts
  packages/ui/src/components/Notice/Notice.test.tsx
  packages/ui/src/components/Notice/Notice.tsx
Labels: Enhancement, UX/UI, Approved

#11477 upcoming: [DI-22132] - Added criteria section in alert details page for ACLP Alerting
  packages/manager/.changeset/pr-11477-upcoming-features-1736156265225.md
  packages/manager/src/factories/cloudpulse/alerts.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetail.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetail.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailCriteria.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailCriteria.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailRow.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/DisplayAlertDetailChips.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/RenderAlertsMetricsAndDimensions.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
  packages/manager/src/mocks/serverHandlers.ts
Labels: Cloud Pulse, Cloud Pulse - Alerting

#11513 change: Update understanding bucket rate limits for OBJ Gen2
  packages/manager/.changeset/pr-11513-changed-1736782843874.md
  packages/manager/src/features/ObjectStorage/BucketLanding/BucketRateLimitTable.tsx
Labels: Approved, Object Storage Gen2

#11516 fix: [M3-9086] – Revise description of "Add Node Pools" section on LKE Create page
  packages/manager/CHANGELOG.md
  packages/manager/src/features/Kubernetes/ClusterList/constants.ts
  packages/manager/src/features/Kubernetes/CreateCluster/NodePoolPanel.tsx
Labels: LKE, Approved, Linode Disk Encryption (LDE)

#11506 upcoming: [DI-22714] - Metrics and JWE Token api request update in CloudPulse
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/.changeset/pr-11506-upcoming-features-1736518383049.md
  packages/manager/src/factories/dashboards.ts
  packages/manager/src/features/CloudPulse/Dashboard/CloudPulseDashboard.tsx
  packages/manager/src/features/CloudPulse/Utils/CloudPulseWidgetUtils.ts
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidget.test.tsx
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidget.tsx
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidgetRenderer.tsx
  packages/manager/src/queries/cloudpulse/metrics.ts
  packages/manager/src/queries/cloudpulse/queries.ts
Labels: Approved

#11505 refactor: [M3-8252] - Remove ramda from `CreateDomain.tsx`
  packages/manager/.changeset/pr-11505-tech-stories-1736510197103.md
  packages/manager/src/features/Domains/CreateDomain/CreateDomain.tsx
Labels: Approved, Tech Debt

#11490 refactor: [M3-9053] - Reroute Longview
  packages/manager/.eslintrc.cjs
  packages/manager/src/MainContent.tsx
  packages/manager/src/components/Tabs/TanStackTabLinkList.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/DomainRecords.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/ActiveConnections/ActiveConnections.test.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/ActiveConnections/ActiveConnections.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/ListeningServices/ListeningServices.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/Processes/ProcessesTable.test.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/Processes/ProcessesTable.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/TopProcesses.test.tsx
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/TopProcesses.tsx
  packages/manager/src/features/Longview/LongviewDetail/LongviewDetail.tsx
  packages/manager/src/features/Longview/LongviewLanding/LongviewClients.tsx
  packages/manager/src/features/Longview/LongviewLanding/LongviewLanding.test.tsx
  packages/manager/src/features/Longview/LongviewLanding/LongviewLanding.tsx
  packages/manager/src/features/Longview/index.tsx
  packages/manager/src/hooks/useOrderV2.test.tsx
  packages/manager/src/hooks/useOrderV2.ts
  packages/manager/src/hooks/useTabs.ts
  packages/manager/src/mocks/serverHandlers.ts
  packages/manager/src/routes/index.tsx
  packages/manager/src/routes/longview/LongviewRoute.tsx
  packages/manager/src/routes/longview/index.ts
  packages/manager/src/routes/longview/longviewLazyRoutes.tsx
  packages/manager/src/routes/routes.test.tsx
  packages/manager/src/routes/utils/allPaths.ts
  packages/manager/src/utilities/testHelpers.tsx
Labels: Approved, Routing Refactor

#11487 change: [M3-8956] - Update `tsconfig.json`s to use `bundler` moduleResolution
  packages/api-v4/.changeset/pr-11487-tech-stories-1736286017541.md
  packages/api-v4/src/request.test.ts
  packages/api-v4/tsconfig.json
  packages/manager/.changeset/pr-11487-tech-stories-1736286047440.md
  packages/manager/cypress/tsconfig.json
  packages/manager/src/factories/types.ts
  packages/manager/src/features/Support/SupportTickets/SupportTicketDialog.tsx
  packages/manager/src/queries/volumes/volumes.ts
  packages/manager/tsconfig.json
  packages/search/tsconfig.json
  packages/validation/.changeset/pr-11487-tech-stories-1736286059147.md
  packages/validation/tsconfig.json
Labels: Approved, Tech Debt

#11515 upcoming: [M3-9084] - Handle edge cases with UDP NodeBalancer
  packages/api-v4/.changeset/pr-11515-changed-1736786729001.md
  packages/api-v4/src/nodebalancers/types.ts
  packages/manager/.changeset/pr-11515-upcoming-features-1736787005749.md
  packages/manager/src/features/NodeBalancers/NodeBalancerConfigNode.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerConfigurations.tsx
  packages/manager/src/features/NodeBalancers/utils.ts
  packages/validation/.changeset/pr-11515-changed-1736786649145.md
  packages/validation/src/nodebalancers.schema.ts
Labels: Approved, NodeBalancers

#11508 test: [M3-8692] - Component tests for PasswordInput
  packages/manager/.changeset/pr-11508-tests-1736539546177.md
  packages/manager/cypress/component/components/password-input.spec.tsx
  packages/manager/src/components/PasswordInput/HideShowText.stories.tsx
  packages/manager/src/components/PasswordInput/PasswordInput.stories.tsx
  packages/manager/src/components/PasswordInput/StrengthIndicator.stories.tsx
Labels: Testing, Approved

#11510 deps: [M3-9082, M3-9083] - Dependabot Fixes
  package.json
  packages/manager/.changeset/pr-11510-tech-stories-1736865158796.md
  packages/manager/package.json
  yarn.lock
Labels: Dependencies, Security, Approved

#11489 fix: [M3-9073] - Fix duplicate specs in Cypress Slack / GH notifications
  packages/manager/.changeset/pr-11489-tests-1736348080190.md
  scripts/junit-summary/formatters/slack-formatter.ts
  scripts/junit-summary/util/cypress.ts
Labels: Approved, Ready for Review

#11495 feat: [DI-22550] - Enhance date range picker component
  packages/manager/.changeset/pr-11495-changed-1736782822155.md
  packages/manager/src/assets/timezones/timezones.ts
  packages/manager/src/components/DatePicker/DateTimePicker.tsx
  packages/manager/src/components/DatePicker/DateTimeRangePicker.stories.tsx
  packages/manager/src/components/DatePicker/DateTimeRangePicker.test.tsx
  packages/manager/src/components/DatePicker/DateTimeRangePicker.tsx
Labels: Approved, Date Range Picker

#11493 upcoming: [M3-8921] - Limits Evolution foundations
  packages/api-v4/.changeset/pr-11493-added-1736811098382.md
  packages/api-v4/src/index.ts
  packages/api-v4/src/quotas/index.ts
  packages/api-v4/src/quotas/quotas.ts
  packages/api-v4/src/quotas/types.ts
  packages/manager/.changeset/pr-11493-upcoming-1736811045709.md
  packages/manager/src/dev-tools/FeatureFlagTool.tsx
  packages/manager/src/factories/quotas.ts
  packages/manager/src/featureFlags.ts
  packages/manager/src/mocks/presets/baseline/crud.ts
  packages/manager/src/mocks/presets/crud/handlers/quotas.ts
  packages/manager/src/mocks/presets/crud/quotas.ts
  packages/manager/src/mocks/types.ts
  packages/manager/src/queries/quotas/quotas.ts
  packages/manager/src/queries/quotas/requests.ts
Labels: Approved, Ready for Review, Limits

#11522 test: [M3-9123] - Reset test account preferences when Cypress starts
  .github/workflows/e2e_schedule_and_push.yml
  docker-compose.yml
  docs/development-guide/08-testing.md
  packages/manager/.changeset/pr-11522-tests-1737048531721.md
  packages/manager/cypress.config.ts
  packages/manager/cypress/support/plugins/reset-user-preferences.ts
Labels: Approved

#11526 fix: [DI-22875] - Zoom-in icon hover effect fix in CloudPulse
  packages/manager/.changeset/pr-11526-fixed-1737034837256.md
  packages/manager/cypress/e2e/core/cloudpulse/dbaas-widgets-verification.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/linode-widget-verification.spec.ts
  packages/manager/src/assets/icons/zoomin.svg
  packages/manager/src/assets/icons/zoomout.svg
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidget.test.tsx
  packages/manager/src/features/CloudPulse/Widget/components/Zoomer.test.tsx
  packages/manager/src/features/CloudPulse/Widget/components/Zoomer.tsx
Labels: Approved, Cloud Pulse

#11514 refactor: [M3-8252] - Remove ramda from `DomainRecords` (Part 1)
  packages/manager/.changeset/pr-11514-tech-stories-1736784891293.md
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/DomainRecordActionMenu.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/DomainRecords.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/DomainRecordsUtils.ts
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/generateTypes.tsx
Labels: Approved, Tech Debt

#11402 feat: [UIE-8136] - IAM RBAC: add new users table component (part 2)
  packages/manager/.changeset/pr-11402-added-1736419050008.md
  packages/manager/.changeset/pr-11402-upcoming-features-1733927050433.md
  packages/manager/src/features/IAM/Shared/UserDeleteConfirmation.tsx
  packages/manager/src/features/IAM/Users/UsersTable/CreateUserDrawer.test.tsx
  packages/manager/src/features/IAM/Users/UsersTable/CreateUserDrawer.tsx
  packages/manager/src/features/IAM/Users/UsersTable/ProxyUserTable.tsx
  packages/manager/src/features/IAM/Users/UsersTable/Users.tsx
  packages/manager/src/features/IAM/Users/UsersTable/UsersLandingProxyTableHead.test.tsx
  packages/manager/src/features/IAM/Users/UsersTable/UsersLandingProxyTableHead.tsx
  packages/manager/src/queries/account/users.ts
Labels: Approved, IAM (Identity & Access Management)

#11518 upcoming: [M3-9071] - Display cluster provisioning after an LKE-E cluster is created
  packages/manager/.changeset/pr-11518-upcoming-features-1736876400893.md
  packages/manager/cypress/e2e/core/kubernetes/lke-create.spec.ts
  packages/manager/src/assets/icons/empty-state-cloud.svg
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubernetesClusterDetail.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePool.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePoolsDisplay.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePoolsDisplay.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodeTable.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodeTable.tsx
Labels: Approved, LKE-Enterprise

#11524 upcoming: [DI-22838] - Add Scaffolding for resources section in Cloud Pulse Alert details page
  packages/manager/.changeset/pr-11524-upcoming-features-1737011022935.md
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetail.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetail.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsRegionFilter.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsRegionFilter.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/DisplayAlertResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertResourceUtils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertResourceUtils.ts
Labels: Approved, Cloud Pulse, Cloud Pulse - Alerting

#11531 deps: [M3-9135] - Upgrade to TypeScript v5.7
  package.json
  packages/manager/.changeset/pr-11531-tech-stories-1737051309899.md
  packages/manager/src/components/Uploaders/reducer.test.ts
  yarn.lock
Labels: Dependencies, Approved

#11536 change: [M3-9132] – Revise description for "Disk Encryption" section in Linode Create flow
  packages/manager/.changeset/pr-11536-changed-1737152603420.md
  packages/manager/cypress/e2e/core/linodes/create-linode-with-disk-encryption.spec.ts
  packages/manager/src/components/Encryption/Encryption.test.tsx
  packages/manager/src/components/Encryption/Encryption.tsx
  packages/manager/src/components/Encryption/constants.tsx
Labels: Approved, Linode Disk Encryption (LDE)

#11511 upcoming: [DI - 22836] - Added AddNotificationChannel component
  packages/api-v4/.changeset/pr-11511-added-1736761634591.md
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/.changeset/pr-11511-added-1736761595455.md
  packages/manager/src/factories/cloudpulse/channels.ts
  packages/manager/src/factories/index.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/CreateAlertDefinition.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/NotificationChannels/AddNotificationChannel.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/NotificationChannels/AddNotificationChannel.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/schemas.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/types.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
Labels: Cloud Pulse, Cloud Pulse - Alerting

#11535 fix: Notice alignment and Linode details button spacing
  packages/manager/src/components/ConfirmationDialog/ConfirmationDialog.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/AutoscalePoolDialog.tsx
  packages/manager/src/features/Linodes/LinodeEntityDetailHeader.tsx
  packages/manager/src/features/Linodes/PowerActionsDialogOrDrawer.tsx
  packages/ui/src/components/Notice/Notice.styles.ts
Labels: Bug, Approved

#11529 test: [M3-9131] - Increase Linode clone timeout to 5 minutes
  packages/manager/.changeset/pr-11529-tests-1737049089021.md
  packages/manager/cypress/e2e/core/linodes/clone-linode.spec.ts
  packages/manager/cypress/e2e/core/linodes/linode-config.spec.ts
  packages/manager/cypress/support/constants/linodes.ts
Labels: Approved

#11521 change: Improve search syntax for `+neq`
  packages/manager/.changeset/pr-11521-changed-1736978874581.md
  packages/search/README.md
  packages/search/src/search.peggy
  packages/search/src/search.test.ts
Labels: Approved, Search

#11470 refactor: [M3-6916] Replace EnhancedSelect with Autocomplete in: help
  packages/manager/.changeset/pr-11470-tech-stories-1735907007536.md
  packages/manager/src/features/Help/Panels/AlgoliaSearchBar.tsx
  packages/manager/src/features/Help/Panels/SearchItem.tsx
  packages/manager/src/features/Help/SearchHOC.tsx
  packages/ui/src/foundations/breakpoints.ts
  packages/ui/src/foundations/themes/dark.ts
  packages/ui/src/foundations/themes/index.ts
  packages/ui/src/foundations/themes/light.ts
Labels: Approved, Ready for Review

#11539 fix: [UIE-8386] - IAM RBAC: fix redirects to old route
  packages/manager/.changeset/pr-11539-upcoming-features-1737537564184.md
  packages/manager/src/features/IAM/Users/UserDetails/DeleteUserPanel.tsx
  packages/manager/src/features/IAM/Users/UserDetails/UsernamePanel.tsx
  packages/manager/src/features/IAM/Users/UsersTable/CreateUserDrawer.tsx
Labels: Approved, IAM (Identity & Access Management)

#11544 feat: [M3-9158] - Add GPU plans support for LKE in Cloud Manager
  packages/manager/.changeset/pr-11544-added-1737522840655.md
  packages/manager/cypress/e2e/core/linodes/plan-selection.spec.ts
  packages/manager/src/features/Kubernetes/CreateCluster/NodePoolPanel.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/AddNodePoolDrawer.tsx
  packages/manager/src/features/Kubernetes/KubernetesPlansPanel/KubernetesPlanContainer.tsx
  packages/manager/src/features/Kubernetes/KubernetesPlansPanel/KubernetesPlanSelectionTable.tsx
  packages/manager/src/features/Kubernetes/KubernetesPlansPanel/KubernetesPlansPanel.tsx
  packages/manager/src/features/components/PlansPanel/PlanContainer.tsx
  packages/manager/src/features/components/PlansPanel/PlanInformation.test.tsx
  packages/manager/src/features/components/PlansPanel/PlanInformation.tsx
  packages/manager/src/features/components/PlansPanel/PlansPanel.tsx
Labels: Approved

#11542 fix: [M3-9156] - Linode Config Dialog misrepresenting primary interface
  packages/manager/.changeset/pr-11542-fixed-1737484177266.md
  packages/manager/cypress/e2e/core/vpc/vpc-details-page.spec.ts
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/LinodeConfigDialog.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/utilities.test.ts
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/utilities.ts
  packages/manager/src/features/VPCs/utils.ts
  packages/validation/src/linodes.schema.ts
Labels: Bug, Approved, Linodes

#11527 upcoming: [M3-9087] - Add new API types and endpoints for `/v4/linodes/instances`
  packages/api-v4/.changeset/pr-11527-upcoming-features-1737049095802.md
  packages/api-v4/src/account/types.ts
  packages/api-v4/src/linodes/configs.ts
  packages/api-v4/src/linodes/linode-interfaces.ts
  packages/api-v4/src/linodes/types.ts
  packages/manager/.changeset/pr-11527-upcoming-features-1737154154102.md
  packages/manager/src/features/Events/factories/index.ts
  packages/manager/src/features/Events/factories/interface.tsx
  packages/validation/.changeset/pr-11527-changed-1737049145341.md
  packages/validation/.changeset/pr-11527-upcoming-features-1737049196660.md
  packages/validation/src/linodes.schema.ts
Labels: Approved, Ready for Review, Linode Interfaces

#11474 tech-story: [M3-9052] - Migrate PlacementGroups to Tanstack router
  packages/manager/.changeset/pr-11474-tech-stories-1736547433123.md
  packages/manager/.eslintrc.cjs
  packages/manager/cypress/e2e/core/linodes/resize-linode.spec.ts
  packages/manager/cypress/e2e/core/placementGroups/delete-placement-groups.spec.ts
  packages/manager/cypress/e2e/core/placementGroups/placement-groups-linode-assignment.spec.ts
  packages/manager/cypress/e2e/core/placementGroups/update-placement-group-label.spec.ts
  packages/manager/src/MainContent.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsAssignLinodesDrawer.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsCreateDrawer.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsCreateDrawer.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDeleteModal.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDeleteModal.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsDetail.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsDetail.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsLinodes/PlacementGroupsLinodes.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsLinodes/PlacementGroupsLinodes.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsLinodes/PlacementGroupsLinodesTable.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsLinodes/PlacementGroupsLinodesTable.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsLinodes/PlacementGroupsLinodesTableRow.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsLinodes/PlacementGroupsLinodesTableRow.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetail/PlacementGroupsSummary/PlacementGroupsSummary.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDetailPanel.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsEditDrawer.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsEditDrawer.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsLanding/PlacementGroupsLanding.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsLanding/PlacementGroupsLanding.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsLanding/PlacementGroupsRow.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsUnassignModal.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsUnassignModal.tsx
  packages/manager/src/features/PlacementGroups/constants.ts
  packages/manager/src/features/PlacementGroups/index.tsx
  packages/manager/src/features/PlacementGroups/types.ts
  packages/manager/src/routes/index.tsx
  packages/manager/src/routes/placementGroups/PlacementGroupsRoute.tsx
  packages/manager/src/routes/placementGroups/index.ts
  packages/manager/src/routes/placementGroups/placementGroupsLazyRoutes.ts
Labels: Approved, Routing Refactor

#11528 feat: [M3-8856] - Surface Labels and Taints for LKE node pools - Part 1
  packages/api-v4/.changeset/pr-11528-added-1737508182654.md
  packages/api-v4/src/kubernetes/types.ts
  packages/manager/.changeset/pr-11528-tests-1737064710212.md
  packages/manager/.changeset/pr-11528-upcoming-features-1737064671140.md
  packages/manager/cypress/e2e/core/kubernetes/lke-update.spec.ts
  packages/manager/src/factories/kubernetesCluster.ts
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/LabelsAndTaints/LabelAndTaintDrawer.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/LabelsAndTaints/LabelTable.styles.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/LabelsAndTaints/LabelTable.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/LabelsAndTaints/TaintTable.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePool.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePoolsDisplay.tsx
Labels: LKE, Approved, LKE-Enterprise

#11548 deps: [M3-9043., M3-9045] - Upgrade Vite to v6 and Vitest to v3
  package.json
  packages/manager/.changeset/pr-11548-tech-stories-1737578573325.md
  packages/manager/.changeset/pr-11548-tech-stories-1737578595252.md
  packages/manager/package.json
  yarn.lock
Labels: Dependencies, Approved

#11537 refactor: [M3-8801] - Remove Individual Product Entity Icons
  packages/manager/.changeset/pr-11537-tech-stories-1737536240938.md
  packages/manager/src/assets/addnewmenu/domain.svg
  packages/manager/src/assets/addnewmenu/kubernetes.svg
  packages/manager/src/assets/addnewmenu/linode.svg
  packages/manager/src/assets/addnewmenu/nodebalancer.svg
  packages/manager/src/assets/addnewmenu/oneclick.svg
  packages/manager/src/assets/addnewmenu/stackscripts.svg
  packages/manager/src/assets/addnewmenu/volume.svg
  packages/manager/src/assets/icons/LKEplusSign.svg
  packages/manager/src/assets/icons/account.svg
  packages/manager/src/assets/icons/diagonalArrow.svg
  packages/manager/src/assets/icons/entityIcons/beta.svg
  packages/manager/src/assets/icons/entityIcons/compute.svg
  packages/manager/src/assets/icons/entityIcons/domain.svg
  packages/manager/src/assets/icons/entityIcons/firewall.svg
  packages/manager/src/assets/icons/entityIcons/image.svg
  packages/manager/src/assets/icons/entityIcons/kubernetes.svg
  packages/manager/src/assets/icons/entityIcons/managed.svg
  packages/manager/src/assets/icons/entityIcons/nodebalancer.svg
  packages/manager/src/assets/icons/entityIcons/oneclick.svg
  packages/manager/src/assets/icons/entityIcons/placement-groups.svg
  packages/manager/src/assets/icons/entityIcons/stackscript.svg
  packages/manager/src/assets/icons/entityIcons/storage.svg
  packages/manager/src/assets/icons/entityIcons/volume.svg
  packages/manager/src/assets/icons/entityIcons/vpc.svg
  packages/manager/src/assets/icons/guides.svg
  packages/manager/src/assets/icons/help.svg
  packages/manager/src/assets/icons/keyboardarrowdown.svg
  packages/manager/src/assets/icons/keyboardarrowup.svg
  packages/manager/src/assets/icons/longview.svg
  packages/manager/src/assets/icons/objectStorage/folder.svg
  packages/manager/src/assets/icons/objectStorage/object.svg
  packages/manager/src/components/EmptyLandingPageResources/ResourcesSection.stories.tsx
  packages/manager/src/components/EntityIcon/EntityIcon.stories.tsx
  packages/manager/src/components/EntityIcon/EntityIcon.tsx
  packages/manager/src/components/Placeholder/Placeholder.test.tsx
  packages/manager/src/components/Placeholder/Placeholder.tsx
  packages/manager/src/components/PrimaryNav/PrimaryNav.tsx
  packages/manager/src/features/Domains/DomainsEmptyLandingPage.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallLandingEmptyState.tsx
  packages/manager/src/features/Images/ImagesLanding/ImagesLandingEmptyState.tsx
  packages/manager/src/features/Kubernetes/KubernetesLanding/KubernetesLandingEmptyState.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/Images.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeBackup/BackupsPlaceholder.tsx
  packages/manager/src/features/Linodes/LinodesLanding/LinodesLandingEmptyState.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/NodeBalancersLandingEmptyState.tsx
  packages/manager/src/features/ObjectStorage/BucketDetail/FolderTableRow.tsx
  packages/manager/src/features/ObjectStorage/BucketDetail/ObjectTableRow.tsx
  packages/manager/src/features/ObjectStorage/BucketLanding/StylesBucketIcon.ts
  packages/manager/src/features/PlacementGroups/PlacementGroupsLanding/PlacementGroupsLandingEmptyState.tsx
  packages/manager/src/features/StackScripts/StackScriptBase/StackScriptBase.tsx
  packages/manager/src/features/StackScripts/StackScriptBase/StackScriptsEmptyLandingPage.tsx
  packages/manager/src/features/TopMenu/CreateMenu/CreateMenu.tsx
  packages/manager/src/features/TopMenu/SearchBar/SearchSuggestion.tsx
  packages/manager/src/features/VPCs/VPCLanding/VPCEmptyState.tsx
Labels: Approved, Design Tokens

#11543 change: [DI-22875] - Changed the validation error messages, tool-tip texts and minor changes
  packages/manager/.changeset/pr-11543-upcoming-features-1737499920979.md
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/CreateAlertDefinition.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterField.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterField.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/Metric.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/Metric.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/TriggerConditions.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/TriggerConditions.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/schemas.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
  packages/validation/.changeset/pr-11543-upcoming-features-1737560274054.md
  packages/validation/src/cloudpulse.schema.ts
Labels: Approved, Cloud Pulse, Cloud Pulse - Alerting

#11530 test: [M3-9030] - Object Storage Gen2 Warning Notice Missing Region Names for Unavailable Regions
  packages/manager/.changeset/pr-11530-tests-1737132413286.md
  packages/manager/cypress/e2e/core/objectStorageGen2/bucket-object-gen2.spec.ts
  packages/manager/cypress/support/intercepts/object-storage.ts
Labels: Object Storage, Approved

#11541 upcoming: [DI-23081] - Add filtering, pagination and sorting for resources section in CloudPulse alerts show details page
  packages/manager/.changeset/pr-11541-upcoming-features-1737477406490.md
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/DisplayAlertResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertResourceUtils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertResourceUtils.ts
Labels: Add'tl Approval Needed, Ready for Review, Cloud Pulse, Cloud Pulse - Alerting

#11561 fix: Cypress tests failing in Github Actions, fix `resize-linode.spec.ts` failure, address `DatabaseBackups.test.tsx` flake
  packages/manager/.changeset/pr-11561-tests-1737675052334.md
  packages/manager/.changeset/pr-11561-tests-1737675335132.md
  packages/manager/cypress/e2e/core/linodes/resize-linode.spec.ts
  packages/manager/cypress/support/plugins/configure-browser.ts
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseBackups/DatabaseBackups.test.tsx
Labels: e2e, github_actions

#11551 upcoming: [M3-9064] - Quotas tab placeholder
  packages/api-v4/.changeset/pr-11551-changed-1737735976057.md
  packages/api-v4/src/quotas/types.ts
  packages/manager/.changeset/pr-11551-upcoming-features-1737587942784.md
  packages/manager/src/features/Account/AccountLanding.tsx
  packages/manager/src/features/Account/Quotas.tsx
  packages/manager/src/features/TopMenu/UserMenu/UserMenu.tsx
  packages/manager/src/mocks/presets/crud/handlers/quotas.ts
Labels: Approved, Limits

#11562 upcoming: [M3-9089, M3-9091] - Update `/v4/account` and `/v4/vpcs` endpoints and types for Linode Interfaces
  packages/api-v4/.changeset/pr-11562-added-1737736507400.md
  packages/api-v4/.changeset/pr-11562-changed-1737736533523.md
  packages/api-v4/.changeset/pr-11562-upcoming-features-1737734151999.md
  packages/api-v4/src/account/types.ts
  packages/api-v4/src/entity-transfers/transfers.ts
  packages/api-v4/src/index.ts
  packages/api-v4/src/service-transfers/index.ts
  packages/api-v4/src/service-transfers/service-transfers.ts
  packages/api-v4/src/vpcs/types.ts
  packages/api-v4/src/vpcs/vpcs.ts
  packages/manager/cypress/e2e/core/linodes/create-linode-with-vpc.spec.ts
  packages/manager/src/factories/accountSettings.ts
  packages/manager/src/factories/subnets.ts
  packages/manager/src/features/VPCs/utils.test.ts
  packages/validation/.changeset/pr-11562-upcoming-features-1737734183886.md
  packages/validation/src/account.schema.ts
Labels: Approved, Linode Interfaces

#11534 upcoming: [M3-9141] - Add `udp_check_port` support to NodeBalancers
  packages/manager/.changeset/pr-11534-changed-1737137202046.md
  packages/manager/.changeset/pr-11534-upcoming-features-1737137247205.md
  packages/manager/cypress/e2e/core/nodebalancers/smoke-create-nodebal.spec.ts
  packages/manager/src/features/NodeBalancers/NodeBalancerActiveCheck.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerConfigPanel.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerConfigPanel.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerCreate.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerConfigurations.tsx
  packages/manager/src/features/NodeBalancers/types.ts
  packages/manager/src/features/NodeBalancers/utils.ts
Labels: Approved, NodeBalancers

#11565 fix: Only show new 'Quotas' link in user menu when feature flag is enabled
  packages/manager/src/features/TopMenu/UserMenu/UserMenu.tsx
Labels: Bug, Approved, Limits

#11550 feat: [M3-8717] - Improve region filter loading state in Linodes Landing
  packages/manager/.changeset/pr-11550-added-1737584809897.md
  packages/manager/cypress/e2e/core/placementGroups/delete-placement-groups.spec.ts
  packages/manager/src/features/Linodes/LinodesLanding/DisplayGroupedLinodes.tsx
  packages/manager/src/features/Linodes/LinodesLanding/DisplayLinodes.tsx
  packages/manager/src/features/Linodes/LinodesLanding/LinodesLanding.tsx
  packages/manager/src/features/Linodes/index.tsx
  packages/manager/src/queries/linodes/linodes.ts
Labels: Approved, Gecko LA

#11532 refactor: [M3-8846] - Refactor StackScript Create, Edit, and Details pages
  packages/manager/.changeset/pr-11532-changed-1737575484068.md
  packages/manager/.changeset/pr-11532-tech-stories-1737079971392.md
  packages/manager/cypress/e2e/core/stackscripts/create-stackscripts.spec.ts
  packages/manager/cypress/e2e/core/stackscripts/update-stackscripts.spec.ts
  packages/manager/src/components/LandingHeader/LandingHeader.tsx
  packages/manager/src/components/StackScript/StackScript.tsx
  packages/manager/src/features/StackScripts/StackScriptCreate/StackScriptCreate.test.tsx
  packages/manager/src/features/StackScripts/StackScriptCreate/StackScriptCreate.tsx
  packages/manager/src/features/StackScripts/StackScriptEdit.tsx
  packages/manager/src/features/StackScripts/StackScriptForm/StackScriptForm.styles.ts
  packages/manager/src/features/StackScripts/StackScriptForm/StackScriptForm.test.tsx
  packages/manager/src/features/StackScripts/StackScriptForm/StackScriptForm.tsx
  packages/manager/src/features/StackScripts/StackScripts.tsx
  packages/manager/src/features/StackScripts/StackScriptsDetail.tsx
  packages/manager/src/features/StackScripts/stackScriptUtils.ts
  packages/manager/src/queries/stackscripts.ts
  packages/manager/src/routes/stackscripts/index.tsx
  packages/ui/src/components/TextField/TextField.tsx
  packages/validation/src/stackscripts.schema.ts
Labels: Approved, Tech Debt, StackScripts

#11567 feat: [M3-9170] - Allow Firewall Assignment from Entity Details Pages
  packages/manager/.changeset/pr-11567-added-1737998812468.md
  packages/manager/.changeset/pr-11567-tests-1737998879073.md
  packages/manager/cypress/e2e/core/linodes/linode-network.spec.ts
  packages/manager/cypress/e2e/core/nodebalancers/nodebalancer-settings.spec.ts
  packages/manager/cypress/e2e/core/nodebalancers/smoke-create-nodebal.spec.ts
  packages/manager/cypress/e2e/core/stackscripts/update-stackscripts.spec.ts
  packages/manager/cypress/support/intercepts/firewalls.ts
  packages/manager/cypress/support/intercepts/nodebalancers.ts
  packages/manager/src/features/Events/factories/firewall.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/AddLinodeDrawer.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/AddNodebalancerDrawer.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/FirewallDeviceLanding.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeFirewalls/AddFirewallForm.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeFirewalls/LinodeFirewalls.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/NetworkingSummaryPanel/TransferHistory.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerCreate.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerFirewalls.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerFirewalls.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerSettings.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerSettings.tsx
  packages/manager/src/features/NodeBalancers/utils.ts
  packages/manager/src/features/StackScripts/StackScriptsDetail.tsx
  packages/manager/src/queries/firewalls.ts
Labels: Approved, Linodes, NodeBalancers

#11538 refactor: [M3-9079, M3-9154] - Refactor Domain Record Drawer
  packages/manager/.changeset/pr-11538-tech-stories-1737546975638.md
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/DomainRecordDrawer.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/DomainRecordDrawerFields.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/DomainRecordDrawerUtils.test.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/DomainRecordDrawerUtils.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/generateDrawerTypes.tsx
Labels: Approved, Tech Debt, Domains

#11564 change: [M3-9159] - Enable Pendo based on OneTrust cookie consent
  docs/tooling/analytics.md
  packages/manager/.changeset/pr-11564-tech-stories-1737743829459.md
  packages/manager/src/hooks/usePendo.ts
  packages/manager/src/utilities/analytics/utils.test.ts
  packages/manager/src/utilities/analytics/utils.ts
Labels: Approved, Analytics

#11547 upcoming: [DI-23103] - added AddChannelListing and RenderChannelDetails component to Create-alert-form
  packages/api-v4/.changeset/pr-11547-added-1737560132940.md
  packages/api-v4/src/cloudpulse/alerts.ts
  packages/manager/.changeset/pr-11547-added-1737560105041.md
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/CreateAlertDefinition.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/CreateAlertDefinition.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/NotificationChannels/AddChannelListing.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/NotificationChannels/AddChannelListing.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/NotificationChannels/AddNotificationChannel.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/NotificationChannels/AddNotificationChannelDrawer.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/NotificationChannels/AddNotificationChannelDrawer.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/NotificationChannels/RenderChannelDetails.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/NotificationChannels/RenderChannelDetails.tsx
  packages/manager/src/mocks/serverHandlers.ts
  packages/manager/src/queries/cloudpulse/alerts.ts
  packages/manager/src/queries/cloudpulse/queries.ts
  packages/manager/src/queries/cloudpulse/requests.ts
Labels: Approved, Cloud Pulse, Cloud Pulse - Alerting

#11554 upcoming: [DI-22283] - Add Notification Channel listing section in CloudPulse alert details page
  packages/manager/.changeset/pr-11554-upcoming-features-1737647865734.md
  packages/manager/src/factories/cloudpulse/alerts.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetail.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetail.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailNotification.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailNotification.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.ts
Labels: Approved, Ready for Review, Cloud Pulse, Cloud Pulse - Alerting

#11571 test: [M3-8998] - LKE view/download Kubeconfig from summary page
  packages/manager/.changeset/pr-11571-tests-1738095531248.md
  packages/manager/cypress/e2e/core/kubernetes/lke-summary-page.spec.ts
Labels: Approved

#11560 test: [M3-7511, M3-9147] restricted user has disabled inputs on object storage creation
  packages/manager/.changeset/pr-11560-tests-1737658018185.md
  packages/manager/cypress/e2e/core/objectStorageGen2/bucket-access-keys-gen2.spec.ts
  packages/manager/cypress/e2e/core/objectStorageGen2/bucket-create-gen2.spec.ts
Labels: Approved

#11423 feat: [UIE-8133] - IAM RBAC: add new permissions component
  packages/api-v4/.changeset/pr-11423-upcoming-features-1734356927626.md
  packages/api-v4/src/iam/types.ts
  packages/manager/.changeset/pr-11423-upcoming-features-1734356893434.md
  packages/manager/src/factories/accountPermissions.ts
  packages/manager/src/features/IAM/Shared/Permissions/Permissions.style.ts
  packages/manager/src/features/IAM/Shared/Permissions/Permissions.test.tsx
  packages/manager/src/features/IAM/Shared/Permissions/Permissions.tsx
  packages/manager/src/features/IAM/Users/UserRoles/UserRoles.tsx
Labels: Requires Changes, IAM (Identity & Access Management)

#11473 test: [M3-8895] - Add Cypress test to check Linode clone with null type
  packages/manager/.changeset/pr-11473-tests-1737472486457.md
  packages/manager/cypress/e2e/core/linodes/clone-linode.spec.ts
  packages/manager/cypress/support/intercepts/linodes.ts
Labels: e2e, Approved

#11584 feat: [M3-9092] - Add Feature Flag for Linode Interfaces
  packages/api-v4/.changeset/pr-11584-added-1738172957966.md
  packages/api-v4/src/regions/types.ts
  packages/manager/.changeset/pr-11584-tech-stories-1738170829685.md
  packages/manager/src/dev-tools/FeatureFlagTool.tsx
  packages/manager/src/featureFlags.ts
  packages/manager/src/utilities/linodes.test.ts
  packages/manager/src/utilities/linodes.ts
Labels: Approved, Linode Interfaces

#11575 refactor: [M3-8253] - Replace pathOr ramda function with custom utility - Part 2
  packages/manager/src/features/Longview/LongviewDetail/DetailTabs/Disks/Graphs.tsx
  packages/manager/src/features/Longview/LongviewLanding/LongviewClientHeader.tsx
  packages/manager/src/features/Managed/Contacts/ContactsDrawer.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerCreate.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerConfigurations.tsx
  packages/manager/src/features/StackScripts/StackScriptBase/StackScriptBase.tsx
  packages/manager/src/features/TopMenu/SearchBar/SearchSuggestion.tsx
  packages/manager/src/layouts/Logout.tsx
  packages/manager/src/utilities/errorUtils.ts
Labels: Approved, Tech Debt

#11572 test: [M3-8626] - Create linode in a distributed region with Gecko
  packages/manager/.changeset/pr-11572-tests-1738053417796.md
  packages/manager/cypress/e2e/core/linodes/create-linode-in-distributed-region.spec.ts
  packages/manager/src/features/Linodes/LinodeCreate/TwoStepRegion.tsx
Labels: Testing, Approved

#11569 refactor: [M3-6907] - Replace SearchBar `react-select` with `Autocomplete`
  packages/manager/cypress/e2e/core/images/search-images.spec.ts
  packages/manager/cypress/e2e/core/kubernetes/lke-update.spec.ts
  packages/manager/cypress/e2e/core/linodes/search-linodes.spec.ts
  packages/manager/cypress/e2e/core/linodes/smoke-delete-linode.spec.ts
  packages/manager/cypress/e2e/core/linodes/smoke-linode-landing-table.spec.ts
  packages/manager/cypress/e2e/core/volumes/search-volumes.spec.ts
  packages/manager/cypress/support/ui/index.ts
  packages/manager/cypress/support/ui/main-search.ts
  packages/manager/src/features/Search/search.interfaces.ts
  packages/manager/src/features/TopMenu/SearchBar/SearchBar.styles.ts
  packages/manager/src/features/TopMenu/SearchBar/SearchBar.test.tsx
  packages/manager/src/features/TopMenu/SearchBar/SearchBar.tsx
  packages/manager/src/features/TopMenu/SearchBar/SearchSuggestion.styles.ts
  packages/manager/src/features/TopMenu/SearchBar/SearchSuggestion.tsx
  packages/manager/src/features/TopMenu/SearchBar/SearchSuggestionContainer.tsx
  packages/manager/src/features/TopMenu/SearchBar/utils.tsx
  packages/manager/src/features/TopMenu/TopMenu.tsx
  packages/manager/src/store/selectors/getSearchEntities.ts
  packages/ui/src/components/Autocomplete/Autocomplete.tsx
Labels: Approved, Tech Debt

#11587 refactor: [M3-8252] - Remove ramda from `DomainRecords` (Part 2)
  packages/manager/.changeset/pr-11587-tech-stories-1738221754635.md
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/DomainRecordDrawer.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/DomainRecordDrawerUtils.test.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainRecords/DomainRecordDrawerUtils.tsx
Labels: Approved, Tech Debt, Domains

#11577 upcoming: [DI-23105] - Listing Alerts features: Pagination, Ordering, Searching, Filtering
  packages/manager/.changeset/pr-11577-upcoming-features-1738089050033.md
  packages/manager/src/features/CloudPulse/Alerts/AlertsLanding/AlertsLanding.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListing.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListing.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertTableRow.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertTableRow.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/constants.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
  packages/manager/src/mocks/serverHandlers.ts
Labels: Approved, Cloud Pulse, Cloud Pulse - Alerting
