Repository linode/manager, pull requests merged in 2025-06, with the labels that each got.

#12295 fix: [DI-25399] - Fix widget filter issue in dashboard
  packages/manager/.changeset/pr-12295-fixed-1748524056623.md
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidget.tsx
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidgetRenderer.tsx
  packages/manager/src/mocks/serverHandlers.ts
Labels: Approved, Cloud Pulse, Cloud Pulse - Dashboards

#12301 fix: [M3-10067] - Remove custom styling for SMS Notice
  packages/manager/.changeset/pr-12301-fixed-1748616080981.md
  packages/manager/src/features/Profile/AuthenticationSettings/SMSMessaging.tsx
Labels: Bug, Approved, Ready for Review

#12288 refactor: [M3-9994] - Remove `recompose` from NodeBalancers
  packages/manager/.changeset/pr-12288-tech-stories-1748451051505.md
  packages/manager/package.json
  packages/manager/src/components/PromiseLoader/PromiseLoader.test.tsx
  packages/manager/src/components/PromiseLoader/PromiseLoader.tsx
  packages/manager/src/components/PromiseLoader/index.ts
  packages/manager/src/features/NodeBalancers/NodeBalancerConfigPanel.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerConfigurations.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerConfigurations.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerConfigurationsWrapper.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerDetail.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/requests.ts
  packages/manager/src/features/NodeBalancers/types.ts
  packages/manager/src/features/NodeBalancers/utils.ts
  pnpm-lock.yaml
Labels: Dependencies, Approved, Tech Debt, NodeBalancers

#12257 chore: [M3-10016] - Disallow Images Upload & Replication in some regions
  packages/manager/.changeset/pr-12257-changed-1747860084006.md
  packages/manager/src/components/RegionSelect/RegionMultiSelect.tsx
  packages/manager/src/components/RegionSelect/RegionSelect.tsx
  packages/manager/src/components/RegionSelect/RegionSelect.types.ts
  packages/manager/src/constants.ts
  packages/manager/src/features/Images/ImagesCreate/ImageUpload.tsx
  packages/manager/src/features/Images/ImagesLanding/ImageRegions/ImageRegionRow.tsx
  packages/manager/src/features/Images/ImagesLanding/ImageRegions/ManageImageRegionsForm.tsx
  packages/manager/src/features/Images/ImagesLanding/ImagesLanding.tsx
  packages/manager/src/features/Images/utils.ts
Labels: Approved, Images, Image Service Gen2

#12289 tech-story: [M3-9803] - Reroute Kubernetes
  packages/manager/.changeset/pr-12289-tech-stories-1748891223353.md
  packages/manager/cypress/e2e/core/kubernetes/lke-create.spec.ts
  packages/manager/eslint.config.js
  packages/manager/src/MainContent.tsx
  packages/manager/src/features/Kubernetes/ClusterList/ClusterChips.test.tsx
  packages/manager/src/features/Kubernetes/ClusterList/ClusterChips.tsx
  packages/manager/src/features/Kubernetes/ClusterList/KubernetesClusterRow.test.tsx
  packages/manager/src/features/Kubernetes/CreateCluster/CreateCluster.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/DeleteKubernetesClusterDialog.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/DeleteKubernetesClusterDialog.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubernetesClusterDetail.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodeTable.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodeTable.tsx
  packages/manager/src/features/Kubernetes/KubernetesLanding/KubernetesLanding.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesLanding/KubernetesLanding.tsx
  packages/manager/src/features/Kubernetes/KubernetesLanding/KubernetesLandingEmptyState.tsx
  packages/manager/src/features/Kubernetes/index.tsx
  packages/manager/src/features/Linodes/LinodeEntityDetailRowInterfaceFirewall.tsx
  packages/manager/src/routes/index.tsx
  packages/manager/src/routes/kubernetes/index.ts
  packages/manager/src/routes/kubernetes/kubernetesLazyRoutes.ts
  packages/manager/src/utilities/getEventsActionLink.ts
Labels: Approved, Missing Changeset, Routing Refactor

#12302 upcoming: [DI-25384] - Added open flag for aclp
  packages/manager/.changeset/pr-12302-added-1748592683984.md
  packages/manager/src/featureFlags.ts
  packages/manager/src/features/CloudPulse/Utils/utils.ts
Labels: Ready for Review, Cloud Pulse

#12187 test: [M3-9178] - Update/Add integration tests for Create Linode
  packages/manager/.changeset/pr-12187-tests-1746812945790.md
  packages/manager/cypress/e2e/core/linodes/create-linode-with-firewall.spec.ts
  packages/manager/cypress/e2e/core/linodes/create-linode-with-vlan.spec.ts
  packages/manager/cypress/e2e/core/linodes/create-linode-with-vpc.spec.ts
  packages/manager/cypress/support/constants/linode-interfaces.ts
  packages/manager/cypress/support/ui/pages/linode-create-page.ts
  packages/manager/cypress/support/util/linodes.ts
Labels: Testing, Linode Interfaces

#12317 feat: [UIE-8792], [UIE-8794] - IAM: Roles Table pagination fix, Assign Roles Drawer UI fix
  packages/manager/.changeset/pr-12317-upcoming-features-1748960578731.md
  packages/manager/src/features/IAM/Roles/RolesTable/AssignSelectedRolesDrawer.tsx
  packages/manager/src/features/IAM/Roles/RolesTable/AssignSingleSelectedRole.tsx
  packages/manager/src/features/IAM/Roles/RolesTable/RolesTable.tsx
  packages/manager/src/features/IAM/Shared/AssignedPermissionsPanel/AssignedPermissionsPanel.style.ts
  packages/manager/src/features/IAM/Shared/Entities/Entities.tsx
  packages/manager/src/features/IAM/Shared/Permissions/Permissions.style.ts
Labels: Approved, IAM (Identity & Access Management)

#12290 test [M3-10001]: Tests for Quotas increase requests
  packages/manager/.changeset/pr-12290-tests-1748626038213.md
  packages/manager/cypress/e2e/core/account/quotas-nav.spec.ts
  packages/manager/cypress/e2e/core/account/quotas-storage.spec.ts
  packages/manager/cypress/support/intercepts/support.ts
Labels: Approved

#12313 chore: [M3-10082] - Remove `ramda` from the `utilities` package
  packages/utilities/.changeset/pr-12313-added-1748968238140.md
  packages/utilities/.changeset/pr-12313-removed-1748968164214.md
  packages/utilities/package.json
  packages/utilities/src/helpers/getAll.test.ts
  packages/utilities/src/helpers/getAll.ts
  pnpm-lock.yaml
Labels: Approved, Tech Debt

#12322 chore: [M3-10089] - Update `qrcode.react` to `4.2.0`
  packages/manager/.changeset/pr-12322-tech-stories-1748968017220.md
  packages/manager/package.json
  packages/manager/src/features/Profile/AuthenticationSettings/TwoFactor/QRCodeForm.tsx
  pnpm-lock.yaml
Labels: Dependencies, Approved

#12304 upcoming: [M3-10033] - Improve Linode Create Clone behavior when cloning from a Linode using Linode Interfaces
  packages/manager/.changeset/pr-12304-upcoming-features-1748886988633.md
  packages/manager/src/features/Linodes/LinodeCreate/index.tsx
  packages/manager/src/features/Linodes/LinodeCreate/shared/LinodeSelectTable.tsx
  packages/manager/src/features/Linodes/LinodeCreate/utilities.ts
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeInterfaces/InterfaceDetailsDrawer/InterfaceDetailsContent.tsx
Labels: Approved, Linode Interfaces

#12318 feat: [UIE-8774, UIE-8857] - IAM RBAC: update empty state screen
  packages/manager/.changeset/pr-12318-upcoming-features-1748963269238.md
  packages/manager/src/assets/icons/emptynotification.svg
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/AssignedRolesTable.tsx
  packages/manager/src/features/IAM/Shared/NoAssignedRoles/NoAssignedRoles.test.tsx
  packages/manager/src/features/IAM/Shared/NoAssignedRoles/NoAssignedRoles.tsx
  packages/manager/src/features/IAM/Shared/constants.ts
  packages/manager/src/features/IAM/Users/UserEntities/AssignedEntitiesTable.tsx
  packages/manager/src/features/IAM/Users/UserEntities/UserEntities.test.tsx
  packages/manager/src/features/IAM/Users/UserEntities/UserEntities.tsx
  packages/manager/src/features/IAM/Users/UserRoles/UserRoles.test.tsx
  packages/manager/src/features/IAM/Users/UserRoles/UserRoles.tsx
Labels: Approved, IAM (Identity & Access Management)

#12324 feat: [UIE-8619, UIE-8616, UIE-8753] - DBaaS - Creating new Networking tab in DB details,
  packages/api-v4/.changeset/pr-12324-changed-1748976166235.md
  packages/api-v4/src/databases/types.ts
  packages/manager/.changeset/pr-12324-upcoming-features-1748976069707.md
  packages/manager/cypress/e2e/core/databases/update-database.spec.ts
  packages/manager/src/factories/databases.ts
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseNetworking/DatabaseManageNetworking.test.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseNetworking/DatabaseManageNetworking.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseNetworking/DatabaseNetworking.test.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseNetworking/DatabaseNetworking.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettings.test.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettings.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSummary/DatabaseSummaryConnectionDetails.test.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSummary/DatabaseSummaryConnectionDetails.tsx
  packages/manager/src/features/Databases/DatabaseDetail/index.tsx
  packages/manager/src/features/Databases/utilities.test.ts
  packages/manager/src/features/Databases/utilities.ts
  packages/manager/src/mocks/serverHandlers.ts
  packages/manager/src/routes/databases/index.ts
Labels: DBaaS, Approved

#12297 feat: [UIE-8820] - IAM RBAC: useCalculateHiddenItems fix
  packages/manager/.changeset/pr-12297-upcoming-features-1748525253975.md
  packages/manager/src/features/IAM/Roles/RolesTable/RolesTable.tsx
  packages/manager/src/features/IAM/Shared/Permissions/Permissions.test.tsx
  packages/manager/src/features/IAM/Shared/Permissions/Permissions.tsx
  packages/manager/src/features/IAM/hooks/useCalculateHiddenItems.ts
Labels: Approved, IAM (Identity & Access Management)

#12311 chore: [M3-9945] - Linode Detail > Storage - Docs link for Add a Disk
  packages/manager/.changeset/pr-12311-tech-stories-1748985763429.md
  packages/manager/src/features/Linodes/LinodesDetail/LinodeStorage/LinodeDisks.tsx
Labels: Approved

#12331 refactor: [M3-8711] - Remove authentication from Redux
  packages/manager/.changeset/pr-12331-tech-stories-1749151616419.md
  packages/manager/src/OAuth/utils.ts
  packages/manager/src/components/AccessPanel/UserSSHKeyPanel.test.tsx
  packages/manager/src/features/Account/SwitchAccountDrawer.tsx
  packages/manager/src/features/Account/SwitchAccounts/useParentChildAuthentication.tsx
  packages/manager/src/features/Account/SwitchAccounts/utils.ts
  packages/manager/src/features/Lish/Lish.tsx
  packages/manager/src/features/Profile/DisplaySettings/TimezoneForm.test.tsx
  packages/manager/src/features/Profile/DisplaySettings/TimezoneForm.tsx
  packages/manager/src/features/TopMenu/TopMenu.tsx
  packages/manager/src/hooks/useAuthentication.ts
  packages/manager/src/hooks/useInitialRequests.ts
  packages/manager/src/index.tsx
  packages/manager/src/layouts/LoginAsCustomerCallback.tsx
  packages/manager/src/layouts/Logout.test.tsx
  packages/manager/src/layouts/Logout.tsx
  packages/manager/src/layouts/OAuth.test.tsx
  packages/manager/src/layouts/OAuth.tsx
  packages/manager/src/request.test.tsx
  packages/manager/src/request.tsx
  packages/manager/src/session.ts
  packages/manager/src/store/authentication/authentication.actions.ts
  packages/manager/src/store/authentication/authentication.helpers.ts
  packages/manager/src/store/authentication/authentication.reducer.ts
  packages/manager/src/store/authentication/authentication.requests.ts
  packages/manager/src/store/authentication/authentication.test.ts
  packages/manager/src/store/authentication/index.ts
  packages/manager/src/store/index.ts
  packages/manager/src/utilities/storage.ts
  packages/manager/src/utilities/theme.ts
Labels: Needs extra approvals, Tech Debt

#12328 fix: [M3-10068, M3-10078] - Fix Broken Spacing for Banner and remove console error
  packages/manager/.changeset/pr-12328-fixed-1749044302497.md
  packages/manager/src/components/DismissibleBanner/DismissibleBanner.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerSummary/SummaryPanel.tsx
Labels: Approved, NB-VPC, ACLP Integration

#12344 feat: [UIE-8862] - IAM RBAC: CM Integration (part 1)
  packages/api-v4/.changeset/pr-12344-upcoming-features-1749205492649.md
  packages/api-v4/src/iam/iam.ts
  packages/api-v4/src/iam/types.ts
  packages/manager/.changeset/pr-12344-upcoming-features-1749205508859.md
  packages/manager/src/factories/accountPermissions.ts
  packages/manager/src/factories/accountRoles.ts
  packages/manager/src/factories/userAccountPermissions.ts
  packages/manager/src/factories/userEntityPermissions.ts
  packages/manager/src/factories/userRoles.ts
  packages/manager/src/features/IAM/Roles/Roles.test.tsx
  packages/manager/src/features/IAM/Roles/Roles.tsx
  packages/manager/src/features/IAM/Roles/RolesTable/AssignSelectedRolesDrawer.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/AssignedRolesTable.test.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/AssignedRolesTable.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/ChangeRoleDrawer.test.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/ChangeRoleDrawer.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/UnassignRoleConfirmationDialog.test.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/UnassignRoleConfirmationDialog.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/UpdateEntitiesDrawer.test.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/UpdateEntitiesDrawer.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/utils.test.ts
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/utils.ts
  packages/manager/src/features/IAM/Shared/RemoveAssignmentConfirmationDialog/RemoveAssignmentConfirmationDialog.test.tsx
  packages/manager/src/features/IAM/Shared/RemoveAssignmentConfirmationDialog/RemoveAssignmentConfirmationDialog.tsx
  packages/manager/src/features/IAM/Shared/utilities.test.ts
  packages/manager/src/features/IAM/Shared/utilities.ts
  packages/manager/src/features/IAM/Users/UserDetails/UserDetailsPanel.test.tsx
  packages/manager/src/features/IAM/Users/UserDetails/UserDetailsPanel.tsx
  packages/manager/src/features/IAM/Users/UserDetails/UserProfile.tsx
  packages/manager/src/features/IAM/Users/UserDetails/utils.test.ts
  packages/manager/src/features/IAM/Users/UserDetails/utils.ts
  packages/manager/src/features/IAM/Users/UserEntities/AssignedEntitiesTable.test.tsx
  packages/manager/src/features/IAM/Users/UserEntities/AssignedEntitiesTable.tsx
  packages/manager/src/features/IAM/Users/UserEntities/ChangeRoleForEntityDrawer.test.tsx
  packages/manager/src/features/IAM/Users/UserEntities/ChangeRoleForEntityDrawer.tsx
  packages/manager/src/features/IAM/Users/UserEntities/UserEntities.test.tsx
  packages/manager/src/features/IAM/Users/UserEntities/UserEntities.tsx
  packages/manager/src/features/IAM/Users/UserEntities/utils.test.ts
  packages/manager/src/features/IAM/Users/UserEntities/utils.ts
  packages/manager/src/features/IAM/Users/UserRoles/AssignNewRoleDrawer.tsx
  packages/manager/src/features/IAM/Users/UserRoles/AssignSingleRole.tsx
  packages/manager/src/features/IAM/Users/UserRoles/UserRoles.test.tsx
  packages/manager/src/features/IAM/Users/UserRoles/UserRoles.tsx
  packages/manager/src/features/IAM/hooks/useIsIAMEnabled.test.ts
  packages/manager/src/features/IAM/hooks/useIsIAMEnabled.ts
  packages/manager/src/mocks/serverHandlers.ts
  packages/manager/src/queries/iam/iam.ts
  packages/manager/src/queries/iam/queries.ts
Labels: Add'tl Approval Needed, IAM (Identity & Access Management)

#12293 upcoming: [M3-9505] - Banners - Host & VM Maintenance
  packages/api-v4/.changeset/pr-12293-changed-1749075177374.md
  packages/api-v4/src/account/types.ts
  packages/manager/.changeset/pr-12293-upcoming-features-1748474886773.md
  packages/manager/src/components/MaintenanceBanner/LinodeMaintenanceBanner.test.tsx
  packages/manager/src/components/MaintenanceBanner/LinodeMaintenanceBanner.tsx
  packages/manager/src/components/MaintenanceBanner/MaintenanceBannerV2.test.tsx
  packages/manager/src/components/MaintenanceBanner/MaintenanceBannerV2.tsx
  packages/manager/src/components/PlatformMaintenanceBanner/LinodePlatformMaintenanceBanner.tsx
  packages/manager/src/components/PlatformMaintenanceBanner/PlatformMaintenanceBanner.tsx
  packages/manager/src/dev-tools/components/ExtraPresetMaintenance.tsx
  packages/manager/src/factories/accountMaintenance.ts
  packages/manager/src/features/Account/AccountLanding.tsx
  packages/manager/src/features/Account/Maintenance/utilities.ts
  packages/manager/src/features/Linodes/LinodesDetail/LinodesDetailHeader/Notifications.tsx
  packages/manager/src/features/Linodes/LinodesLanding/LinodesLanding.tsx
Labels: Add'tl Approval Needed, 🚨 Urgent, Ready for Review, Host & VM Maintenance

#12323 tech-stories - [M3-9242]: Reroute Account & Billing
  packages/manager/.changeset/pr-12323-tech-stories-1749064948584.md
  packages/manager/cypress/e2e/core/account/quotas-storage.spec.ts
  packages/manager/eslint.config.js
  packages/manager/src/MainContent.tsx
  packages/manager/src/components/PaymentMethodRow/PaymentMethodRow.test.tsx
  packages/manager/src/components/PaymentMethodRow/PaymentMethodRow.tsx
  packages/manager/src/features/Account/AccountLanding.tsx
  packages/manager/src/features/Account/AccountLogins.tsx
  packages/manager/src/features/Account/CloseAccountDialog.tsx
  packages/manager/src/features/Account/Maintenance/MaintenanceTable.test.tsx
  packages/manager/src/features/Account/Maintenance/MaintenanceTable.tsx
  packages/manager/src/features/Account/Quotas/Quotas.test.tsx
  packages/manager/src/features/Account/Quotas/Quotas.tsx
  packages/manager/src/features/Account/Quotas/QuotasTable.test.tsx
  packages/manager/src/features/Account/Quotas/QuotasTable.tsx
  packages/manager/src/features/Account/SwitchAccounts/SessionExpirationDialog.test.tsx
  packages/manager/src/features/Account/SwitchAccounts/SessionExpirationDialog.tsx
  packages/manager/src/features/Account/SwitchAccounts/SwitchAccountSessionDialog.test.tsx
  packages/manager/src/features/Account/SwitchAccounts/SwitchAccountSessionDialog.tsx
  packages/manager/src/features/Account/index.tsx
  packages/manager/src/features/Billing/BillingDetail.test.tsx
  packages/manager/src/features/Billing/BillingPanels/BillingActivityPanel/BillingActivityPanel.test.tsx
  packages/manager/src/features/Billing/BillingPanels/BillingActivityPanel/BillingActivityPanel.tsx
  packages/manager/src/features/Billing/BillingPanels/BillingSummary/BillingSummary.test.tsx
  packages/manager/src/features/Billing/BillingPanels/BillingSummary/BillingSummary.tsx
  packages/manager/src/features/Billing/BillingPanels/ContactInfoPanel/ContactInformation.test.tsx
  packages/manager/src/features/Billing/BillingPanels/ContactInfoPanel/ContactInformation.tsx
  packages/manager/src/features/Billing/BillingPanels/PaymentInfoPanel/PaymentInformation.test.tsx
  packages/manager/src/features/Billing/BillingPanels/PaymentInfoPanel/PaymentInformation.tsx
  packages/manager/src/features/Billing/InvoiceDetail/InvoiceDetail.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersLanding/EntityTransfersLanding.tsx
  packages/manager/src/features/GlobalNotifications/EmailBounce.tsx
  packages/manager/src/features/Users/CreateUserDrawer.tsx
  packages/manager/src/features/Users/UserDetail.tsx
  packages/manager/src/features/Users/UserProfile/DeleteUserPanel.tsx
  packages/manager/src/features/Users/UserProfile/UserProfile.tsx
  packages/manager/src/features/Users/UserProfile/UsernamePanel.test.tsx
  packages/manager/src/features/Users/UserProfile/UsernamePanel.tsx
  packages/manager/src/features/Users/UserRow.test.tsx
  packages/manager/src/features/Users/UsersActionMenu.tsx
  packages/manager/src/features/Users/UsersLanding.tsx
  packages/manager/src/hooks/usePaginationV2.ts
  packages/manager/src/routes/account/accountLazyRoutes.ts
  packages/manager/src/routes/account/index.ts
  packages/manager/src/routes/index.tsx
Labels: Approved, Routing Refactor

#12314 fix: [M3-10083] - Broken Spacing in Dropdown Component
  packages/manager/.changeset/pr-12314-fixed-1748938803077.md
  packages/ui/src/foundations/themes/dark.ts
  packages/ui/src/foundations/themes/light.ts
Labels: Bug, Approved, Design Tokens

#12356 feat: [UIE-8887] - IAM RBAC: assign new role drawer fix
  packages/manager/.changeset/pr-12356-upcoming-features-1749556168543.md
  packages/manager/src/features/IAM/Shared/Entities/Entities.tsx
  packages/manager/src/features/IAM/Users/UserRoles/AssignNewRoleDrawer.tsx
Labels: IAM (Identity & Access Management)

#12325 feat: [M3-9236, M3-9800] - Convert Autoscale Pool from a dialog to a drawer
  packages/manager/.changeset/pr-12325-changed-1748979553627.md
  packages/manager/.changeset/pr-12325-fixed-1748979575757.md
  packages/manager/cypress/e2e/core/kubernetes/lke-update.spec.ts
  packages/manager/src/components/EnhancedNumberInput/EnhancedNumberInput.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/AutoscaleNodePoolDrawer.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/AutoscalePoolDialog.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePool.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePoolsDisplay.tsx
Labels: LKE, Approved

#12287 upcoming: [M3-10024, M3-10087, M3-10122] - Display VPC IPs while selecting the Backend Nodes in the Nodebalancer flow
  packages/manager/.changeset/pr-12287-upcoming-features-1749035671565.md
  packages/manager/cypress/e2e/core/nodebalancers/nodebalancer-create-with-vpc.spec.ts
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidget.tsx
  packages/manager/src/features/NodeBalancers/ConfigNodeIPSelect.tsx
  packages/manager/src/features/NodeBalancers/ConfigNodeIPSelect.utils.test.ts
  packages/manager/src/features/NodeBalancers/ConfigNodeIPSelect.utils.ts
  packages/manager/src/features/NodeBalancers/ConfigNodeOption.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerConfigNode.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerConfigPanel.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerConfigPanel.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerCreate.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerCreate.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerConfigurations.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerConfigurationsWrapper.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/requests.ts
  packages/manager/src/features/NodeBalancers/VPCPanel.test.tsx
  packages/manager/src/features/NodeBalancers/VPCPanel.tsx
  packages/manager/src/features/NodeBalancers/types.ts
  packages/manager/src/features/NodeBalancers/utils.ts
  packages/manager/src/features/VPCs/constants.ts
  packages/manager/src/hooks/useDataForLinodesInVPC.ts
Labels: 🚨 Urgent, NB-VPC

#12366 fix: [M3-10146] - Port Hyperlink for Nodebalancer showing error
  packages/manager/.changeset/pr-12366-fixed-1749660945872.md
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerConfigurationsWrapper.tsx
  packages/manager/src/routes/nodeBalancers/index.ts
Labels: Bug, 🚨 Urgent, Approved, NB-VPC

#12352 chore: [M3-10131] - Linode Rebuild Dialog Fixes and Improvements
  packages/api-v4/.changeset/pr-12352-added-1749498272009.md
  packages/api-v4/.changeset/pr-12352-changed-1749498352864.md
  packages/api-v4/src/linodes/types.ts
  packages/manager/.changeset/pr-12352-changed-1749498043457.md
  packages/manager/.changeset/pr-12352-changed-1749498115147.md
  packages/manager/.changeset/pr-12352-fixed-1749497892310.md
  packages/manager/cypress/e2e/core/linodes/rebuild-linode.spec.ts
  packages/manager/src/__data__/index.ts
  packages/manager/src/__data__/linodes.ts
  packages/manager/src/__data__/resources.ts
  packages/manager/src/features/Linodes/LinodesDetail/LinodeRebuild/LinodeRebuildForm.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeRebuild/LinodeRebuildForm.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeRebuild/UserData.tsx
  packages/manager/src/features/Linodes/LinodesLanding/LinodeRow/LinodeRow.test.tsx
  packages/manager/src/features/Linodes/LinodesLanding/ListView.tsx
  packages/utilities/src/factories/linodes.ts
Labels: Enhancement, UX/UI, Approved

#12330 refactor: [M3-9391] - Move types queries
  packages/manager/.changeset/pr-12330-removed-1749050989952.md
  packages/manager/src/features/Backups/BackupDrawer.test.tsx
  packages/manager/src/features/Backups/BackupDrawer.tsx
  packages/manager/src/features/Backups/BackupLinodeRow.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersCreate/LinodeTransferTable.tsx
  packages/manager/src/features/Kubernetes/ClusterList/KubernetesClusterRow.tsx
  packages/manager/src/features/Kubernetes/CreateCluster/CreateCluster.tsx
  packages/manager/src/features/Kubernetes/KubeCheckoutBar/KubeCheckoutBar.test.tsx
  packages/manager/src/features/Kubernetes/KubeCheckoutBar/KubeCheckoutBar.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubeClusterSpecs.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/AddNodePoolDrawer.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/AutoscaleNodePoolDrawer.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/LabelsAndTaints/LabelAndTaintDrawer.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePoolsDisplay.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/ResizeNodePoolDrawer.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/ResizeNodePoolDrawer.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Addons/Backups.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Plan.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Region.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Summary/Summary.tsx
  packages/manager/src/features/Linodes/LinodeCreate/shared/LinodeSelectTableRow.tsx
  packages/manager/src/features/Linodes/LinodeCreate/shared/SelectLinodeCard.tsx
  packages/manager/src/features/Linodes/LinodeEntityDetail.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeBackup/EnableBackupsDialog.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeBackup/EnableBackupsDialog.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeBackup/LinodeBackups.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/NetworkingSummaryPanel/NetworkTransfer.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeRescue/RescueDialog.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeRescue/RescueDialog.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeResize/LinodeResize.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeSettings/LinodeSettingsAlertsPanel.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeSettings/LinodeSettingsPasswordPanel.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodesDetailHeader/MutationNotification.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodesDetailNavigation.tsx
  packages/manager/src/features/Linodes/LinodesLanding/LinodeRow/LinodeRow.tsx
  packages/manager/src/features/Linodes/MigrateLinode/ConfigureForm.tsx
  packages/manager/src/features/Linodes/MigrateLinode/MigrateLinode.tsx
  packages/manager/src/features/Support/SupportTickets/SupportTicketAccountLimitFields.tsx
  packages/queries/.changeset/pr-12330-added-1749051050589.md
  packages/queries/src/index.ts
  packages/queries/src/types/index.ts
  packages/queries/src/types/types.ts
Labels: Approved, Ready for Review, Modularization

#12367 upcoming: [M3-9987] - Update `interface` firewall entity type to `linode_interface`
  packages/api-v4/.changeset/pr-12367-upcoming-features-1749659461264.md
  packages/api-v4/src/firewalls/types.ts
  packages/manager/.changeset/pr-12367-upcoming-features-1749660136458.md
  packages/manager/cypress/e2e/core/firewalls/add-device-to-firewall.spec.ts
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/AddLinodeDrawer.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/FirewallDeviceRow.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/FirewallDeviceTable.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/RemoveDeviceDialog.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/constants.ts
  packages/manager/src/features/Firewalls/FirewallDetail/index.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallRow.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeInterfaces/EditInterfaceDrawer/EditInterfaceForm.utils.ts
  packages/manager/src/mocks/presets/crud/handlers/linodes.ts
  packages/validation/.changeset/pr-12367-upcoming-features-1749660085808.md
  packages/validation/src/firewalls.schema.ts
Labels: 🚨 Urgent, Approved, Linode Interfaces

#12368 upcoming: [M3-10151] - UX description changes for VPC Section in the create NodeBalancers page
  packages/manager/CHANGELOG.md
  packages/manager/src/features/NodeBalancers/ConfigNodeIPSelect.tsx
  packages/manager/src/features/NodeBalancers/VPCPanel.test.tsx
  packages/manager/src/features/NodeBalancers/VPCPanel.tsx
  packages/manager/src/features/VPCs/constants.ts
Labels: Approved, NB-VPC

#12312 Tech Stories - [M3-10021]: Reroute IAM
  packages/manager/.changeset/pr-12312-tech-stories-1748963557069.md
  packages/manager/eslint.config.js
  packages/manager/src/MainContent.tsx
  packages/manager/src/dev-tools/ServiceWorkerTool.tsx
  packages/manager/src/features/IAM/IAMLanding.tsx
  packages/manager/src/features/IAM/Roles/Roles.test.tsx
  packages/manager/src/features/IAM/Roles/RolesTable/RolesTable.test.tsx
  packages/manager/src/features/IAM/Roles/RolesTable/RolesTable.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/AssignedRolesTable.test.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/AssignedRolesTable.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/ChangeRoleDrawer.test.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/ChangeRoleDrawer.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/UnassignRoleConfirmationDialog.test.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/UnassignRoleConfirmationDialog.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/UpdateEntitiesDrawer.test.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/UpdateEntitiesDrawer.tsx
  packages/manager/src/features/IAM/Shared/NoAssignedRoles/NoAssignedRoles.test.tsx
  packages/manager/src/features/IAM/Shared/RemoveAssignmentConfirmationDialog/RemoveAssignmentConfirmationDialog.test.tsx
  packages/manager/src/features/IAM/Shared/RemoveAssignmentConfirmationDialog/RemoveAssignmentConfirmationDialog.tsx
  packages/manager/src/features/IAM/Users/UserDetails/DeleteUserPanel.tsx
  packages/manager/src/features/IAM/Users/UserDetails/UserProfile.tsx
  packages/manager/src/features/IAM/Users/UserDetails/UsernamePanel.test.tsx
  packages/manager/src/features/IAM/Users/UserDetails/UsernamePanel.tsx
  packages/manager/src/features/IAM/Users/UserDetailsLanding.tsx
  packages/manager/src/features/IAM/Users/UserEntities/AssignedEntitiesTable.test.tsx
  packages/manager/src/features/IAM/Users/UserEntities/AssignedEntitiesTable.tsx
  packages/manager/src/features/IAM/Users/UserEntities/ChangeRoleForEntityDrawer.test.tsx
  packages/manager/src/features/IAM/Users/UserEntities/ChangeRoleForEntityDrawer.tsx
  packages/manager/src/features/IAM/Users/UserEntities/UserEntities.test.tsx
  packages/manager/src/features/IAM/Users/UserEntities/UserEntities.tsx
  packages/manager/src/features/IAM/Users/UserRoles/AssignNewRoleDrawer.tsx
  packages/manager/src/features/IAM/Users/UserRoles/UserRoles.test.tsx
  packages/manager/src/features/IAM/Users/UserRoles/UserRoles.tsx
  packages/manager/src/features/IAM/Users/UsersTable/UserRow.test.tsx
  packages/manager/src/features/IAM/Users/UsersTable/Users.tsx
  packages/manager/src/features/IAM/Users/UsersTable/UsersActionMenu.test.tsx
  packages/manager/src/features/IAM/Users/UsersTable/UsersActionMenu.tsx
  packages/manager/src/features/IAM/Users/UsersTable/UsersLandingTableBody.test.tsx
  packages/manager/src/features/IAM/index.tsx
  packages/manager/src/routes/IAM/IAMLazyRoutes.ts
  packages/manager/src/routes/IAM/IAMRoute.tsx
  packages/manager/src/routes/IAM/index.ts
  packages/manager/src/routes/index.tsx
Labels: Approved, Routing Refactor

#12347 test: [M3-10115] - Fix test flake in `bucket-create-multicluster.spec.ts`
  packages/manager/.changeset/pr-12347-tests-1749743465160.md
  packages/manager/cypress/e2e/core/objectStorageMulticluster/bucket-create-multicluster.spec.ts
Labels: Approved, Ready for Review

#12370 refactor: [M3-9374] - Move iam queries
  packages/manager/.changeset/pr-12370-removed-1749728330285.md
  packages/manager/src/features/IAM/Roles/Roles.test.tsx
  packages/manager/src/features/IAM/Roles/Roles.tsx
  packages/manager/src/features/IAM/Roles/RolesTable/AssignSelectedRolesDrawer.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/AssignedRolesTable.test.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/AssignedRolesTable.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/ChangeRoleDrawer.test.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/ChangeRoleDrawer.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/UnassignRoleConfirmationDialog.test.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/UnassignRoleConfirmationDialog.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/UpdateEntitiesDrawer.test.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/UpdateEntitiesDrawer.tsx
  packages/manager/src/features/IAM/Shared/RemoveAssignmentConfirmationDialog/RemoveAssignmentConfirmationDialog.test.tsx
  packages/manager/src/features/IAM/Shared/RemoveAssignmentConfirmationDialog/RemoveAssignmentConfirmationDialog.tsx
  packages/manager/src/features/IAM/Users/UserDetails/UserProfile.tsx
  packages/manager/src/features/IAM/Users/UserEntities/AssignedEntitiesTable.test.tsx
  packages/manager/src/features/IAM/Users/UserEntities/AssignedEntitiesTable.tsx
  packages/manager/src/features/IAM/Users/UserEntities/ChangeRoleForEntityDrawer.test.tsx
  packages/manager/src/features/IAM/Users/UserEntities/ChangeRoleForEntityDrawer.tsx
  packages/manager/src/features/IAM/Users/UserEntities/UserEntities.test.tsx
  packages/manager/src/features/IAM/Users/UserEntities/UserEntities.tsx
  packages/manager/src/features/IAM/Users/UserRoles/AssignNewRoleDrawer.tsx
  packages/manager/src/features/IAM/Users/UserRoles/UserRoles.test.tsx
  packages/manager/src/features/IAM/Users/UserRoles/UserRoles.tsx
  packages/manager/src/features/IAM/hooks/useIsIAMEnabled.test.ts
  packages/manager/src/features/IAM/hooks/useIsIAMEnabled.ts
  packages/queries/.changeset/pr-12370-added-1749728365936.md
  packages/queries/src/iam/iam.ts
  packages/queries/src/iam/index.ts
  packages/queries/src/iam/keys.ts
  packages/queries/src/index.ts
Labels: Approved, Modularization, IAM (Identity & Access Management)

#12248 poc: [M3-9996, M3-10048] - Assigning alert definitions (`beta`) to a Linode during creation
  packages/api-v4/.changeset/pr-12248-upcoming-features-1748955611165.md
  packages/api-v4/src/cloudpulse/types.ts
  packages/api-v4/src/linodes/types.ts
  packages/manager/.changeset/pr-12248-upcoming-features-1748955382171.md
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertInformationActionTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertReusableComponent.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Actions.tsx
  packages/manager/src/features/Linodes/LinodeCreate/AdditionalOptions/Alerts/Alerts.tsx
  packages/manager/src/features/Linodes/LinodeCreate/index.tsx
  packages/manager/src/features/Linodes/LinodeCreate/utilities.test.tsx
  packages/manager/src/features/Linodes/LinodeCreate/utilities.ts
  packages/validation/src/linodes.schema.ts
Labels: Proof of Concept, Approved, Ready for Review, Linodes, ACLP Integration

#12373 Release Hotfix Branch - 6-12-2025
  packages/manager/CHANGELOG.md
  packages/manager/cypress/e2e/core/kubernetes/lke-create.spec.ts
  packages/manager/cypress/e2e/core/kubernetes/lke-update.spec.ts
  packages/manager/src/features/Kubernetes/CreateCluster/CreateCluster.tsx
  packages/manager/src/features/Kubernetes/KubeCheckoutBar/KubeCheckoutBar.test.tsx
  packages/manager/src/features/Kubernetes/KubeCheckoutBar/KubeCheckoutBar.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubeEntityDetailFooter.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubeSummaryPanel.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubernetesClusterDetail.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/UpgradeClusterDialog.tsx
  packages/manager/src/features/Kubernetes/kubeUtils.ts
  packages/manager/src/features/NodeBalancers/ConfigNodeIPSelect.tsx
  packages/manager/src/features/NodeBalancers/VPCPanel.test.tsx
  packages/manager/src/features/NodeBalancers/VPCPanel.tsx
  packages/manager/src/features/VPCs/constants.ts
  packages/manager/src/queries/cloudpulse/services.ts
  packages/ui/src/foundations/themes/dark.ts
  packages/ui/src/foundations/themes/light.ts
Labels: Approved, Hotfix

#12396 upcoming: [M3-10192] - Add Beta "Alerts Assigned +n" Count to Linode Create Flow Summary
  packages/manager/.changeset/pr-12396-upcoming-features-1750171179709.md
  packages/manager/src/features/Linodes/LinodeCreate/Summary/Summary.tsx
Labels: Approved, Linodes, ACLP Integration

#12400 fix: [M3-10208] - Legacy Alerts toggle incorrectly enabled on Create Linode page after ADS toggle PR merge
  packages/manager/src/features/Kubernetes/CreateCluster/ControlPlaneACLPane.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubeControlPaneACLDrawer.tsx
  packages/ui/src/components/Toggle/Toggle.stories.tsx
  packages/ui/src/components/Toggle/Toggle.tsx
Labels: Bug, LKE, Approved, Linodes

#12386 upcoming: [DI-25385] - Added beta chip for ACLP beta service type
  packages/api-v4/.changeset/pr-12386-removed-1750226005924.md
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/.changeset/pr-12386-upcoming-features-1750226208620.md
  packages/manager/cypress/e2e/core/cloudpulse/alerts-listing-page.spec.ts
  packages/manager/src/factories/cloudpulse/services.ts
  packages/manager/src/featureFlags.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailOverview.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailRow.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListing.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertTableRow.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/GeneralInformation/ServiceTypeSelect.tsx
  packages/manager/src/features/CloudPulse/Dashboard/CloudPulseDashboardLanding.test.tsx
  packages/manager/src/features/CloudPulse/Dashboard/CloudPulseDashboardRenderer.tsx
  packages/manager/src/features/CloudPulse/Utils/constants.ts
  packages/manager/src/features/CloudPulse/shared/CloudPulseDashboardSelect.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseRegionSelect.tsx
  packages/manager/src/features/Linodes/LinodeCreate/AdditionalOptions/AdditionalOptions.tsx
  packages/manager/src/features/Linodes/LinodeCreate/AdditionalOptions/Alerts/Alerts.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Summary/Summary.tsx
  packages/manager/src/features/Linodes/LinodeCreate/index.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeAlerts/LinodeAlerts.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeMetrics/LinodeMetrics.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeSettings/LinodeSettingsAlertsPanel.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodesDetailNavigation.tsx
Labels: Approved, Cloud Pulse

#12397 upcoming: [M3-10102] - VM Host Maintenance Copy Updates to Banners
  packages/manager/.changeset/pr-12397-upcoming-features-1750191260873.md
  packages/manager/src/components/MaintenanceBanner/MaintenanceBannerV2.tsx
  packages/manager/src/components/PlatformMaintenanceBanner/LinodePlatformMaintenanceBanner.test.tsx
  packages/manager/src/components/PlatformMaintenanceBanner/LinodePlatformMaintenanceBanner.tsx
  packages/manager/src/components/PlatformMaintenanceBanner/PlatformMaintenanceBanner.tsx
  packages/manager/src/features/Account/AccountLanding.tsx
Labels: Approved, Host & VM Maintenance

#12387 change: [M3-9529] - Akamai Design System: inputAdornments
  packages/manager/.changeset/pr-12387-changed-1750576427858.md
  packages/manager/src/components/CopyableTextField/CopyableTextField.tsx
  packages/manager/src/components/RegionSelect/RegionSelect.tsx
  packages/manager/src/features/Account/Quotas/QuotasIncreaseForm.tsx
  packages/manager/src/features/Databases/DatabaseCreate/DatabaseEngineSelect.tsx
  packages/manager/src/features/Firewalls/components/FirewallSelect.tsx
  packages/manager/src/features/Help/SupportSearchLanding/SupportSearchLanding.tsx
  packages/manager/src/features/Profile/AuthenticationSettings/PhoneVerification/PhoneVerification.tsx
  packages/manager/src/features/StackScripts/StackScriptForm/StackScriptForm.tsx
  packages/manager/src/features/StackScripts/StackScriptLanding/StackScriptLandingTable.tsx
  packages/manager/src/features/Support/AttachFileListItem.tsx
  packages/ui/src/components/TextField/TextField.test.tsx
Labels: Approved, Design Tokens

#12410 feat: [UIE-8534, UIE-8888, UIE-8881] - IAM RBAC: add the links
  packages/manager/.changeset/pr-12410-upcoming-features-1750687946787.md
  packages/manager/src/features/IAM/Roles/RolesTable/RolesTable.tsx
  packages/manager/src/features/IAM/Shared/AssignedPermissionsPanel/AssignedPermissionsPanel.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/AssignedRolesTable.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/ChangeRoleDrawer.test.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/ChangeRoleDrawer.tsx
  packages/manager/src/features/IAM/Shared/Permissions/Permissions.tsx
  packages/manager/src/features/IAM/Shared/constants.ts
  packages/manager/src/features/IAM/Users/UserEntities/ChangeRoleForEntityDrawer.test.tsx
  packages/manager/src/features/IAM/Users/UserEntities/ChangeRoleForEntityDrawer.tsx
  packages/manager/src/features/IAM/Users/UserRoles/AssignNewRoleDrawer.tsx
  packages/manager/src/features/IAM/Users/UserRoles/AssignSingleRole.tsx
Labels: 🚨 Urgent, Approved, IAM (Identity & Access Management)

#12395 feat: [UIE-8819] - IAM RBAC: User Email validation
  packages/manager/src/features/IAM/Users/UserDetails/UserEmailPanel.test.tsx
  packages/validation/.changeset/pr-12395-added-1750167713273.md
  packages/validation/src/profile.schema.ts
Labels: 🚨 Urgent, Approved, IAM (Identity & Access Management)

#12411 feat: [UIE-8946]: IAM RBAC - Permission Hook 1
  packages/api-v4/src/iam/iam.ts
  packages/api-v4/src/iam/types.ts
  packages/manager/src/factories/accountRoles.ts
  packages/manager/src/factories/userRoles.ts
  packages/manager/src/features/IAM/Roles/RolesTable/RolesTable.test.tsx
  packages/manager/src/features/IAM/Shared/AssignedPermissionsPanel/AssignedPermissionsPanel.test.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/AssignedRolesTable.test.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/AssignedRolesTable.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/UpdateEntitiesDrawer.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/utils.test.ts
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/utils.ts
  packages/manager/src/features/IAM/Shared/Entities/Entities.tsx
  packages/manager/src/features/IAM/Shared/Entities/utils.ts
  packages/manager/src/features/IAM/Shared/Permissions/Permissions.test.tsx
  packages/manager/src/features/IAM/Shared/types.ts
  packages/manager/src/features/IAM/Shared/utilities.test.ts
  packages/manager/src/features/IAM/Shared/utilities.ts
  packages/manager/src/features/IAM/Users/UserDetails/UserDetailsPanel.test.tsx
  packages/manager/src/features/IAM/Users/UserDetails/utils.test.ts
  packages/manager/src/features/IAM/Users/UserEntities/utils.ts
  packages/manager/src/features/IAM/Users/UserRoles/AssignedEntities.tsx
  packages/queries/src/iam/iam.ts
  packages/queries/src/iam/keys.ts
Labels: Approved, IAM (Identity & Access Management)

#12413 fix: [M3-10236, M3-10235] - Linode Disk Action Menu and LKE Node Action Menu table styles
  packages/manager/.changeset/pr-12413-fixed-1750706040269.md
  packages/manager/.changeset/pr-12413-fixed-1750706078072.md
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodeActionMenu.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodeRow.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeStorage/LinodeDiskActionMenu.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeStorage/LinodeDiskRow.tsx
Labels: Bug, UX/UI, Approved

#12404 test: [M3-10198] - Fix LKE update test failure against DevCloud
  packages/manager/cypress/e2e/core/kubernetes/lke-update.spec.ts
Labels: Approved, Missing Changeset

#12403 test: [M3-9860] - Fix Cypress Linode clone test
  packages/manager/.changeset/pr-12403-tests-1750430192369.md
  packages/manager/cypress/e2e/core/linodes/clone-linode.spec.ts
  packages/manager/cypress/support/intercepts/events.ts
Labels: Approved

#12379 upcoming: [M3-10128] - Add types/endpoints/queries for Cloud NATs
  packages/api-v4/src/cloudnat/cloudnats.ts
  packages/api-v4/src/cloudnat/index.ts
  packages/api-v4/src/cloudnat/types.ts
  packages/api-v4/src/index.ts
  packages/manager/src/factories/cloudnats.ts
  packages/manager/src/factories/index.ts
  packages/manager/src/mocks/mockState.ts
  packages/manager/src/mocks/presets/baseline/crud.ts
  packages/manager/src/mocks/presets/crud/cloudnats.ts
  packages/manager/src/mocks/presets/crud/handlers/cloudnats.ts
  packages/manager/src/mocks/presets/crud/seeds/cloudnats.ts
  packages/manager/src/mocks/presets/crud/seeds/index.ts
  packages/manager/src/mocks/types.ts
  packages/queries/src/cloudnats/cloudnats.ts
  packages/queries/src/cloudnats/index.ts
  packages/queries/src/cloudnats/requests.ts
  packages/queries/src/index.ts
  packages/validation/src/cloudnats.schema.ts
  packages/validation/src/index.ts
Labels: Approved, Cloud NAT

#12398 upcoming: [M3-9503] - Add New VM Host Maintenance Icons
  packages/manager/.changeset/pr-12398-upcoming-features-1750738584786.md
  packages/manager/src/features/Account/Maintenance/MaintenanceTable.tsx
  packages/manager/src/features/Account/Maintenance/utilities.ts
  packages/manager/src/features/Linodes/LinodesLanding/LinodeRow/LinodeRow.styles.ts
  packages/manager/src/features/Linodes/LinodesLanding/LinodeRow/LinodeRow.tsx
  packages/manager/src/features/Linodes/index.tsx
  packages/manager/src/utilities/linodes.ts
  packages/ui/.changeset/pr-12398-upcoming-features-1750738640469.md
  packages/ui/src/assets/icons/calendar-schedule.svg
  packages/ui/src/assets/icons/calendar.svg
  packages/ui/src/assets/icons/index.ts
  packages/ui/src/assets/icons/load-failure.svg
  packages/ui/src/components/TooltipIcon/TooltipIcon.tsx
  packages/ui/src/foundations/themes/dark.ts
  packages/ui/src/foundations/themes/light.ts
Labels: 🚨 Urgent, Approved, Under Review, Host & VM Maintenance

#12402 fix: [DI-25709] - adjust padding and margins to align components
  packages/manager/.changeset/pr-12402-fixed-1750345110145.md
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterField.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/Metric.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/TriggerConditions.tsx
Labels: Approved, Cloud Pulse - Alerting

#12357 tests - [M3-10074, M3-10075]: Linode beta metrics
  packages/manager/.changeset/pr-12337-tests-1749136410486.md
  packages/manager/cypress/e2e/core/cloudpulse/aclp-support.spec.ts
  packages/manager/cypress/support/intercepts/cloudpulse.ts
  packages/manager/cypress/support/intercepts/linodes.ts
  packages/manager/cypress/support/util/cloudpulse.ts
  packages/manager/src/features/Linodes/LinodesDetail/LinodeMetrics/LinodeSummary/LinodeSummary.tsx
Labels: Add'tl Approval Needed, ACLP Integration

#12417 upcoming: [M3-10174] - VM Host Maintenance API Updates
  packages/api-v4/.changeset/pr-12417-upcoming-features-1750737659124.md
  packages/api-v4/src/account/types.ts
  packages/api-v4/src/linodes/types.ts
  packages/manager/.changeset/pr-12417-upcoming-features-1750737712509.md
  packages/manager/src/components/MaintenanceBanner/MaintenanceBanner.tsx
  packages/manager/src/components/MaintenancePolicySelect/MaintenancePolicySelect.test.tsx
  packages/manager/src/components/MaintenancePolicySelect/MaintenancePolicySelect.tsx
  packages/manager/src/components/MaintenancePolicySelect/constants.ts
  packages/manager/src/components/MaintenancePolicySelect/utils.ts
  packages/manager/src/factories/accountMaintenance.ts
  packages/manager/src/factories/accountSettings.ts
  packages/manager/src/factories/maintenancePolicy.ts
  packages/manager/src/features/Account/MaintenancePolicy.test.tsx
  packages/manager/src/features/Account/MaintenancePolicy.tsx
  packages/manager/src/features/Linodes/LinodeCreate/AdditionalOptions/MaintenancePolicy.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Region.tsx
  packages/manager/src/features/Linodes/LinodeCreate/utilities.ts
  packages/manager/src/features/Linodes/LinodesDetail/LinodeSettings/LinodeSettingsMaintenancePolicyPanel.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeSettings/LinodeSettingsMaintenancePolicyPanel.tsx
  packages/manager/src/mocks/presets/crud/handlers/linodes.ts
  packages/manager/src/mocks/serverHandlers.ts
  packages/utilities/.changeset/pr-12417-upcoming-features-1750737753704.md
  packages/utilities/src/factories/linodes.ts
  packages/validation/.changeset/pr-12417-upcoming-features-1750737804034.md
  packages/validation/src/linodes.schema.ts
Labels: 🚨 Urgent, Approved, Host & VM Maintenance

#12432 upcoming: [M3-10247] - Make `monitors` property optional on API SDK `Region` type
  packages/api-v4/src/regions/types.ts
  packages/utilities/src/factories/regions.ts
  packages/utilities/src/helpers/isAclpSupportedRegion.ts
Labels: Ready for Review

#12407 test: [M3-9950] - Allow Cypress test 'cy-test' prefix to be overridden
  docs/development-guide/08-testing.md
  packages/manager/.changeset/pr-12407-tests-1750447821356.md
  packages/manager/cypress/e2e/core/helpAndSupport/open-support-ticket.spec.ts
  packages/manager/cypress/e2e/core/linodes/linode-config.spec.ts
  packages/manager/cypress/e2e/core/linodes/linode-storage.spec.ts
  packages/manager/cypress/support/api/stackscripts.ts
  packages/manager/cypress/support/constants/cypress.ts
  packages/manager/cypress/support/plugins/post-run-cleanup.ts
Labels: Approved

#12414 change: [M3-9765] - Use white icons for Marketplace dark mode
  packages/manager/.changeset/pr-12414-changed-1750707386487.md
  packages/manager/public/assets/white/woocommerce.svg
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/Marketplace/AppSection.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/Marketplace/AppsList.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/StackScripts/UserDefinedFields/UserDefinedFields.tsx
Labels: Marketplace, Approved, Requires UX Approval

#12406 refactor: [M3-9371 ] - Move Entity Transfers queries
  packages/manager/.changeset/pr-12406-removed-1750445509258.md
  packages/manager/src/features/EntityTransfers/EntityTransfersCreate/EntityTransfersCreate.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersLanding/ConfirmTransferCancelDialog.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersLanding/ConfirmTransferDialog.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersLanding/EntityTransfersLanding.tsx
  packages/queries/.changeset/pr-12406-added-1750445559603.md
  packages/queries/src/entitytransfers/entityTransfers.ts
  packages/queries/src/entitytransfers/index.ts
  packages/queries/src/entitytransfers/requests.ts
  packages/queries/src/index.ts
Labels: Approved, Modularization

#12441 bug: [DI-25992] - Set scope to optional in cloudpulse schema
  packages/manager/.changeset/pr-12441-fixed-1751029952198.md
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/GeneralInformation/AlertEntityScopeSelect.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/types.ts
  packages/validation/.changeset/pr-12441-fixed-1751029941692.md
  packages/validation/src/cloudpulse.schema.ts
Labels: 🚨 Urgent, Cloud Pulse - Alerting

#12148 change: [UIE-8743] - Replaced Button component in DBAAS with Akamai CDS button Web Component
  packages/manager/.changeset/pr-12148-changed-1746156198791.md
  packages/manager/cypress/e2e/core/account/restricted-user-details-pages.spec.ts
  packages/manager/cypress/e2e/core/databases/advanced-configuration.spec.ts
  packages/manager/cypress/e2e/core/databases/create-database.spec.ts
  packages/manager/cypress/e2e/core/databases/delete-database.spec.ts
  packages/manager/cypress/e2e/core/databases/resize-database.spec.ts
  packages/manager/cypress/e2e/core/databases/update-database.spec.ts
  packages/manager/cypress/support/ui/buttons.ts
  packages/manager/package.json
  packages/manager/src/features/Databases/DatabaseCreate/DatabaseCreate.style.ts
  packages/manager/src/features/Databases/DatabaseCreate/DatabaseCreate.test.tsx
  packages/manager/src/features/Databases/DatabaseCreate/DatabaseCreate.tsx
  packages/manager/src/features/Databases/DatabaseDetail/AccessControls.test.tsx
  packages/manager/src/features/Databases/DatabaseDetail/AccessControls.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseAdvancedConfiguration/DatabaseAdvancedConfiguration.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseAdvancedConfiguration/DatabaseAdvancedConfigurationDrawer.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseAdvancedConfiguration/DatabaseConfigurationItem.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseResize/DatabaseResize.style.ts
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseResize/DatabaseResize.test.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseResize/DatabaseResize.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettings.test.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettingsMaintenance.test.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettingsMaintenance.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettingsMenuItem.test.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettingsMenuItem.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/MaintenanceWindow.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSummary/DatabaseSummaryConnectionDetails.style.ts
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSummary/DatabaseSummaryConnectionDetails.tsx
  packages/manager/src/utilities/testHelpers.test.tsx
  packages/manager/src/utilities/testHelpers.tsx
  pnpm-lock.yaml
Labels: DBaaS

#12433 test: [M3-9634] - Add Cypress tests for Host Maintenance Policy account settings section
  packages/manager/.changeset/pr-12433-tests-1750885668250.md
  packages/manager/cypress/e2e/core/account/host-maintenance-policy.spec.ts
  packages/manager/cypress/support/intercepts/maintenance.ts
Labels: Approved, Host & VM Maintenance

#12415 feat[UIE-8946]: IAM - Implement the new RBAC permission check model
  packages/manager/src/components/PrimaryNav/PrimaryNav.test.tsx
  packages/manager/src/features/IAM/hooks/adapters/accountGrantsToPermissions.ts
  packages/manager/src/features/IAM/hooks/adapters/firewallGrantsToPermissions.ts
  packages/manager/src/features/IAM/hooks/adapters/linodeGrantsToPermissions.ts
  packages/manager/src/features/IAM/hooks/adapters/permissionAdapters.test.ts
  packages/manager/src/features/IAM/hooks/adapters/permissionAdapters.ts
  packages/manager/src/features/IAM/hooks/useIsIAMEnabled.test.ts
  packages/manager/src/features/IAM/hooks/useIsIAMEnabled.ts
  packages/manager/src/features/IAM/hooks/usePermissions.test.ts
  packages/manager/src/features/IAM/hooks/usePermissions.ts
  packages/queries/src/iam/iam.ts
  packages/queries/src/iam/keys.ts
  packages/queries/src/profile/profile.ts
Labels: Approved, IAM (Identity & Access Management)
