Repository linode/manager, pull requests merged in 2025-09, with the labels that each got.

#12780 feat: [UIE-9141] - IAM RBAC: add perm check for nodebalancer landing
  packages/api-v4/.changeset/pr-12780-added-1756715574168.md
  packages/api-v4/src/iam/types.ts
  packages/manager/.changeset/pr-12780-added-1756375762995.md
  packages/manager/src/features/IAM/hooks/adapters/accountGrantsToPermissions.ts
  packages/manager/src/features/IAM/hooks/adapters/nodeBalancerGrantsToPermissions.ts
  packages/manager/src/features/IAM/hooks/adapters/permissionAdapters.ts
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/NodeBalancerActionMenu.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/NodeBalancerActionMenu.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/NodeBalancerTableRow.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/NodeBalancersLanding.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/NodeBalancersLanding.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/NodeBalancersLandingEmptyState.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/NodeBalancersLandingEmptyState.tsx
Labels: Approved, NodeBalancers, IAM (Identity & Access Management)

#12772 upcoming: [M3-10532] - Disable legacy interface selection in Linode Interface UI when creating Linode from backups
  packages/manager/.changeset/pr-12772-upcoming-features-1756221031061.md
  packages/manager/src/features/Linodes/LinodeCreate/Networking/InterfaceType.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/utils/useGetLinodeCreateType.ts
  packages/manager/src/features/Linodes/LinodeCreate/VPC/VPC.tsx
  packages/manager/src/features/Linodes/LinodeCreate/index.tsx
  packages/manager/src/features/Linodes/LinodeCreate/utilities.test.tsx
  packages/manager/src/features/Linodes/LinodeCreate/utilities.ts
Labels: Approved, Linode Interfaces

#12783 Release v1.149.1 - staging → master
  packages/manager/CHANGELOG.md
  packages/manager/package.json
  packages/manager/src/features/Linodes/LinodeEntityDetailHeader.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodesDetailNavigation.tsx
Labels: Do Not Merge, Release

#12794 test: [M3-10568] - Fix failing `linode-storage.spec.ts` delete test following API release
  packages/manager/.changeset/pr-12794-tests-1756839262706.md
  packages/manager/cypress/e2e/core/linodes/linode-storage.spec.ts
Labels: Ready for Review

#12787 upcoming: [DI-26718] - change aggregation function label
  packages/manager/.changeset/pr-12787-changed-1756744243536.md
  packages/manager/cypress/e2e/core/cloudpulse/create-user-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/edit-user-alert.spec.ts
  packages/manager/cypress/support/constants/alert.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailCriteria.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/Metric.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
Labels: 🚨 Urgent, Approved, Cloud Pulse, Cloud Pulse - Alerting

#12795 fix: [M3-10570] - Profile preferences across sessions
  packages/manager/.changeset/pr-12795-fixed-1756842256177.md
  packages/manager/src/components/PrimaryNav/PrimaryNav.tsx
Labels: Bug, 🚨 Urgent

#12793 upcoming: [M3-10379] - Allow Firewall to be configured in the Add Node Pool Drawer
  packages/api-v4/.changeset/pr-12793-changed-1756835875675.md
  packages/api-v4/src/kubernetes/nodePools.ts
  packages/api-v4/src/kubernetes/types.ts
  packages/manager/.changeset/pr-12793-upcoming-features-1756835231450.md
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/AddNodePoolDrawer.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/AddNodePoolDrawer.tsx
  packages/manager/src/features/Kubernetes/KubernetesPlansPanel/KubernetesPlanSelectionTable.tsx
  packages/manager/src/features/Kubernetes/KubernetesPlansPanel/NodePoolConfigOptions.tsx
  packages/validation/.changeset/pr-12793-added-1756835813761.md
  packages/validation/.changeset/pr-12793-removed-1756835773560.md
  packages/validation/src/kubernetes.schema.ts
Labels: LKE, Approved, LKE-Enterprise

#12791 feat: [M3-9853] - Update Linode Config and Rescue Dialog to support new volume count limit
  packages/api-v4/.changeset/pr-12791-added-1756819884245.md
  packages/api-v4/src/linodes/types.ts
  packages/manager/.changeset/pr-12791-added-1756819851078.md
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/LinodeConfigDialog.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/LinodeConfigs.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/constants.ts
  packages/manager/src/features/Linodes/LinodesDetail/LinodeRescue/DeviceSelection.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeRescue/StandardRescueDialog.tsx
  packages/utilities/.changeset/pr-12791-changed-1756914177012.md
  packages/utilities/src/helpers/createDevicesFromStrings.test.ts
  packages/utilities/src/helpers/createDevicesFromStrings.ts
  packages/validation/.changeset/pr-12791-added-1756819913640.md
  packages/validation/src/linodes.schema.ts
Labels: 🚨 Urgent, Approved

#12790 feat: [UIE-9142] - IAM RBAC: perm check nodebalancer summary tab
  packages/manager/.changeset/pr-12790-added-1756817237984.md
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerDetail.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerSummary/SummaryPanel.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerSummary/SummaryPanel.tsx
Labels: Approved, NodeBalancers, IAM (Identity & Access Management)

#12774 feat: [UIE-9150] - IAM RBAC: add a notification banner for Account Settings if user doesn't have permission
  packages/manager/.changeset/pr-12774-added-1756288318362.md
  packages/manager/cypress/e2e/core/account/account-cancellation.spec.ts
  packages/manager/cypress/e2e/core/account/account-linode-managed.spec.ts
  packages/manager/src/features/Account/GlobalSettings.tsx
Labels: Approved, IAM (Identity & Access Management)

#12777 fix: [M3-10400] - Improve disabled list option tooltip behavior in selects
  packages/manager/.changeset/pr-12777-tests-1756833927472.md
  packages/manager/cypress/component/components/region-select.spec.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsCreateDrawer.test.tsx
  packages/manager/src/testSetup.ts
  packages/shared/.changeset/pr-12777-tests-1756834693476.md
  packages/shared/testSetup.ts
  packages/ui/.changeset/pr-12777-fixed-1756833819718.md
  packages/ui/src/components/ListItemOption/ListItemOption.tsx
Labels: Bug, Approved

#12734 tests [M3-9638]: Tests for Host & VM Maintenance in Linode create page
  packages/manager/.changeset/pr-12734-tests-1755697767741.md
  packages/manager/cypress/e2e/core/linodes/create-linode-vm-host-maintenance.spec.ts
Labels: Add'tl Approval Needed

#12763 fix: [M3-10527] - Maintenance banner showing redundant links
  packages/manager/.changeset/pr-12763-fixed-1756132506947.md
  packages/manager/cypress/e2e/core/notificationsAndEvents/qemu-reboot-upgrade-notice.spec.ts
  packages/manager/src/components/MaintenanceBanner/MaintenanceBannerV2.test.tsx
  packages/manager/src/components/MaintenanceBanner/MaintenanceBannerV2.tsx
  packages/manager/src/components/PlatformMaintenanceBanner/PlatformMaintenanceBanner.test.tsx
  packages/manager/src/components/PlatformMaintenanceBanner/PlatformMaintenanceBanner.tsx
  packages/manager/src/dev-tools/constants.ts
  packages/manager/src/features/Account/AccountLanding.tsx
  packages/manager/src/features/AccountSettings/AccountSettingsLanding.tsx
  packages/manager/src/features/Billing/BillingLanding/BillingLanding.tsx
  packages/manager/src/features/LoginHistory/LoginHistoryLanding.tsx
  packages/manager/src/features/Maintenance/MaintenanceLanding.tsx
  packages/manager/src/features/Quotas/QuotasLanding.tsx
  packages/manager/src/features/ServiceTransfers/ServiceTransfersLanding.tsx
  packages/manager/src/features/UsersAndGrants/UsersAndGrants.tsx
Labels: Approved

#12801 change: [UIE-9146] IAM - Improve visual support for AssignedEntities chips with long labels
  packages/manager/.changeset/pr-12801-changed-1756893245730.md
  packages/manager/src/features/IAM/Users/UserRoles/AssignedEntities.test.tsx
  packages/manager/src/features/IAM/Users/UserRoles/AssignedEntities.tsx
Labels: Approved, IAM (Identity & Access Management)

#12809 fix: [M3-10583] - Volume information not populating in Linode Configuration table row
  packages/api-v4/.changeset/pr-12809-changed-1756996526265.md
  packages/api-v4/src/linodes/types.ts
  packages/manager/.changeset/pr-12809-fixed-1756996376049.md
  packages/manager/.changeset/pr-12809-fixed-1756996472770.md
  packages/manager/src/features/Linodes/CloneLanding/utilities.ts
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/ConfigRow.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/ConfigRowDevices/ConfigRowDevice.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/ConfigRowDevices/ConfigRowDevice.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/ConfigRowDevices/DiskDevice.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/ConfigRowDevices/DiskDevice.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/ConfigRowDevices/VolumeDevice.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/ConfigRowDevices/VolumeDevice.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/InterfaceListItem.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/utilities.test.ts
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/utilities.ts
  packages/manager/src/queries/volumes/events.ts
  packages/queries/src/volumes/volumes.ts
  packages/utilities/src/helpers/createDevicesFromStrings.ts
  packages/utilities/src/helpers/createStringsFromDevices.test.ts
Labels: Bug, Approved

#12808 fix: [M3-10571] - Search Bar extra unnecessary encoding
  packages/manager/.changeset/pr-12808-fixed-1756929598765.md
  packages/manager/cypress/e2e/core/linodes/search-linodes.spec.ts
  packages/manager/src/features/TopMenu/SearchBar/SearchBar.tsx
Labels: Bug, Approved, Search

#12828 change: [M3-10593] - Update Self-Hosted Pendo Agent to Support data-pendo-id Attribute
  packages/manager/CHANGELOG.md
  packages/manager/public/pendo/pendo-staging.js
  packages/manager/public/pendo/pendo.js
Labels: 🚨 Urgent, Approved, Hotfix, Analytics

#12758 feat: [UIE-9125] - IAM RBAC: VPC Landing page permissions check
  packages/api-v4/src/iam/types.ts
  packages/manager/.changeset/pr-12758-upcoming-features-1756380547903.md
  packages/manager/src/features/IAM/hooks/adapters/accountGrantsToPermissions.ts
  packages/manager/src/features/IAM/hooks/adapters/permissionAdapters.ts
  packages/manager/src/features/IAM/hooks/adapters/vpcGrantsToPermissions.ts
  packages/manager/src/features/Linodes/LinodeCreate/Networking/utilities.ts
  packages/manager/src/features/VPCs/VPCLanding/VPCDeleteDialog.test.tsx
  packages/manager/src/features/VPCs/VPCLanding/VPCDeleteDialog.tsx
  packages/manager/src/features/VPCs/VPCLanding/VPCEditDrawer.test.tsx
  packages/manager/src/features/VPCs/VPCLanding/VPCEditDrawer.tsx
  packages/manager/src/features/VPCs/VPCLanding/VPCEmptyState.tsx
  packages/manager/src/features/VPCs/VPCLanding/VPCLanding.test.tsx
  packages/manager/src/features/VPCs/VPCLanding/VPCLanding.tsx
  packages/manager/src/features/VPCs/VPCLanding/VPCRow.test.tsx
  packages/manager/src/features/VPCs/VPCLanding/VPCRow.tsx
Labels: Approved, VPC, IAM (Identity & Access Management)

#12813 fix: [M3-10533] - Fix misleading "Receive a transfer" tooltip when user lacks permissions
  packages/manager/.changeset/pr-12813-fixed-1757003337258.md
  packages/manager/src/features/EntityTransfers/EntityTransfersLanding/TransferControls.test.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersLanding/TransferControls.tsx
Labels: Bug, Approved

#12820 new: [STORIF-81] Added ability to edit volume label.
  packages/manager/.changeset/pr-12820-added-1757082532771.md
  packages/manager/src/features/Volumes/VolumeDetails/VolumeDetails.tsx
  packages/manager/src/features/Volumes/VolumeDetails/VolumeDetailsHeader.tsx
Labels: Approved

#12841 fix: [M3-10606] - Redirects /settings to /account-settings
  packages/manager/CHANGELOG.md
  packages/manager/src/routes/accountSettings/index.ts
  packages/manager/src/routes/index.tsx
Labels: 🚨 Urgent, Approved

#12778 upcoming: [M3-9981] – Add support for VPC IPv6 in the Assign/Unassign Linodes drawers
  packages/api-v4/.changeset/pr-12778-upcoming-features-1756838250295.md
  packages/api-v4/src/linodes/types.ts
  packages/manager/.changeset/pr-12778-upcoming-features-1756838142101.md
  packages/manager/cypress/e2e/core/vpc/vpc-linodes-update.spec.ts
  packages/manager/src/components/MaintenanceBanner/MaintenanceBannerV2.tsx
  packages/manager/src/components/MultipleIPInput/MultipleIPInput.tsx
  packages/manager/src/components/RemovableSelectionsList/RemovableSelectionsListTable.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeSettings/VPCPanel.tsx
  packages/manager/src/features/VPCs/VPCDetail/AssignIPRanges.test.tsx
  packages/manager/src/features/VPCs/VPCDetail/AssignIPRanges.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetAssignLinodesDrawer.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetUnassignLinodesDrawer.tsx
  packages/manager/src/features/VPCs/components/PublicAccess.tsx
  packages/manager/src/features/VPCs/components/VPCRangesDescription.tsx
  packages/manager/src/features/VPCs/constants.ts
  packages/manager/src/features/VPCs/utils.test.ts
  packages/manager/src/features/VPCs/utils.ts
  packages/manager/src/utilities/subnets.ts
  packages/validation/.changeset/pr-12778-upcoming-features-1756838325119.md
  packages/validation/src/linodes.schema.ts
Labels: VPC IPv6

#12814 change: [M3-10586] - Remove update strategy from node pool summary item in LKE checkout bar
  packages/manager/.changeset/pr-12814-removed-1757010425024.md
  packages/manager/src/features/Kubernetes/KubeCheckoutBar/NodePoolSummaryItem.tsx
Labels: Approved, LKE-Enterprise

#12818 change: [M3-10534] - Error in Sentry: window.crypto.randomUUID is not a function
  packages/manager/.changeset/pr-12818-changed-1757021047591.md
  packages/manager/src/initSentry.test.ts
  packages/manager/src/initSentry.ts
Labels: Approved, Tech Debt

#12874 change: [M3-10615] - Update pricing copy in the Image Replicas Drawer because billing is postponed
  packages/manager/.changeset/pr-12874-changed-1757696731696.md
  packages/manager/src/features/Images/ImagesLanding/ImageRegions/ManageImageRegionsForm.tsx
Labels: Approved, Images

#12872 fix: [DI-27269] - Updated tooltip per second unit in widget graphs
  packages/manager/.changeset/pr-12872-fixed-1757684914528.md
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidget.tsx
  packages/manager/src/mocks/serverHandlers.ts
Labels: Bug, Approved, Cloud Pulse, Cloud Pulse - Dashboards

#12879 upcoming: [DI-26794] - Scope support for Cloud Firewall dimension filters
  packages/manager/.changeset/pr-12879-upcoming-features-1757953229656.md
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterField.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterValue/ValueFieldRenderer.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterValue/useFetchOptions.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterValue/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterValue/utils.ts
  packages/manager/src/mocks/serverHandlers.ts
Labels: 🚨 Urgent, Approved, Cloud Pulse, Cloud Pulse - Alerting

#12871 feat: [UIE-9144] - IAM RBAC: perm check nodebalancer settings tab
  packages/manager/.changeset/pr-12871-added-1757674703754.md
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeFirewalls/AddFirewallForm.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerFirewallsActionMenu.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerFirewallsRow.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerFirewallsRow.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerSettings.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerSettings.tsx
Labels: Approved, NodeBalancers, IAM (Identity & Access Management)

#12883 test: [M3-10628] - Fix Cypress test failures after LKE-E Post LA flag was toggled on
  packages/manager/.changeset/pr-12883-tests-1758049052198.md
  packages/manager/cypress/e2e/core/kubernetes/smoke-lke-standard-create.spec.ts
  packages/manager/cypress/e2e/core/linodes/plan-selection.spec.ts
Labels: Testing, 🚨 Urgent, Approved, LKE-Enterprise

#12882 feat: [UIE-8875] - IAM RBAC permissions for GoTo menu
  packages/manager/.changeset/pr-12882-changed-1758028381746.md
  packages/manager/src/GoTo.tsx
Labels: Approved, IAM (Identity & Access Management)

#12825 change: [UIE-8820] - Refactor permission/entities truncation
  packages/manager/.changeset/pr-12825-tech-stories-1757923303722.md
  packages/manager/cypress/component/features/IAM/truncated-list.spec.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/AssignedRolesTable.tsx
  packages/manager/src/features/IAM/Shared/Permissions/Permissions.style.ts
  packages/manager/src/features/IAM/Shared/Permissions/Permissions.test.tsx
  packages/manager/src/features/IAM/Shared/Permissions/Permissions.tsx
  packages/manager/src/features/IAM/Shared/TruncatedList.styles.ts
  packages/manager/src/features/IAM/Shared/TruncatedList.test.tsx
  packages/manager/src/features/IAM/Shared/TruncatedList.tsx
  packages/manager/src/features/IAM/Users/UserRoles/AssignedEntities.tsx
  packages/manager/src/features/IAM/hooks/useCalculateHiddenItems.ts
Labels: Approved, IAM (Identity & Access Management)

#12869 deps: [M3-10272] - Update `brace-expansion` to resolve dependabot
  package.json
  packages/manager/.changeset/pr-12869-tech-stories-1757684471209.md
  pnpm-lock.yaml
Labels: Dependencies, Approved

#12892 feat: [UIE-9068] - IAM RBAC: disable field in the drawer
  packages/manager/.changeset/pr-12892-added-1758187361526.md
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/AddNodebalancerDrawer.test.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/AddNodebalancerDrawer.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/FirewallDeviceLanding.tsx
Labels: IAM (Identity & Access Management), Firewalls

#12894 fix: [STORIF-101] - Volume deletion from the Volume Details page fixed.
  packages/manager/.changeset/pr-12894-fixed-1758298095602.md
  packages/manager/src/features/Volumes/Dialogs/DeleteVolumeDialog.tsx
  packages/manager/src/features/Volumes/VolumeDetails/VolumeDetails.tsx
  packages/manager/src/features/Volumes/VolumeDrawers/VolumeDrawers.tsx
  packages/manager/src/features/Volumes/VolumesLanding.tsx
Labels: Approved, Missing Changeset, Volumes

#12842 test: [M3-10608] - Add tests for Linode Interfaces table in Linode Networking tab (part 1)
  packages/manager/.changeset/pr-12842-tests-1757434078486.md
  packages/manager/cypress/e2e/core/linodes/linode-network.spec.ts
  packages/manager/cypress/support/intercepts/linodes.ts
  packages/manager/src/features/Linodes/LinodeCreate/Networking/Firewall.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Networking/InterfaceFirewall.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeFirewalls/LinodeFirewalls.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeInterfaces/InterfaceDetailsDrawer/VlanInterfaceDetailsContent.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeInterfaces/LinodeInterfacesTable.tsx
Labels: Testing, Approved, Linode Interfaces

#12891 fix: [DI-27257] - Disable metric and dimension filter on no serviceType selected, Also disable resources hook on no supported regions in Create Alerts flow
  packages/manager/.changeset/pr-12891-fixed-1758180544654.md
  packages/manager/cypress/e2e/core/cloudpulse/edit-system-alert.spec.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/CreateAlertDefinition.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilter.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/MetricCriteria.tsx
  packages/manager/src/queries/cloudpulse/resources.ts
Labels: Ready for Review, Cloud Pulse, Cloud Pulse - Alerting

#12911 change: Remove deprecated flag from Flags interface
  packages/manager/.changeset/pr-12911-tech-stories-1758736596975.md
  packages/manager/src/featureFlags.ts
Labels: Approved, Clean Up, LKE-Enterprise

#12918 Release v1.151.1 - `staging` → `master`
  packages/manager/CHANGELOG.md
  packages/manager/package.json
  packages/manager/src/dev-tools/FeatureFlagTool.tsx
  packages/manager/src/featureFlags.ts
  packages/manager/src/features/Databases/DatabaseCreate/DatabaseVPCSelector.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseNetworking/DatabaseManageNetworking.tsx
Labels: Release

#12867 change: [M3-10242] - Move LKE endpoints from v4 to v4beta endpoints to allow restricted billing user access
  packages/api-v4/.changeset/pr-12867-changed-1758062421827.md
  packages/api-v4/src/kubernetes/kubernetes.ts
  packages/manager/.changeset/pr-12867-tech-stories-1758062471882.md
  packages/manager/cypress/e2e/core/account/restricted-user-details-pages.spec.ts
  packages/manager/cypress/e2e/core/kubernetes/lke-create.spec.ts
  packages/manager/cypress/e2e/core/kubernetes/lke-enterprise-create.spec.ts
  packages/manager/cypress/e2e/core/kubernetes/lke-enterprise-read.spec.ts
  packages/manager/cypress/e2e/core/kubernetes/lke-landing-page.spec.ts
  packages/manager/cypress/e2e/core/kubernetes/lke-standard-read.spec.ts
  packages/manager/cypress/e2e/core/kubernetes/lke-summary-page.spec.ts
  packages/manager/cypress/e2e/core/kubernetes/lke-update.spec.ts
  packages/manager/cypress/support/intercepts/lke.ts
  packages/manager/src/features/Delivery/Streams/StreamForm/Clusters/StreamFormClusters.tsx
  packages/manager/src/features/Kubernetes/ClusterList/ClusterChips.test.tsx
  packages/manager/src/features/Kubernetes/ClusterList/ClusterChips.tsx
  packages/manager/src/features/Kubernetes/ClusterList/KubernetesClusterRow.tsx
  packages/manager/src/features/Kubernetes/CreateCluster/CreateCluster.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubeClusterSpecs.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubernetesClusterDetail.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/UpgradeKubernetesVersionBanner.tsx
  packages/manager/src/features/Kubernetes/KubernetesLanding/KubernetesLanding.tsx
  packages/manager/src/features/Kubernetes/UpgradeVersionModal.tsx
  packages/manager/src/features/Kubernetes/kubeUtils.test.ts
  packages/manager/src/features/Kubernetes/kubeUtils.ts
  packages/manager/src/features/Linodes/LinodeEntityDetailBody.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDetail/NodeBalancerSummary/SummaryPanel.tsx
  packages/manager/src/features/Search/useClientSideSearch.ts
  packages/manager/src/features/Support/SupportTickets/SupportTicketProductSelectionFields.tsx
  packages/manager/src/queries/kubernetes.ts
  packages/queries/.changeset/pr-12867-removed-1758062601387.md
Labels: LKE, Approved, LKE-Enterprise

#12916 fix: [M3-10590] - Clear LKE-E specific configuration data from LKE standard request payload
  packages/manager/.changeset/pr-12916-fixed-1758811311336.md
  packages/manager/cypress/e2e/core/kubernetes/lke-create.spec.ts
  packages/manager/src/features/Kubernetes/CreateCluster/CreateCluster.tsx
Labels: Approved, LKE-Enterprise

#12922 fix: Update LKE-E cluster Upgrade Version modal copy to mention update strategy
  packages/manager/.changeset/pr-12922-fixed-1758907285299.md
  packages/manager/cypress/e2e/core/account/restricted-user-details-pages.spec.ts
  packages/manager/cypress/e2e/core/kubernetes/lke-landing-page.spec.ts
  packages/manager/cypress/e2e/core/kubernetes/lke-update.spec.ts
  packages/manager/src/features/Kubernetes/UpgradeVersionModal.tsx
Labels: Approved, LKE-Enterprise

#12933 fix: [UIE-9286] - User Menu: Hide IAM Beta badge for LA
  packages/manager/.changeset/pr-12933-fixed-1759235571094.md
  packages/manager/src/features/TopMenu/UserMenu/UserMenuPopover.tsx
Labels: IAM (Identity & Access Management)
