Repository linode/manager, pull requests merged in 2025-08, with the labels that each got.

#12603 fix: [M3-10336] - Checkbox color token - pt2
  packages/ui/.changeset/pr-12603-fixed-1753955503044.md
  packages/ui/src/foundations/themes/dark.ts
  packages/ui/src/foundations/themes/light.ts
Labels: Approved, Design Tokens

#12610 upcoming: [M3-9979] – Add VPC IPv6 address in Linode Detail > Summary panel
  packages/manager/.changeset/pr-12610-upcoming-features-1753907488370.md
  packages/manager/src/features/Linodes/LinodeEntityDetail.styles.ts
  packages/manager/src/features/Linodes/LinodeEntityDetail.test.tsx
  packages/manager/src/features/Linodes/LinodeEntityDetailBody.styles.ts
  packages/manager/src/features/Linodes/LinodeEntityDetailBody.test.tsx
  packages/manager/src/features/Linodes/LinodeEntityDetailBody.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeIPAddressRow.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeIPAddresses.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeIPAddresses.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/utils.ts
  packages/manager/src/features/Linodes/utilities.ts
Labels: Add'tl Approval Needed, VPC IPv6

#12628 fix: [DI-26114] - Adding in operator check to create-alert schema
  packages/validation/.changeset/pr-12628-fixed-1754307870531.md
  packages/validation/src/cloudpulse.schema.ts
Labels: Bug, 🚨 Urgent, Cloud Pulse - Alerting

#12636 fix: [DI-26621] - Replaced isFetching check with isLoading check
  packages/manager/.changeset/pr-12636-fixed-1754395419312.md
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertLanding.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertLanding.tsx
Labels: 🚨 Urgent, Approved, Ready for Review, Cloud Pulse, Cloud Pulse - Alerting

#12606 fix:[M3-10310] - Harmless bug in Cloud Manager allows users to enter negative volume sizes
  packages/manager/.changeset/pr-12606-fixed-1753902396081.md
  packages/manager/src/features/Volumes/Drawers/VolumeDrawer/SizeField.tsx
Labels: Bug, Approved

#12635 fix: [M3-10439] - Non-Human-Readable Validation Messages for Linode Alert Numeric Input
  packages/validation/.changeset/pr-12635-fixed-1754392274805.md
  packages/validation/src/linodes.schema.ts
Labels: Bug, Approved, Linodes

#12618 feat: [UIE-8834] - IAM RBAC integrated permission in edit billing contact
  packages/manager/.changeset/pr-12618-upcoming-features-1754482223158.md
  packages/manager/src/features/Billing/BillingPanels/ContactInfoPanel/UpdateContactInformationForm/UpdateContactInformationForm.tsx
  packages/manager/src/features/IAM/hooks/adapters/accountGrantsToPermissions.ts
Labels: 🚨 Urgent, Approved, IAM (Identity & Access Management)

#12634 fix: [UIE-9003] - DBaaS - node selector options for premium and provide plan disabling behavior in resize
  packages/manager/.changeset/pr-12634-added-1754346674408.md
  packages/manager/.changeset/pr-12634-fixed-1754346423085.md
  packages/manager/src/features/Databases/DatabaseCreate/DatabaseNodeSelector.test.tsx
  packages/manager/src/features/Databases/DatabaseCreate/DatabaseNodeSelector.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseResize/DatabaseResize.test.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseResize/DatabaseResize.tsx
  packages/manager/src/features/components/PlansPanel/PlanInformation.test.tsx
  packages/manager/src/features/components/PlansPanel/PlanInformation.tsx
  packages/manager/src/features/components/PlansPanel/PlansPanel.tsx
Labels: 🚨 Urgent, DBaaS, Approved

#12642 feat: [OCA-1567] - Adds August 2025 Marketplace apps
  packages/manager/.changeset/pr-12642-added-1754493605017.md
  packages/manager/public/assets/arangodb.svg
  packages/manager/public/assets/memgraph.svg
  packages/manager/public/assets/neo4j.svg
  packages/manager/public/assets/white/arangodb.svg
  packages/manager/public/assets/white/memgraph.svg
  packages/manager/public/assets/white/neo4j.svg
  packages/manager/src/features/OneClickApps/oneClickApps.ts
Labels: Marketplace, Approved

#12641 feat: [UIE-8872] - IAM RBAC - Firewalls / Nodebalancers permissions
  packages/manager/.changeset/pr-12641-changed-1754424739002.md
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/AddNodebalancerDrawer.test.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/AddNodebalancerDrawer.tsx
Labels: Add'tl Approval Needed, 🚨 Urgent, IAM (Identity & Access Management), Firewalls

#12647 fix: [DI-26688] - Fixed incorrect unit display in metric widget
  packages/manager/.changeset/pr-12647-fixed-1754492562580.md
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidget.tsx
Labels: Bug, 🚨 Urgent, Approved, Cloud Pulse - Dashboards

#12657 fix: [M3-10446] - Fix console error from `hasBorder` prop in styled component
  packages/manager/.changeset/pr-12657-fixed-1754583180570.md
  packages/manager/src/components/Flag.tsx
Labels: Bug, Approved

#12663 upcoming: [M3-10453] - Improve maintenance banner datetime display and formatting
  packages/manager/CHANGELOG.md
  packages/manager/src/components/MaintenanceBanner/LinodeMaintenanceBanner.tsx
  packages/manager/src/features/Account/Maintenance/MaintenanceTableRow.tsx
  packages/manager/src/features/Linodes/LinodeEntityDetailHeaderMaintenancePolicy.tsx
  packages/manager/src/features/Linodes/LinodesLanding/LinodeRow/LinodeRow.tsx
Labels: Approved, Hotfix, Host & VM Maintenance

#12633 upcoming: [M3-10423], [M3-10412] - IAM: Added a new feature flag and Administration section in the Primary Nav
  packages/manager/.changeset/pr-12633-upcoming-features-1754346094060.md
  packages/manager/cypress/e2e/core/account/account-maintenance.spec.ts
  packages/manager/cypress/e2e/core/account/service-transfer.spec.ts
  packages/manager/cypress/e2e/core/general/smoke-deep-link.spec.ts
  packages/manager/cypress/e2e/core/linodes/smoke-delete-linode.spec.ts
  packages/manager/cypress/e2e/core/linodes/smoke-linode-landing-table.spec.ts
  packages/manager/cypress/e2e/core/notificationsAndEvents/qemu-reboot-upgrade-notice.spec.ts
  packages/manager/src/assets/icons/entityIcons/coreuser.svg
  packages/manager/src/components/PrimaryNav/PrimaryNav.test.tsx
  packages/manager/src/components/PrimaryNav/PrimaryNav.tsx
  packages/manager/src/dev-tools/FeatureFlagTool.tsx
  packages/manager/src/featureFlags.ts
Labels: Approved, Ready for Review, IAM - Primary Nav Changes

#12640 upcoming: [M3-10421] - IAM: Rename Account section to Administration in the top right menu
  packages/manager/.changeset/pr-12640-upcoming-features-1754423037270.md
  packages/manager/src/features/TopMenu/UserMenu/UserMenuPopover.tsx
Labels: Approved, IAM - Primary Nav Changes

#12666 fix: [M3-10456] - Routing refactor follow-up bugs
  packages/manager/src/FramelessRoot.tsx
  packages/manager/src/RootSwitch.tsx
  packages/manager/src/features/TopMenu/TopMenu.tsx
  packages/manager/src/index.tsx
  packages/manager/src/routes/linodes/index.ts
  packages/manager/src/routes/root.ts
Labels: Bug, 🚨 Urgent, Approved, Routing Refactor

#12654 change: [UIE-8835] - Permissions for billing payment methods
  packages/manager/.changeset/pr-12654-changed-1754641803662.md
  packages/manager/src/components/PaymentMethodRow/DeletePaymentMethodDialog.test.tsx
  packages/manager/src/components/PaymentMethodRow/DeletePaymentMethodDialog.tsx
  packages/manager/src/components/PaymentMethodRow/PaymentMethodRow.test.tsx
  packages/manager/src/components/PaymentMethodRow/PaymentMethodRow.tsx
  packages/manager/src/features/Billing/BillingPanels/PaymentInfoPanel/AddPaymentMethodDrawer/AddCreditCardForm.tsx
  packages/manager/src/features/Billing/BillingPanels/PaymentInfoPanel/AddPaymentMethodDrawer/AddPaymentMethodDrawer.tsx
  packages/manager/src/features/Billing/BillingPanels/PaymentInfoPanel/PaymentInformation.test.tsx
  packages/manager/src/features/Billing/BillingPanels/PaymentInfoPanel/PaymentInformation.tsx
Labels: IAM (Identity & Access Management)

#12631 feat: [M3-10064] - Allow Node Pool Update Strategy to be configured when adding a Node Pool
  packages/manager/.changeset/pr-12631-tech-stories-1754929021333.md
  packages/manager/.changeset/pr-12631-upcoming-features-1754928989964.md
  packages/manager/cypress/e2e/core/kubernetes/lke-update.spec.ts
  packages/manager/cypress/support/intercepts/lke.ts
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubernetesClusterDetail.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/AddNodePoolDrawer.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/AddNodePoolDrawer.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePoolsDisplay.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePoolsDisplay.tsx
  packages/manager/src/features/Kubernetes/NodePoolUpdateStrategySelect.tsx
Labels: LKE, Approved, LKE-Enterprise

#12671 [DI-26394] - Add new flag to control services types in alerts and metrics
  packages/manager/.changeset/pr-12671-upcoming-features-1754967230297.md
  packages/manager/cypress/e2e/core/cloudpulse/aclp-support.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/alert-errors.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/alerts-listing-page.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/alerts-service-ld-flags.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/cloudpulse-dashboard-errors.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/create-user-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/dbaas-widgets-verification.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/edit-system-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/edit-user-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/feature-flag-disabled.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/groupby-tags.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/linode-widget-verification.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/metrics-service-ld-flags.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/nodebalancer-widget-verification.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/timerange-verification.spec.ts
  packages/manager/cypress/e2e/core/linodes/alerts-create.spec.ts
  packages/manager/cypress/e2e/core/linodes/alerts-edit.spec.ts
  packages/manager/src/dev-tools/FeatureFlagTool.tsx
  packages/manager/src/factories/featureFlags.ts
  packages/manager/src/featureFlags.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailOverview.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListing.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListing.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertTableRow.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertReusableComponent.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/CreateAlertDefinition.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/GeneralInformation/ServiceTypeSelect.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/GeneralInformation/ServiceTypeSelect.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.ts
  packages/manager/src/features/CloudPulse/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Utils/utils.ts
  packages/manager/src/features/CloudPulse/shared/CloudPulseDashboardSelect.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Actions.tsx
  packages/manager/src/features/Linodes/LinodeCreate/AdditionalOptions/AdditionalOptions.tsx
  packages/manager/src/features/Linodes/LinodeCreate/AdditionalOptions/Alerts.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Summary/Summary.tsx
  packages/manager/src/features/Linodes/LinodeCreate/index.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeAlerts/LinodeAlerts.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeMetrics/LinodeMetrics.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodesDetailNavigation.tsx
Labels: SDET Approval Needed, Cloud Pulse - Alerting, Cloud Pulse - Dashboards

#12664 refactor:[M3-9877][SECURITY] - Fix excessive secrets exposure warning in e2e GHA workflow
  .github/workflows/e2e_schedule_and_push.yml
  packages/manager/.changeset/pr-12664-tech-stories-1754933120939.md
Labels: Security

#12691 test: [M3-10474] - Fix `qemu-reboot-upgrade-notice.spec.ts` test failure
  packages/manager/.changeset/pr-12691-tests-1755096527481.md
  packages/manager/cypress/e2e/core/notificationsAndEvents/qemu-reboot-upgrade-notice.spec.ts
Labels: Testing, 🚨 Urgent, Approved

#12675 feat: [M3-10437] - Revert disabled action treatment for autogenerated LKE-E VPCs
  packages/manager/.changeset/pr-12675-changed-1754945494991.md
  packages/manager/src/features/Kubernetes/constants.ts
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/LinodeConfigDialog.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/LinodeConfigDialog.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetActionMenu.test.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetActionMenu.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetLinodeActionMenu.test.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetLinodeActionMenu.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetLinodeRow.test.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetLinodeRow.tsx
  packages/manager/src/features/VPCs/VPCDetail/VPCDetail.test.tsx
  packages/manager/src/features/VPCs/VPCDetail/VPCDetail.tsx
  packages/manager/src/features/VPCs/VPCDetail/VPCSubnetsTable.test.tsx
  packages/manager/src/features/VPCs/VPCDetail/VPCSubnetsTable.tsx
  packages/manager/src/features/VPCs/VPCLanding/VPCRow.test.tsx
  packages/manager/src/features/VPCs/VPCLanding/VPCRow.tsx
Labels: Approved, LKE-Enterprise

#12623 fix:[M3-9277] - StackScripts "Deploy New Linode" uses search query instead of StackScript ID when clicked during active search
  packages/manager/.changeset/pr-12623-fixed-1754501467029.md
  packages/manager/src/components/DebouncedSearchTextField/DebouncedSearchTextField.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.test.tsx
Labels: Bug, Approved, StackScripts

#12676 [DI-26291] - Introduce dimension value label transformation config
  packages/manager/.changeset/pr-12676-upcoming-features-1755009682061.md
  packages/manager/cypress/e2e/core/cloudpulse/dbaas-widgets-verification.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/linode-widget-verification.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/nodebalancer-widget-verification.spec.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetail.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailCriteria.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/AlertDetailCriteria.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/RenderAlertsMetricsAndDimensions.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterField.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.ts
  packages/manager/src/features/CloudPulse/Utils/CloudPulseWidgetUtils.test.ts
  packages/manager/src/features/CloudPulse/Utils/CloudPulseWidgetUtils.ts
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidget.tsx
  packages/manager/src/features/CloudPulse/shared/DimensionTransform.ts
  packages/manager/src/features/CloudPulse/shared/types.ts
Labels: Cloud Pulse - Alerting, Cloud Pulse - Dashboards

#12687 fix: [UIE-9063] - IAM Add User FE validation and schema improvement
  packages/manager/.changeset/pr-12687-fixed-1755088052886.md
  packages/manager/src/features/IAM/Users/UsersTable/CreateUserDrawer.test.tsx
  packages/manager/src/features/IAM/Users/UsersTable/CreateUserDrawer.tsx
  packages/manager/src/features/IAM/Users/UsersTable/Users.tsx
  packages/validation/src/account.schema.ts
Labels: Approved, IAM (Identity & Access Management)

#12681 fix: [UIE-8838, UIE-9087] - IAM RBAC: login-history permission fix, firewall edit label permission fix
  packages/manager/.changeset/pr-12681-fixed-1755003617659.md
  packages/manager/src/features/Account/AccountLogins.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/index.tsx
Labels: Approved, IAM (Identity & Access Management)

#12668 fix: [UIE-9071, UIE-9072] - IAM RBAC: clone linode permission fix, edit linode label permission fix
  packages/manager/.changeset/pr-12668-fixed-1754917016678.md
  packages/manager/src/features/Linodes/LinodesDetail/LinodesDetailHeader/LinodeDetailHeader.tsx
  packages/manager/src/features/Linodes/LinodesLanding/LinodeActionMenu/LinodeActionMenu.tsx
Labels: Approved, IAM (Identity & Access Management)

#12659 fix: [UIE-8142] - IAM RBAC: fix roles table expand
  packages/manager/.changeset/pr-12659-fixed-1754657214437.md
  packages/manager/src/features/IAM/Roles/RolesTable/RolesTable.tsx
Labels: Approved, IAM (Identity & Access Management)

#12693 upcoming: [M3-10416] - Redirect /account/quotas → /quotas when feature flag is enabled
  packages/manager/.changeset/pr-12692-upcoming-features-1755112059114.md
  packages/manager/src/components/PrimaryNav/PrimaryNav.test.tsx
  packages/manager/src/components/PrimaryNav/PrimaryNav.tsx
  packages/manager/src/features/Account/Quotas/Quotas.tsx
  packages/manager/src/features/Account/Quotas/QuotasTable.tsx
  packages/manager/src/features/Quotas/QuotasLanding.tsx
  packages/manager/src/features/Quotas/quotasLandingLazyRoute.ts
  packages/manager/src/features/TopMenu/UserMenu/UserMenuPopover.tsx
  packages/manager/src/routes/account/index.ts
  packages/manager/src/routes/index.tsx
  packages/manager/src/routes/quotas/QuotasRoute.tsx
  packages/manager/src/routes/quotas/index.ts
Labels: Approved, IAM - Primary Nav Changes

#12658 feat: [UIE-8846] - IAM RBAC: add a permission check in Account Service Transfers
  packages/api-v4/.changeset/pr-12658-changed-1755183015218.md
  packages/api-v4/src/entity-transfers/index.ts
  packages/api-v4/src/entity-transfers/transfers.ts
  packages/api-v4/src/index.ts
  packages/api-v4/src/service-transfers/index.ts
  packages/api-v4/src/service-transfers/service-transfers.ts
  packages/api-v4/src/service-transfers/types.ts
  packages/manager/.changeset/pr-12658-changed-1754657108063.md
  packages/manager/cypress/support/api/entityTransfer.ts
  packages/manager/cypress/support/intercepts/account.ts
  packages/manager/src/components/SelectableTableRow/SelectableTableRow.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersCreate/EntityTransfersCreate.test.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersCreate/EntityTransfersCreate.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersCreate/LinodeTransferTable.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersCreate/TransferCheckoutBar.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersCreate/TransferTable.styles.ts
  packages/manager/src/features/EntityTransfers/EntityTransfersCreate/TransferTable.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersLanding/ConfirmTransferCancelDialog.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersLanding/ConfirmTransferDialog.test.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersLanding/ConfirmTransferDialog.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersLanding/CreateTransferSuccessDialog.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersLanding/EntityTransfersLanding.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersLanding/TransferControls.test.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersLanding/TransferControls.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersLanding/TransferDetailsDialog.tsx
  packages/manager/src/features/EntityTransfers/RenderTransferRow.tsx
  packages/manager/src/features/EntityTransfers/TransfersPendingActionMenu.test.tsx
  packages/manager/src/features/EntityTransfers/TransfersPendingActionMenu.tsx
  packages/manager/src/features/EntityTransfers/TransfersTable.tsx
  packages/manager/src/features/EntityTransfers/utilities.ts
  packages/manager/src/mocks/serverHandlers.ts
  packages/queries/.changeset/pr-12658-changed-1755183111571.md
  packages/queries/src/entitytransfers/index.ts
  packages/queries/src/entitytransfers/requests.ts
  packages/queries/src/index.ts
  packages/queries/src/servicetransfers/index.ts
  packages/queries/src/servicetransfers/requests.ts
  packages/queries/src/servicetransfers/serviceTransfers.ts
Labels: Approved, IAM (Identity & Access Management)

#12667 feat: [UIE-9078] - IAM RBAC: add the missing permission check for Linode CreateDiskDrawer
  packages/manager/.changeset/pr-12667-changed-1754909830208.md
  packages/manager/src/features/Linodes/LinodesDetail/LinodeStorage/CreateDiskDrawer.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeStorage/CreateDiskDrawer.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeStorage/LinodeDisks.tsx
Labels: Approved, Linodes, IAM (Identity & Access Management)

#12701 fix: [M3-9034] - Use empty string instead of unknown for delete dialog titles
  packages/manager/.changeset/pr-12701-fixed-1755186870164.md
  packages/manager/cypress/e2e/core/placementGroups/delete-placement-groups.spec.ts
  packages/manager/src/features/Domains/DeleteDomain.test.tsx
  packages/manager/src/features/Domains/DeleteDomain.tsx
  packages/manager/src/features/Domains/DeleteDomainDialog.tsx
  packages/manager/src/features/Domains/DisableDomainDialog.tsx
  packages/manager/src/features/Domains/DomainDetail/DomainDetail.tsx
  packages/manager/src/features/Domains/DomainsLanding.tsx
  packages/manager/src/features/Managed/Contacts/Contacts.tsx
  packages/manager/src/features/Managed/Credentials/CredentialList.tsx
  packages/manager/src/features/Managed/Monitors/MonitorTable.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerDeleteDialog.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDeleteModal.test.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsDeleteModal.tsx
  packages/manager/src/features/StackScripts/StackScriptLanding/StackScriptDeleteDialog.tsx
  packages/manager/src/features/VPCs/VPCLanding/VPCDeleteDialog.tsx
  packages/manager/src/features/Volumes/Dialogs/DeleteVolumeDialog.tsx
Labels: Bug, Approved

#12716 upcoming: [DI-26793] - CloudPulse metric label support for Linode Interface firewall entities
  packages/manager/.changeset/pr-12716-added-1755528765131.md
  packages/manager/src/mocks/serverHandlers.ts
  packages/manager/src/queries/cloudpulse/resources.ts
Labels: 🚨 Urgent, Approved, Cloud Pulse, Cloud Pulse - Dashboards

#12704 upcoming:[DI-26661]: Add new filter - 'linode region' for firewalls
  packages/api-v4/.changeset/pr-12704-upcoming-features-1755191793190.md
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/.changeset/pr-12704-upcoming-features-1755191839299.md
  packages/manager/cypress/support/constants/widgets.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterValue/useFetchOptions.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterValue/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterValue/utils.ts
  packages/manager/src/features/CloudPulse/Dashboard/CloudPulseDashboard.tsx
  packages/manager/src/features/CloudPulse/Dashboard/CloudPulseDashboardRenderer.tsx
  packages/manager/src/features/CloudPulse/Utils/CloudPulseWidgetUtils.ts
  packages/manager/src/features/CloudPulse/Utils/FilterBuilder.ts
  packages/manager/src/features/CloudPulse/Utils/FilterConfig.ts
  packages/manager/src/features/CloudPulse/Utils/constants.ts
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidget.tsx
  packages/manager/src/features/CloudPulse/Widget/CloudPulseWidgetRenderer.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseComponentRenderer.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseDashboardFilterBuilder.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseRegionSelect.test.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseRegionSelect.tsx
Labels: Cloud Pulse - Dashboards

#12685 fix: [M3-10482] - Add missing `firewall_apply` event messages
  packages/manager/.changeset/pr-12685-fixed-1755272623309.md
  packages/manager/.changeset/pr-12685-upcoming-features-1755276113969.md
  packages/manager/src/features/Events/factories/firewall.tsx
Labels: Approved

#12712 upcoming: [M3-10377] - Add node pool firewall selection to LKE-E create flow
  packages/manager/.changeset/pr-12712-upcoming-features-1755291113192.md
  packages/manager/src/features/Kubernetes/CreateCluster/CreateCluster.tsx
  packages/manager/src/features/Kubernetes/KubernetesPlansPanel/NodePoolConfigDrawer.tsx
  packages/manager/src/features/Kubernetes/KubernetesPlansPanel/NodePoolConfigOptions.tsx
  packages/manager/src/features/Kubernetes/NodePoolFirewallSelect.tsx
  packages/manager/src/features/Kubernetes/NodePoolUpdateStrategySelect.tsx
Labels: Approved, LKE-Enterprise

#12724 fix: [DI-26674] - Update the capitalization logic in Show-Details
  packages/manager/.changeset/pr-12724-fixed-1755617276166.md
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/RenderAlertsMetricsAndDimensions.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertsDetail/utils.ts
Labels: 🚨 Urgent, Approved, Cloud Pulse, Cloud Pulse - Alerting

#12729 fix: [UIE-9111] - DBaaS - Database landing page shows error state after plans column is sorted.
  packages/manager/.changeset/pr-12729-fixed-1755635540451.md
  packages/manager/src/features/Databases/DatabaseLanding/DatabaseLandingTable.tsx
Labels: 🚨 Urgent, DBaaS, Approved

#12726 fix: [M3-10497], [M3-10495], [M3-10493], [M3-10494] - Fix Invoice pagination, unwanted hyphen in service transfers breadcrumb, restricted message in quotas and open make a payment drawer when IAM nav is enabled
  packages/manager/.changeset/pr-12726-fixed-1755622668154.md
  packages/manager/.changeset/pr-12726-fixed-1755622692185.md
  packages/manager/.changeset/pr-12726-fixed-1755622731861.md
  packages/manager/.changeset/pr-12726-fixed-1755622756270.md
  packages/manager/src/GoTo.tsx
  packages/manager/src/components/PaymentMethodRow/PaymentMethodRow.tsx
  packages/manager/src/components/PrimaryNav/PrimaryNav.tsx
  packages/manager/src/features/Account/AccountLanding.tsx
  packages/manager/src/features/Account/constants.ts
  packages/manager/src/features/Billing/BillingLanding/BillingLanding.tsx
  packages/manager/src/features/Billing/BillingPanels/BillingActivityPanel/BillingActivityPanel.tsx
  packages/manager/src/features/EntityTransfers/EntityTransfersCreate/EntityTransfersCreate.tsx
  packages/manager/src/features/GlobalNotifications/CreditCardExpiredBanner.tsx
  packages/manager/src/features/GlobalNotifications/EmailBounce.tsx
  packages/manager/src/features/GlobalNotifications/TaxCollectionBanner.tsx
  packages/manager/src/routes/quotas/QuotasRoute.tsx
Labels: Bug, 🚨 Urgent, IAM - Primary Nav Changes

#12714 change: [UIE-8977] - RBAC IAM Users Permissions
  packages/api-v4/src/iam/types.ts
  packages/manager/.changeset/pr-12714-changed-1755514005125.md
  packages/manager/src/features/IAM/Roles/Roles.test.tsx
  packages/manager/src/features/IAM/Roles/Roles.tsx
  packages/manager/src/features/IAM/Roles/RolesTable/RolesTable.test.tsx
  packages/manager/src/features/IAM/Roles/RolesTable/RolesTable.tsx
  packages/manager/src/features/IAM/Roles/RolesTable/RolesTableActionMenu.test.tsx
  packages/manager/src/features/IAM/Roles/RolesTable/RolesTableActionMenu.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/AssignedRolesActionMenu.test.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/AssignedRolesActionMenu.tsx
  packages/manager/src/features/IAM/Shared/AssignedRolesTable/AssignedRolesTable.tsx
  packages/manager/src/features/IAM/Shared/NoAssignedRoles/NoAssignedRoles.tsx
  packages/manager/src/features/IAM/Users/UserDetails/DeleteUserPanel.test.tsx
  packages/manager/src/features/IAM/Users/UserDetails/DeleteUserPanel.tsx
  packages/manager/src/features/IAM/Users/UserDetails/UserEmailPanel.test.tsx
  packages/manager/src/features/IAM/Users/UserDetails/UserEmailPanel.tsx
  packages/manager/src/features/IAM/Users/UserDetails/UserProfile.tsx
  packages/manager/src/features/IAM/Users/UserDetails/UsernamePanel.test.tsx
  packages/manager/src/features/IAM/Users/UserDetails/UsernamePanel.tsx
  packages/manager/src/features/IAM/Users/UserEntities/AssignedEntitiesTable.tsx
  packages/manager/src/features/IAM/Users/UserEntities/UserEntities.test.tsx
  packages/manager/src/features/IAM/Users/UserEntities/UserEntities.tsx
  packages/manager/src/features/IAM/Users/UserRoles/UserRoles.test.tsx
  packages/manager/src/features/IAM/Users/UserRoles/UserRoles.tsx
  packages/manager/src/features/IAM/Users/UsersTable/ProxyUserTable.tsx
  packages/manager/src/features/IAM/Users/UsersTable/UserRow.tsx
  packages/manager/src/features/IAM/Users/UsersTable/Users.tsx
  packages/manager/src/features/IAM/Users/UsersTable/UsersActionMenu.test.tsx
  packages/manager/src/features/IAM/Users/UsersTable/UsersActionMenu.tsx
  packages/manager/src/features/IAM/Users/UsersTable/UsersLandingTableBody.tsx
  packages/queries/.changeset/pr-12714-added-1755514068310.md
  packages/queries/src/account/users.ts
  packages/queries/src/iam/iam.ts
Labels: 🚨 Urgent, Approved, IAM (Identity & Access Management)

#12737 test: [M3-10501, M3-10477] - Use a mock region without maintenance policy capability when testing drop-down disabled state
  packages/manager/cypress/e2e/core/linodes/maintenance-policy-region-support.spec.ts
  packages/manager/cypress/support/intercepts/linodes.ts
Labels: Ready for Review

#12730 [DI-26731] - Alerts contextual view enhancement
  packages/manager/.changeset/pr-12730-upcoming-features-1755666320168.md
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertInformationActionTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertReusableComponent.tsx
  packages/manager/src/features/CloudPulse/Utils/utils.ts
  packages/manager/src/queries/cloudpulse/alerts.ts
Labels: Approved, Cloud Pulse - Alerting

#12645 upcoming: [DPS-34039] Add actions in Streams list
  packages/api-v4/.changeset/pr-12645-upcoming-features-1754489643667.md
  packages/api-v4/src/account/types.ts
  packages/api-v4/src/datastream/streams.ts
  packages/api-v4/src/datastream/types.ts
  packages/manager/.changeset/pr-12645-upcoming-features-1754489744402.md
  packages/manager/src/features/DataStream/DataStreamLanding.tsx
  packages/manager/src/features/DataStream/Shared/LabelValue.tsx
  packages/manager/src/features/DataStream/Shared/types.ts
  packages/manager/src/features/DataStream/Streams/StreamActionMenu.test.tsx
  packages/manager/src/features/DataStream/Streams/StreamActionMenu.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/CheckoutBar/StreamCreateSubmitBar.test.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/Delivery/DestinationLinodeObjectStorageDetailsSummary.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/StreamCreate.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/StreamCreateGeneralInfo.test.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/CheckoutBar/StreamFormCheckoutBar.styles.ts
  packages/manager/src/features/DataStream/Streams/StreamForm/CheckoutBar/StreamFormCheckoutBar.test.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/CheckoutBar/StreamFormCheckoutBar.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/CheckoutBar/StreamFormSubmitBar.test.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/CheckoutBar/StreamFormSubmitBar.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/Delivery/DestinationLinodeObjectStorageDetailsSummary.test.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/Delivery/DestinationLinodeObjectStorageDetailsSummary.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/Delivery/StreamFormDelivery.test.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/Delivery/StreamFormDelivery.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/StreamCreate.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/StreamEdit.test.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/StreamEdit.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/StreamForm.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/StreamFormClusters.test.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/StreamFormClusters.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/StreamFormClustersData.ts
  packages/manager/src/features/DataStream/Streams/StreamForm/StreamFormGeneralInfo.test.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/StreamFormGeneralInfo.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/streamCreateLazyRoute.ts
  packages/manager/src/features/DataStream/Streams/StreamForm/streamEditLazyRoute.ts
  packages/manager/src/features/DataStream/Streams/StreamForm/types.ts
  packages/manager/src/features/DataStream/Streams/StreamTableRow.test.tsx
  packages/manager/src/features/DataStream/Streams/StreamTableRow.tsx
  packages/manager/src/features/DataStream/Streams/StreamsLanding.test.tsx
  packages/manager/src/features/DataStream/Streams/StreamsLanding.tsx
  packages/manager/src/features/DataStream/dataStreamUtils.ts
  packages/manager/src/features/Events/factories/datastream.tsx
  packages/manager/src/mocks/presets/crud/datastream.ts
  packages/manager/src/mocks/presets/crud/handlers/datastream.ts
  packages/manager/src/routes/datastream/index.ts
  packages/queries/.changeset/pr-12645-upcoming-features-1754489801598.md
  packages/queries/src/datastreams/datastream.ts
  packages/validation/src/datastream.schema.ts
Labels: Approved, DataStream

#12746 upcoming: [M3-10486] - Update dual-stack labeling in VPC Create
  packages/manager/.changeset/pr-12746-upcoming-features-1755808123912.md
  packages/manager/src/features/VPCs/VPCCreate/FormComponents/VPCTopSectionContent.test.tsx
  packages/manager/src/features/VPCs/VPCCreate/FormComponents/VPCTopSectionContent.tsx
Labels: Approved, VPC IPv6

#12762 hotfix: [UIE-9134] Increase page size for RBAC IAM entities call
  packages/api-v4/CHANGELOG.md
  packages/api-v4/src/entities/entities.ts
  packages/manager/src/queries/entities/queries.ts
  packages/queries/CHANGELOG.md
Labels: Approved, IAM (Identity & Access Management)

#12755 test: [M3-10490] - Add error handling test coverage for LKE-E Phase 2 (BYO VPC, IP Stack)
  packages/manager/.changeset/pr-12755-tests-1756140280158.md
  packages/manager/cypress/e2e/core/kubernetes/lke-enterprise-create.spec.ts
  packages/manager/src/features/Kubernetes/CreateCluster/ClusterNetworkingPanel.tsx
Labels: Testing, Approved, LKE-Enterprise

#12732 chore: [UIE-9124] Improve `usePermissions` hook type safety
  packages/manager/.changeset/pr-12732-tech-stories-1755696277128.md
  packages/manager/src/features/EntityTransfers/RenderTransferRow.tsx
  packages/manager/src/features/EntityTransfers/TransfersPendingActionMenu.test.tsx
  packages/manager/src/features/EntityTransfers/TransfersPendingActionMenu.tsx
  packages/manager/src/features/EntityTransfers/TransfersTable.tsx
  packages/manager/src/features/IAM/hooks/adapters/permissionAdapters.ts
  packages/manager/src/features/IAM/hooks/usePermissions.ts
  packages/manager/src/features/Linodes/LinodesLanding/LinodesLanding.tsx
  packages/manager/src/features/Profile/OAuthClients/OAuthClientActionMenu.tsx
Labels: IAM (Identity & Access Management)

#12768 fix: [M3-10496] - Fix LKE jumping UI on HA Control Plane
  packages/manager/.changeset/pr-12768-fixed-1756151182727.md
  packages/manager/src/features/Kubernetes/CreateCluster/HAControlPlane.tsx
Labels: Approved

#12743 feat: [UIE-9055] - IAM RBAC: change docs links
  packages/manager/.changeset/pr-12743-changed-1755774240085.md
  packages/manager/src/features/IAM/IAMLanding.tsx
  packages/manager/src/features/IAM/Shared/constants.ts
  packages/manager/src/features/IAM/Users/UserDetailsLanding.tsx
Labels: Approved, IAM (Identity & Access Management)

#12738 test: [M3-9717] - Fix LKE Create Smoke Test Flake
  packages/manager/.changeset/pr-12738-tests-1755723265426.md
  packages/manager/cypress/e2e/core/kubernetes/smoke-lke-create.spec.ts
Labels: Testing, Approved

#12740 feat: [M3-10324] - Add type-to-confirm to Images
  packages/manager/.changeset/pr-12740-added-1756313628688.md
  packages/manager/cypress/e2e/core/images/machine-image-upload.spec.ts
  packages/manager/src/components/TypeToConfirmDialog/TypeToConfirmDialog.tsx
  packages/manager/src/features/Images/ImagesLanding/DeleteImageDialog.tsx
  packages/manager/src/features/Images/ImagesLanding/ImageRow.test.tsx
  packages/manager/src/features/Images/ImagesLanding/ImageRow.tsx
  packages/manager/src/features/Images/ImagesLanding/ImagesLanding.tsx
  packages/queries/src/images/images.ts
Labels: Approved, Images

#12706 fix:[M3-10481]- Fix Autocomplete undefined value issues - Part 1
  packages/manager/.changeset/pr-12706-fixed-1755632991962.md
  packages/manager/cypress/component/components/region-select.spec.tsx
  packages/manager/src/components/MaintenancePolicySelect/MaintenancePolicySelect.tsx
  packages/manager/src/components/RegionSelect/RegionSelect.tsx
  packages/manager/src/components/RegionSelect/RegionSelect.types.ts
  packages/manager/src/features/CloudPulse/shared/CloudPulseRegionSelect.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseBackups/DatabaseBackups.tsx
  packages/manager/src/features/Kubernetes/CreateCluster/CreateCluster.tsx
  packages/manager/src/features/Linodes/LinodeCreate/AdditionalOptions/MaintenancePolicy.tsx
  packages/manager/src/features/Linodes/LinodeCreate/TwoStepRegion.tsx
  packages/manager/src/features/Linodes/MigrateLinode/ConfigureForm.tsx
  packages/manager/src/features/Linodes/PowerActionsDialogOrDrawer.tsx
  packages/manager/src/features/ObjectStorage/BucketLanding/BucketRegions.tsx
  packages/manager/src/features/ObjectStorage/BucketLanding/ClusterSelect.tsx
Labels: Bug

#12749 upcoming: [DPS-34041] Add actions in Destinations list
  packages/api-v4/.changeset/pr-12749-upcoming-features-1756101406751.md
  packages/api-v4/src/account/types.ts
  packages/api-v4/src/datastream/destinations.ts
  packages/api-v4/src/datastream/types.ts
  packages/manager/.changeset/pr-12749-upcoming-features-1756101457443.md
  packages/manager/src/features/DataStream/Destinations/DestinationActionMenu.test.tsx
  packages/manager/src/features/DataStream/Destinations/DestinationActionMenu.tsx
  packages/manager/src/features/DataStream/Destinations/DestinationCreate/DestinationCreate.tsx
  packages/manager/src/features/DataStream/Destinations/DestinationForm/DestinationCreate.test.tsx
  packages/manager/src/features/DataStream/Destinations/DestinationForm/DestinationCreate.tsx
  packages/manager/src/features/DataStream/Destinations/DestinationForm/DestinationEdit.test.tsx
  packages/manager/src/features/DataStream/Destinations/DestinationForm/DestinationEdit.tsx
  packages/manager/src/features/DataStream/Destinations/DestinationForm/DestinationForm.tsx
  packages/manager/src/features/DataStream/Destinations/DestinationForm/destinationCreateLazyRoute.ts
  packages/manager/src/features/DataStream/Destinations/DestinationForm/destinationEditLazyRoute.ts
  packages/manager/src/features/DataStream/Destinations/DestinationTableRow.tsx
  packages/manager/src/features/DataStream/Destinations/DestinationsLanding.test.tsx
  packages/manager/src/features/DataStream/Destinations/DestinationsLanding.tsx
  packages/manager/src/features/DataStream/Shared/types.ts
  packages/manager/src/features/DataStream/Streams/StreamActionMenu.test.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/Delivery/StreamFormDelivery.tsx
  packages/manager/src/features/DataStream/Streams/StreamForm/types.ts
  packages/manager/src/features/DataStream/Streams/StreamsLanding.test.tsx
  packages/manager/src/features/Events/factories/datastream.tsx
  packages/manager/src/mocks/presets/crud/datastream.ts
  packages/manager/src/mocks/presets/crud/handlers/datastream.ts
  packages/manager/src/routes/datastream/index.ts
  packages/queries/.changeset/pr-12749-upcoming-features-1756101508851.md
  packages/queries/src/datastreams/datastream.ts
  packages/validation/src/datastream.schema.ts
Labels: Approved, DataStream

#12744 Change: [UIE-9059] - Volumes RBAC permissions
  packages/api-v4/.changeset/pr-12744-added-1756112277685.md
  packages/api-v4/src/iam/types.ts
  packages/manager/.changeset/pr-12744-added-1756112241644.md
  packages/manager/src/features/IAM/hooks/adapters/accountGrantsToPermissions.ts
  packages/manager/src/features/IAM/hooks/adapters/permissionAdapters.ts
  packages/manager/src/features/IAM/hooks/adapters/volumeGrantsToPermissions.ts
  packages/manager/src/features/Linodes/LinodesDetail/LinodeStorage/LinodeVolumes.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeStorage/LinodeVolumes.tsx
  packages/manager/src/features/Linodes/LinodesDetail/VolumesUpgradeBanner.test.tsx
  packages/manager/src/features/Volumes/Drawers/AttachVolumeDrawer.tsx
  packages/manager/src/features/Volumes/Drawers/CloneVolumeDrawer.tsx
  packages/manager/src/features/Volumes/Drawers/EditVolumeDrawer.tsx
  packages/manager/src/features/Volumes/Drawers/ManageTagsDrawer.tsx
  packages/manager/src/features/Volumes/Drawers/ResizeVolumeDrawer.tsx
  packages/manager/src/features/Volumes/Drawers/VolumeDrawer/LinodeVolumeAttachForm.tsx
  packages/manager/src/features/Volumes/Drawers/VolumeDrawer/ModeSelection.tsx
  packages/manager/src/features/Volumes/VolumeCreate.tsx
  packages/manager/src/features/Volumes/VolumeTableRow.test.tsx
  packages/manager/src/features/Volumes/VolumesActionMenu.test.tsx
  packages/manager/src/features/Volumes/VolumesActionMenu.tsx
  packages/manager/src/features/Volumes/VolumesLanding.tsx
  packages/manager/src/features/Volumes/VolumesLandingEmptyState.tsx
Labels: Add'tl Approval Needed, Volumes, IAM (Identity & Access Management)

#12781 hotfix: [M3-10558] - broken entity link on Linodes list card view
  packages/manager/CHANGELOG.md
  packages/manager/package.json
  packages/manager/src/features/Linodes/LinodeEntityDetailHeader.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodesDetailNavigation.tsx
Labels: 🚨 Urgent, Approved, Hotfix

#12767 fix: [M3-9469] - Reset selected region when switching between Core and Distributed tabs
  packages/manager/.changeset/pr-12767-fixed-1756227582572.md
  packages/manager/src/features/Linodes/LinodeCreate/Region.tsx
  packages/manager/src/features/Linodes/LinodeCreate/TwoStepRegion.tsx
Labels: Bug, Approved

#12779 feat: [M3-10378] - Show Node Pool firewalls in Node Pool footers
  packages/manager/.changeset/pr-12779-added-1756330614474.md
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubeEntityDetailFooter.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePool.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePoolFooter.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePoolFooter.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePoolsDisplay.tsx
Labels: Approved, LKE-Enterprise

#12710 feat: [M3-10039M, M3-10382] - Configure Kubernetes Node Pool Drawer
  packages/api-v4/.changeset/pr-12710-added-1755540316502.md
  packages/api-v4/.changeset/pr-12710-changed-1755540489818.md
  packages/api-v4/src/kubernetes/nodePools.ts
  packages/api-v4/src/kubernetes/types.ts
  packages/manager/.changeset/pr-12710-upcoming-features-1755540220652.md
  packages/manager/src/factories/kubernetesCluster.ts
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubernetesClusterDetail.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/AddNodePoolDrawer.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/AutoscaleNodePoolDrawer.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/ConfigureNodePool/ConfigureNodePoolDrawer.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/ConfigureNodePool/ConfigureNodePoolDrawer.utils.ts
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/ConfigureNodePool/ConfigureNodePoolForm.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/ConfigureNodePool/ConfigureNodePoolForm.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/LabelsAndTaints/LabelAndTaintDrawer.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePool.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePoolsDisplay.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePoolsDisplay.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodeRow.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodeTable.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodeTable.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/ResizeNodePoolDrawer.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/ResizeNodePoolDrawer.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/utils.test.ts
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/utils.ts
  packages/manager/src/features/Kubernetes/KubernetesPlansPanel/NodePoolConfigDrawer.tsx
  packages/manager/src/features/Kubernetes/KubernetesPlansPanel/NodePoolConfigOptions.tsx
  packages/manager/src/features/Kubernetes/NodePoolFirewallSelect.tsx
  packages/manager/src/features/Kubernetes/NodePoolUpdateStrategySelect.tsx
  packages/manager/src/utilities/pricing/kubernetes.ts
  packages/ui/src/foundations/themes/dark.ts
  packages/ui/src/foundations/themes/light.ts
Labels: LKE, Approved, LKE-Enterprise
