Repository linode/manager, pull requests merged in 2025-07, with the labels that each got.

#12428 fix: [M3-10176, M3-10177, M3-10244] - Fix columns misalignment in Subnet NodeBalancers Table
  packages/manager/.changeset/pr-12428-fixed-1750852226481.md
  packages/manager/src/features/NodeBalancers/VPCPanel.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetLinodeActionMenu.test.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetLinodeActionMenu.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetLinodeRow.test.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetLinodeRow.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetNodebalancerRow.tsx
Labels: Approved, Ready for Review, NB-VPC

#12380 change: [M3-9881] - Improve behavior of VLANSelect component when creating a new VLAN
  packages/manager/.changeset/pr-12380-changed-1749839658065.md
  packages/manager/.changeset/pr-12380-upcoming-features-1749839731144.md
  packages/manager/src/components/VLANSelect.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeInterfaces/AddInterfaceDrawer/AddInterfaceForm.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeInterfaces/AddInterfaceDrawer/VLAN/VLANInterface.tsx
  packages/manager/src/mocks/serverHandlers.ts
Labels: Approved, Linode Interfaces

#12408 upcoming: [M3-10105] - Tie up loose ends for Public IP address tooltip
  packages/manager/.changeset/pr-12408-upcoming-features-1750773595987.md
  packages/manager/src/features/Linodes/AccessRow.tsx
  packages/manager/src/features/Linodes/AccessTable.test.tsx
  packages/manager/src/features/Linodes/AccessTable.tsx
  packages/manager/src/features/Linodes/LinodeEntityDetail.tsx
  packages/manager/src/features/Linodes/LinodeEntityDetailBody.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeIPAddressRow.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeIPAddressRow.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeIPAddresses.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeNetworkingActionMenu.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeNetworking/LinodeNetworkingActionMenu.tsx
  packages/manager/src/features/Linodes/PublicIPAddressTooltip.tsx
  packages/manager/src/features/Linodes/constants.ts
  packages/manager/src/hooks/useDetermineUnreachableIPs.test.ts
  packages/manager/src/hooks/useDetermineUnreachableIPs.ts
  packages/manager/src/hooks/useVPCConfigInterface.ts
  packages/manager/src/hooks/useVPCInterface.ts
  packages/utilities/src/factories/linodeInterface.ts
Labels: Approved, Linode Interfaces

#12401 upcoming: [DI-25346] - Add reusable port filter in metrics
  packages/api-v4/.changeset/pr-12401-upcoming-features-1750307003338.md
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/.changeset/pr-12401-upcoming-features-1750307164427.md
  packages/manager/src/features/CloudPulse/Utils/FilterBuilder.test.ts
  packages/manager/src/features/CloudPulse/Utils/FilterBuilder.ts
  packages/manager/src/features/CloudPulse/Utils/FilterConfig.ts
  packages/manager/src/features/CloudPulse/Utils/constants.ts
  packages/manager/src/features/CloudPulse/Utils/models.ts
  packages/manager/src/features/CloudPulse/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Utils/utils.ts
  packages/manager/src/features/CloudPulse/shared/CloudPulseComponentRenderer.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseDashboardFilterBuilder.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulsePortFilter.test.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulsePortFilter.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseRegionSelect.test.tsx
Labels: Approved, Cloud Pulse - Dashboards

#12430 fix: [M3-10246] - Disabled kubeconfig and upgrade option for read only access user
  packages/manager/.changeset/pr-12430-fixed-1750866239525.md
  packages/manager/src/features/Kubernetes/ClusterList/KubernetesClusterRow.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubeConfigDisplay.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubeEntityDetailFooter.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubeSummaryPanel.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubernetesClusterDetail.tsx
Labels: LKE, Approved, Restricted User Access, LKE-Enterprise

#12393 Make alerts contextual view changes for linode integration [Edit flow]
  packages/api-v4/.changeset/pr-12393-upcoming-features-1750250607053.md
  packages/api-v4/src/cloudpulse/alerts.ts
  packages/api-v4/src/cloudpulse/types.ts
  packages/api-v4/src/linodes/types.ts
  packages/manager/.changeset/pr-12393-upcoming-features-1750251022301.md
  packages/manager/src/features/CloudPulse/Alerts/AlertsLanding/AlertConfirmationDialog.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsLanding/AlertConfirmationDialog.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/AlertListTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsListing/constants.ts
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertInformationActionRow.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertInformationActionRow.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertInformationActionTable.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertInformationActionTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertReusableComponent.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertReusableComponent.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
  packages/manager/src/features/CloudPulse/Utils/FilterBuilder.ts
  packages/manager/src/features/CloudPulse/Utils/utils.ts
  packages/manager/src/features/Linodes/LinodesDetail/LinodeAlerts/AlertsPanel.tsx
  packages/manager/src/mocks/serverHandlers.ts
  packages/manager/src/queries/cloudpulse/alerts.ts
Labels: Add'tl Approval Needed, Cloud Pulse - Alerting, ACLP Integration

#12453 fix: Missing env defaults due to auth changes
  packages/manager/src/OAuth/constants.ts
  packages/manager/src/OAuth/oauth.ts
  packages/manager/src/constants.ts
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/Marketplace/AppSelectionCard.tsx
  packages/manager/src/features/Profile/AuthenticationSettings/ResetPassword.tsx
  packages/manager/src/features/Profile/AuthenticationSettings/TPADialog.test.tsx
  packages/manager/src/features/Profile/AuthenticationSettings/TPADialog.tsx
  packages/manager/src/hooks/usePendo.ts
  packages/manager/src/initSentry.ts
  packages/manager/src/request.tsx
Labels: 🚨 Urgent, Approved

#12462 fix: Cloud Manager not respecting `REACT_APP_API_ROOT`
  packages/manager/src/constants.ts
  packages/manager/src/request.tsx
Labels: Bug, 🚨 Urgent, Approved

#12456 fix: [M3-10270] - Extra background on code block copy icon
  packages/manager/.changeset/pr-12456-fixed-1751400242708.md
  packages/manager/src/components/CodeBlock/CodeBlock.styles.ts
Labels: Bug, UX/UI, Approved

#12457 fix: [M3-10273] - Unexpected Linode Create deep link behavior
  packages/manager/.changeset/pr-12457-fixed-1751405820310.md
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/StackScripts/StackScriptSelection.tsx
  packages/manager/src/features/Linodes/LinodeCreate/index.tsx
  packages/manager/src/features/Linodes/LinodeCreate/shared/LinodeSelectTable.tsx
  packages/manager/src/features/Linodes/LinodeCreate/utilities.ts
  packages/manager/src/features/Linodes/LinodesDetail/LinodeBackup/LinodeBackups.tsx
  packages/manager/src/routes/linodes/index.ts
Labels: Bug, Approved

#12463 change: [M3-10279] - Use `Paper`s to style checkout sidebars on create flows
  packages/manager/.changeset/pr-12463-changed-1751473332495.md
  packages/manager/src/components/CheckoutBar/CheckoutBar.tsx
  packages/manager/src/components/CheckoutBar/DisplaySection.tsx
  packages/manager/src/components/CheckoutBar/DisplaySectionList.tsx
  packages/manager/src/components/CheckoutBar/styles.ts
  packages/manager/src/components/DisplayPrice/DisplayPrice.tsx
  packages/manager/src/features/DataStream/DataStream.styles.ts
  packages/manager/src/features/DataStream/Destinations/DestinationCreate/DestinationCreate.tsx
  packages/manager/src/features/DataStream/Shared/DestinationLinodeObjectStorageDetailsForm.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/StreamCreate.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/StreamCreateDelivery.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/StreamCreateGeneralInfo.tsx
  packages/manager/src/features/Kubernetes/CreateCluster/CreateCluster.styles.ts
  packages/manager/src/features/Kubernetes/CreateCluster/CreateCluster.tsx
  packages/manager/src/features/Kubernetes/KubeCheckoutBar/KubeCheckoutBar.tsx
  packages/manager/src/features/Kubernetes/KubeCheckoutBar/KubeCheckoutSummary.styles.ts
  packages/manager/src/features/Kubernetes/KubeCheckoutBar/NodePoolSummaryItem.tsx
  packages/manager/src/index.css
Labels: UX/UI, LKE, Approved

#12310 tests: [M3-10071] - aclpBetaServices smokeTests
  packages/manager/.changeset/pr-12310-tests-1748890646068.md
  packages/manager/cypress/e2e/core/cloudpulse/feature-flag-disabled.spec.ts
Labels: Testing, Add'tl Approval Needed, ACLP Integration

#12461 fix: [M3-9905] - APL - Add 'New' Badge, Bold Label, Code Cleanup
  .gitignore
  packages/manager/.changeset/pr-12461-fixed-1751467428528.md
  packages/manager/cypress/e2e/core/kubernetes/lke-create.spec.ts
  packages/manager/src/features/Kubernetes/CreateCluster/ApplicationPlatform.tsx
  packages/ui/src/components/BetaChip/BetaChip.tsx
Labels: Approved, APL

#12464 upcoming:[DI-25347] - Add filters for the new service - nodebalancer
  packages/manager/.changeset/pr-12464-upcoming-features-1751528121568.md
  packages/manager/src/features/CloudPulse/Utils/FilterBuilder.test.ts
  packages/manager/src/features/CloudPulse/Utils/FilterBuilder.ts
  packages/manager/src/features/CloudPulse/Utils/FilterConfig.ts
  packages/manager/src/features/CloudPulse/Utils/constants.ts
  packages/manager/src/features/CloudPulse/Widget/components/CloudPulseAggregateFunction.test.tsx
  packages/manager/src/features/CloudPulse/Widget/components/CloudPulseAggregateFunction.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseCustomSelect.test.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseCustomSelect.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseCustomSelectUtils.ts
  packages/manager/src/features/CloudPulse/shared/CloudPulseDashboardFilterBuilder.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulsePortFilter.test.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulsePortFilter.tsx
  packages/manager/src/mocks/serverHandlers.ts
  packages/manager/src/queries/cloudpulse/queries.ts
Labels: Approved, Cloud Pulse - Dashboards

#12451 upcoming: [DPS-33118] - Add stream summary
  packages/manager/.changeset/pr-12451-upcoming-features-1751374135790.md
  packages/manager/src/features/DataStream/Destinations/DestinationCreate/DestinationCreate.tsx
  packages/manager/src/features/DataStream/Shared/types.ts
  packages/manager/src/features/DataStream/Streams/StreamCreate/CheckoutBar/StreamCreateCheckoutBar.styles.ts
  packages/manager/src/features/DataStream/Streams/StreamCreate/CheckoutBar/StreamCreateCheckoutBar.test.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/CheckoutBar/StreamCreateCheckoutBar.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/StreamCreate.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/StreamCreateCheckoutBar.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/StreamCreateDelivery.tsx
  packages/manager/src/features/DataStream/dataStreamUtils.test.ts
  packages/manager/src/features/DataStream/dataStreamUtils.ts
Labels: Approved, DataStream

#12424 fix: [STORIF-36] - Pagination navigation updated.
  packages/manager/.changeset/pr-12424-changed-1751354758031.md
  packages/manager/src/components/AccessPanel/UserSSHKeyPanel.test.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Security.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeSettings/ImageAndPassword.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancersLanding/NodeBalancersLanding.test.tsx
  packages/manager/src/features/ObjectStorage/AccessKeyLanding/AccessKeyLanding.test.tsx
  packages/manager/src/features/Profile/SSHKeys/SSHKeys.test.tsx
  packages/manager/src/hooks/usePagination.ts
  packages/manager/src/utilities/testHelpers.tsx
Labels: Approved

#12426 refactor: [M3-9369 ] - Move Databases queries
  packages/manager/.changeset/pr-12426-removed-1750792667341.md
  packages/manager/src/features/CloudPulse/Utils/FilterBuilder.test.ts
  packages/manager/src/features/CloudPulse/shared/CloudPulseCustomSelect.test.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseNodeTypeFilter.test.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseNodeTypeFilter.tsx
  packages/manager/src/features/Databases/DatabaseCreate/DatabaseCreate.tsx
  packages/manager/src/features/Databases/DatabaseDetail/AccessControls.tsx
  packages/manager/src/features/Databases/DatabaseDetail/AddAccessControlDrawer.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseAdvancedConfiguration/DatabaseAdvancedConfigurationDrawer.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseBackups/DatabaseBackups.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseBackups/DatabaseBackupsDialog.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseBackups/legacy/DatabaseBackupsLegacy.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseBackups/legacy/RestoreLegacyFromBackupDialog.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseNetworking/DatabaseManageNetworkingDrawer.test.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseNetworking/DatabaseManageNetworkingDrawer.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseNetworking/DatabaseNetworkingUnassignVPCDialog.test.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseNetworking/DatabaseNetworkingUnassignVPCDialog.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseResize/DatabaseResize.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseResize/DatabaseResizeCurrentConfiguration.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettingsDeleteClusterDialog.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettingsMaintenance.test.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettingsMaintenance.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettingsResetPasswordDialog.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettingsReviewUpdatesDialog.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettingsSuspendClusterDialog.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettingsUpgradeVersionDialog.test.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/DatabaseSettingsUpgradeVersionDialog.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSettings/MaintenanceWindow.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSummary/DatabaseSummaryClusterConfiguration.test.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSummary/DatabaseSummaryClusterConfiguration.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSummary/DatabaseSummaryConnectionDetails.test.tsx
  packages/manager/src/features/Databases/DatabaseDetail/DatabaseSummary/DatabaseSummaryConnectionDetails.tsx
  packages/manager/src/features/Databases/DatabaseDetail/index.tsx
  packages/manager/src/features/Databases/DatabaseLanding/DatabaseActionMenu.tsx
  packages/manager/src/features/Databases/DatabaseLanding/DatabaseLanding.tsx
  packages/manager/src/features/Databases/DatabaseLanding/DatabaseRow.tsx
  packages/manager/src/features/Databases/utilities.test.ts
  packages/manager/src/features/Databases/utilities.ts
  packages/manager/src/features/Search/useAPISearch.ts
  packages/manager/src/features/Search/useClientSideSearch.ts
  packages/manager/src/features/Support/SupportTickets/SupportTicketProductSelectionFields.tsx
  packages/manager/src/queries/cloudpulse/queries.ts
  packages/manager/src/queries/databases/events.ts
  packages/queries/.changeset/pr-12426-added-1750792750941.md
  packages/queries/src/databases/databases.ts
  packages/queries/src/databases/index.ts
  packages/queries/src/databases/keys.ts
  packages/queries/src/databases/requests.ts
  packages/queries/src/index.ts
Labels: Approved, Modularization

#12431 feat: [UIE-8869] - IAM RBAC Firewalls landing
  packages/api-v4/src/iam/types.ts
  packages/manager/cypress/e2e/core/firewalls/create-firewall.spec.ts
  packages/manager/cypress/e2e/core/firewalls/delete-firewall.spec.ts
  packages/manager/cypress/e2e/core/firewalls/update-firewall.spec.ts
  packages/manager/src/components/SelectFirewallPanel/SelectFirewallPanel.test.tsx
  packages/manager/src/factories/accountRoles.ts
  packages/manager/src/features/Firewalls/FirewallLanding/CreateFirewallDrawer.test.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/CreateFirewallDrawer.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallActionMenu.test.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallActionMenu.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallLanding.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallLandingEmptyState.test.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallLandingEmptyState.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallRow.test.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallRow.tsx
  packages/manager/src/features/IAM/hooks/adapters/accountGrantsToPermissions.ts
  packages/manager/src/features/IAM/hooks/adapters/firewallGrantsToPermissions.ts
  packages/manager/src/features/IAM/hooks/adapters/linodeGrantsToPermissions.ts
  packages/manager/src/features/IAM/hooks/adapters/permissionAdapters.test.ts
  packages/manager/src/features/IAM/hooks/adapters/permissionAdapters.ts
  packages/manager/src/features/IAM/hooks/usePermissions.ts
  packages/manager/src/features/Linodes/LinodeCreate/Firewall.test.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Networking/LinodeInterface.test.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerCreate.test.tsx
  packages/queries/src/iam/iam.ts
Labels: 🚨 Urgent, IAM (Identity & Access Management), Firewalls

#12478 fix: [M3-10289] - Enhance Devtools to support `aclpBetaServices` nested Feature flags
  packages/manager/.changeset/pr-12478-fixed-1751654923710.md
  packages/manager/src/dev-tools/FeatureFlagTool.tsx
Labels: Add'tl Approval Needed, Enhancement, Bug, ACLP Integration

#12481 fix: [M3-10291] - Region select missing selected icon
  packages/manager/.changeset/pr-12481-fixed-1751919420399.md
  packages/manager/src/components/RegionSelect/RegionSelect.tsx
  packages/ui/.changeset/pr-12481-changed-1751919486678.md
  packages/ui/src/components/ListItemOption/ListItemOption.tsx
Labels: Bug, UX/UI, Approved, Missing Changeset

#12466 upcoming: [DI-25353] - Fetching the alerting time intervals from /services api
  packages/api-v4/.changeset/pr-12466-changed-1751546788440.md
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/.changeset/pr-12466-upcoming-features-1751546680834.md
  packages/manager/src/factories/cloudpulse/services.ts
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/CreateAlertDefinition.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/CreateAlertDefinition.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/TriggerConditions.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/TriggerConditions.tsx
  packages/manager/src/features/CloudPulse/Alerts/EditAlert/EditAlertDefinition.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
  packages/manager/src/mocks/serverHandlers.ts
Labels: Cloud Pulse - Alerting

#12482 chore: [M3-10292] - Clean up unused constants and mock data
  packages/manager/.changeset/pr-12482-tech-stories-1751919348178.md
  packages/manager/src/__data__/LinodesWithBackups.ts
  packages/manager/src/__data__/axios.ts
  packages/manager/src/__data__/buckets.ts
  packages/manager/src/__data__/domains.ts
  packages/manager/src/__data__/firewallDevices.ts
  packages/manager/src/__data__/firewalls.ts
  packages/manager/src/__data__/index.ts
  packages/manager/src/__data__/ldClient.ts
  packages/manager/src/__data__/managedCredentials.ts
  packages/manager/src/__data__/nodeBalConfigs.ts
  packages/manager/src/__data__/notifications.ts
  packages/manager/src/__data__/objectStorageClusters.ts
  packages/manager/src/__data__/objectStorageKeys.ts
  packages/manager/src/__data__/personalAccessTokens.ts
  packages/manager/src/constants.ts
  packages/manager/src/env.d.ts
  packages/manager/src/features/Firewalls/FirewallLanding/FirewallRow.test.tsx
  packages/manager/src/features/Kubernetes/CreateCluster/NodePoolPanel.test.tsx
  packages/manager/src/features/ObjectStorage/BucketLanding/BucketTableRow.test.tsx
  packages/manager/src/vite.d.ts
Labels: Approved, Clean Up, Tech Debt

#12480 misc: Update contributor documentation to mention tests and CI checks
  docs/CONTRIBUTING.md
  docs/PULL_REQUEST_TEMPLATE.md
  packages/manager/.changeset/pr-12480-tech-stories-1751902475339.md
Labels: Approved, Documentation

#12474 fix: [M3-7375] - Delete Firewall, Linode, NodeBalancer causes Get 404 error
  packages/api-v4/.changeset/pr-12474-fixed-1751576964549.md
  packages/queries/src/linodes/linodes.ts
  packages/queries/src/nodebalancers/nodebalancers.ts
Labels: Add'tl Approval Needed, Bug

#12476 feat: [UIE-8938, UIE-8939] - IAM RBAC: add a permission check for linode alerts and settings
  packages/manager/.changeset/pr-12476-upcoming-features-1751624766032.md
  packages/manager/src/features/Linodes/LinodesDetail/LinodeAlerts/LinodeAlerts.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeAlerts/LinodeAlerts.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeSettings/LinodeSettings.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeSettings/LinodeSettings.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeSettings/LinodeSettingsPasswordPanel.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeSettings/LinodeSettingsPasswordPanel.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeSettings/LinodeWatchdogPanel.tsx
Labels: 🚨 Urgent, Linodes, IAM (Identity & Access Management)

#12468 refactor: [M3-9388 ] - Move Status Page queries queries
  packages/manager/.changeset/pr-12468-removed-1751563731187.md
  packages/manager/src/factories/statusPage.ts
  packages/manager/src/features/GlobalNotifications/APIMaintenanceBanner.tsx
  packages/manager/src/features/Help/StatusBanners.tsx
  packages/queries/.changeset/pr-12468-added-1751563776473.md
  packages/queries/src/index.ts
  packages/queries/src/statusPage/index.ts
  packages/queries/src/statusPage/keys.ts
  packages/queries/src/statusPage/requests.ts
  packages/queries/src/statusPage/statusPage.ts
  packages/queries/src/statusPage/types.ts
Labels: Approved, Modularization

#12486 fix: [M3-10294] - Update marketplace icons
  packages/manager/.changeset/pr-12486-fixed-1751998924585.md
  packages/manager/src/assets/icons/info.svg
  packages/manager/src/features/CloudPulse/shared/CloudPulseDashboardFilterBuilder.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/Marketplace/AppSelectionCard.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/StackScripts/UserDefinedFields/UserDefinedFields.tsx
Labels: Bug, Approved

#12475 fix: [DI-26001] - Fix inconsistent gap in dimension filter and metric
  packages/manager/.changeset/pr-12475-fixed-1751608968657.md
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/DimensionFilterField.tsx
  packages/manager/src/features/CloudPulse/Alerts/CreateAlert/Criteria/Metric.tsx
Labels: Cloud Pulse - Alerting

#12490 Revert "fix: [M3-10294] - Update marketplace icons"
  packages/manager/.changeset/pr-12486-fixed-1751998924585.md
  packages/manager/src/assets/icons/info.svg
  packages/manager/src/features/CloudPulse/shared/CloudPulseDashboardFilterBuilder.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/Marketplace/AppSelectionCard.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/StackScripts/UserDefinedFields/UserDefinedFields.tsx
Labels: 🚨 Urgent, Approved

#12492 fix: [UIE-8869] - IAM block unrestricted users without IAM access
  packages/manager/src/features/IAM/hooks/useIsIAMEnabled.ts
Labels: Add'tl Approval Needed, 🚨 Urgent, IAM (Identity & Access Management)

#12470 test: [M3-9855] - Fix Community StackScripts Cypress test flake
  packages/manager/.changeset/pr-12470-tests-1751556866866.md
  packages/manager/cypress/e2e/core/stackscripts/smoke-community-stackscripts.spec.ts
Labels: Approved

#12309 upcoming: [M3-9862] - Add Networking IP Stack section to VPC Create page
  packages/api-v4/.changeset/pr-12309-added-1751916145475.md
  packages/api-v4/src/account/types.ts
  packages/manager/.changeset/pr-12309-upcoming-features-1751916071362.md
  packages/manager/src/features/VPCs/VPCCreate/FormComponents/VPCTopSectionContent.test.tsx
  packages/manager/src/features/VPCs/VPCCreate/FormComponents/VPCTopSectionContent.tsx
  packages/validation/.changeset/pr-12309-changed-1751916205808.md
  packages/validation/src/vpcs.schema.ts
Labels: Approved, VPC IPv6

#12499 test: [M3-10311] - Fix Cypress test failures following feature flag flip
  packages/manager/.changeset/pr-12499-tests-1752165592860.md
  packages/manager/cypress/e2e/core/account/account-maintenance.spec.ts
Labels: Approved

#12477 upcoming: [DPS-33702] Create Stream: Change Data Set to Clusters
  packages/manager/.changeset/pr-12477-upcoming-features-1751628716234.md
  packages/manager/src/features/DataStream/Shared/DestinationLinodeObjectStorageDetailsForm.tsx
  packages/manager/src/features/DataStream/Shared/PathSample.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/CheckoutBar/StreamCreateCheckoutBar.test.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/CheckoutBar/StreamCreateCheckoutBar.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/StreamCreate.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/StreamCreateClusters.test.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/StreamCreateClusters.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/StreamCreateClustersData.ts
  packages/manager/src/features/DataStream/Streams/StreamCreate/StreamCreateDataSet.test.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/StreamCreateDataSet.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/StreamCreateDataSetData.ts
  packages/manager/src/features/DataStream/Streams/StreamCreate/StreamCreateGeneralInfo.test.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/StreamCreateGeneralInfo.tsx
  packages/manager/src/features/DataStream/Streams/StreamCreate/types.ts
Labels: Approved, DataStream

#12471 change: [M3-10065, M3-9910] - Notification banner stroke, width, error icon
  packages/manager/.changeset/pr-12471-fixed-1751561222068.md
  packages/manager/src/components/Snackbar/Snackbar.tsx
  packages/manager/src/features/Linodes/LinodesDetail/VolumesUpgradeBanner.tsx
  packages/ui/.changeset/pr-12471-changed-1751923646046.md
  packages/ui/src/assets/icons/error-outlined.svg
  packages/ui/src/assets/icons/error.svg
  packages/ui/src/assets/icons/info-outlined.svg
  packages/ui/src/assets/icons/success-outlined.svg
  packages/ui/src/assets/icons/tip-outlined.svg
  packages/ui/src/assets/icons/warning-outlined.svg
  packages/ui/src/components/Notice/Notice.styles.ts
  packages/ui/src/components/Notice/Notice.test.tsx
  packages/ui/src/components/Notice/Notice.tsx
  packages/ui/src/components/TooltipIcon/TooltipIcon.tsx
  packages/ui/src/foundations/themes/dark.ts
  packages/ui/src/foundations/themes/light.ts
Labels: Approved, Design Tokens, Requires UX Approval

#12489 upcoming: [DI-26180] - Added VPC Subnet filter component for cloudpulse
  packages/manager/.changeset/pr-12489-upcoming-features-1752148123821.md
  packages/manager/src/features/CloudPulse/Utils/CloudPulseVPCSubnetSelect.test.tsx
  packages/manager/src/features/CloudPulse/Utils/CloudPulseVPCSubnetSelect.tsx
Labels: Add'tl Approval Needed, Ready for Review, Cloud Pulse

#12502 fix: [M3-10312] - Unique port validation on NodeBalancer create page
  packages/manager/.changeset/pr-12502-fixed-1752507722598.md
  packages/manager/cypress/e2e/core/nodebalancers/nodebalancer-create-validation.spec.ts
  packages/manager/src/features/NodeBalancers/NodeBalancerActiveCheck.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerConfigNode.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerConfigPanel.tsx
  packages/manager/src/features/NodeBalancers/NodeBalancerPassiveCheck.tsx
  packages/ui/.changeset/pr-12502-fixed-1752507983354.md
  packages/ui/src/components/TextField/TextField.tsx
  packages/validation/.changeset/pr-12502-changed-1752507674867.md
  packages/validation/src/nodebalancers.schema.ts
Labels: Bug, Approved, NodeBalancers

#12501 change: [M3-9878] - Specify GitHub Actions workflow permissions
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/coverage_badge.yml
  .github/workflows/e2e_schedule_and_push.yml
  .github/workflows/security_scan.yml
  .github/workflows/stale.yml
  packages/manager/.changeset/pr-12501-tech-stories-1752162803188.md
Labels: Security, Ready for Review

#12526 fix: [M3-10234] - Firewall Device Search
  packages/manager/.changeset/pr-12526-fixed-1752675535397.md
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/FirewallDeviceLanding.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/FirewallDeviceTable.test.tsx
  packages/manager/src/features/Firewalls/FirewallDetail/Devices/FirewallDeviceTable.tsx
Labels: Bug, Approved, Firewalls

#12513 upcoming: [M3-10202] - Link VPC in LKE-E cluster summary footer
  packages/api-v4/.changeset/pr-12513-upcoming-features-1752676027583.md
  packages/api-v4/src/kubernetes/types.ts
  packages/manager/.changeset/pr-12513-upcoming-features-1752676085973.md
  packages/manager/cypress/e2e/core/kubernetes/lke-summary-page.spec.ts
  packages/manager/src/factories/kubernetesCluster.ts
  packages/manager/src/featureFlags.ts
  packages/manager/src/features/Kubernetes/ClusterList/ClusterChips.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubeEntityDetailFooter.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubeSummaryPanel.tsx
  packages/manager/src/features/Kubernetes/kubeUtils.test.ts
  packages/manager/src/features/Kubernetes/kubeUtils.ts
Labels: Approved, LKE-Enterprise

#12517 upcoming: [DI-26185] - Added method for aclp enable check in contextual view
  packages/manager/.changeset/pr-12517-added-1752583847765.md
  packages/manager/src/features/CloudPulse/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Utils/utils.ts
  packages/manager/src/features/Linodes/LinodeCreate/AdditionalOptions/AdditionalOptions.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Summary/Summary.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodesDetailNavigation.tsx
  packages/utilities/.changeset/pr-12517-removed-1752767841927.md
  packages/utilities/src/helpers/index.ts
  packages/utilities/src/helpers/isAclpSupportedRegion.test.ts
  packages/utilities/src/helpers/isAclpSupportedRegion.ts
Labels: Ready for Review, Under Review, Cloud Pulse

#12535 feat: [UIE-8934, UIE-8935, UIE-8939] - IAM RBAC: fix permission check for sub-entities
  packages/manager/.changeset/pr-12535-upcoming-features-1752837563341.md
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/LinodeConfigActionMenu.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeConfigs/LinodeConfigActionMenu.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeSettings/LinodeSettingsPasswordPanel.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeSettings/LinodeSettingsPasswordPanel.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeStorage/LinodeDiskActionMenu.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeStorage/LinodeDiskActionMenu.tsx
Labels: Approved, Linodes, IAM (Identity & Access Management)

#12544 fix: resort to payment id for edit billing flow
  packages/manager/CHANGELOG.md
  packages/manager/package.json
  packages/manager/src/components/PaymentMethodRow/PaymentMethodRow.test.tsx
  packages/manager/src/components/PaymentMethodRow/PaymentMethodRow.tsx
  packages/manager/src/features/Billing/BillingPanels/BillingSummary/BillingSummary.tsx
  packages/manager/src/routes/account/index.ts
Labels: Release → Staging, Hotfix

#12542 feat: [UIE-8931, UIE-8888] - IAM RBAC: fix error message and styles issues
  packages/manager/.changeset/pr-12542-upcoming-features-1753085924888.md
  packages/manager/src/features/IAM/Shared/Entities/Entities.tsx
  packages/manager/src/features/IAM/Shared/RemoveAssignmentConfirmationDialog/RemoveAssignmentConfirmationDialog.tsx
  packages/manager/src/features/IAM/Users/UserEntities/AssignedEntitiesTable.test.tsx
  packages/manager/src/features/IAM/Users/UserEntities/AssignedEntitiesTable.tsx
  packages/manager/src/features/IAM/Users/UserEntities/UserEntities.test.tsx
  packages/manager/src/features/IAM/Users/UserRoles/AssignSingleRole.tsx
Labels: Approved, IAM (Identity & Access Management)

#12511 test [M3-10073]: Linode alerts tab based on region and linode.alerts
  packages/manager/.changeset/pr-12442-tests-1751388010586.md
  packages/manager/cypress/e2e/core/cloudpulse/aclp-support.spec.ts
  packages/manager/cypress/e2e/core/linodes/alerts-edit.spec.ts
  packages/manager/cypress/support/intercepts/linodes.ts
  packages/manager/cypress/support/util/linodes.ts
  packages/manager/src/features/Linodes/AclpPreferenceToggle.test.tsx
  packages/manager/src/features/Linodes/constants.ts
Labels: Testing, Approved, ACLP Integration

#12539 fix: [M3-10213] - Try switching to self-hosted Pendo Standards agent in Cloud Manager
  docs/tooling/analytics.md
  packages/manager/.changeset/pr-12539-tech-stories-1753109588625.md
  packages/manager/cypress/e2e/core/general/analytics.spec.ts
  packages/manager/public/pendo/pendo-staging.js
  packages/manager/public/pendo/pendo.js
  packages/manager/src/hooks/usePendo.ts
  packages/manager/src/utilities/analytics/utils.test.ts
  packages/manager/src/utilities/analytics/utils.ts
Labels: 🚨 Urgent, Approved, Analytics

#12549 change: [DI-26188] - Updated Alert Reusable component based on the latest mockup
  packages/manager/src/features/CloudPulse/Alerts/AlertsLanding/AlertConfirmationDialog.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertInformationActionTable.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertInformationActionTable.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertReusableComponent.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/ContextualView/AlertReusableComponent.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
  packages/manager/src/features/CloudPulse/Utils/utils.ts
  packages/manager/src/features/Linodes/LinodesDetail/LinodeAlerts/LinodeAlerts.tsx
  packages/manager/src/mocks/serverHandlers.ts
Labels: Approved, Cloud Pulse, Cloud Pulse - Alerting, ACLP Integration

#12552 upcoming: [M3-10295] - Edit node pool configuration in LKE cluster create flow
  packages/manager/.changeset/pr-12552-upcoming-features-1753194650146.md
  packages/manager/src/features/Kubernetes/CreateCluster/CreateCluster.tsx
  packages/manager/src/features/Kubernetes/KubeCheckoutBar/KubeCheckoutBar.test.tsx
  packages/manager/src/features/Kubernetes/KubeCheckoutBar/KubeCheckoutBar.tsx
  packages/manager/src/features/Kubernetes/KubeCheckoutBar/NodePoolSummary.test.tsx
  packages/manager/src/features/Kubernetes/KubeCheckoutBar/NodePoolSummaryItem.tsx
  packages/manager/src/features/Kubernetes/KubernetesPlansPanel/NodePoolConfigDrawer.tsx
  packages/manager/src/features/Kubernetes/NodePoolUpdateStrategySelect.tsx
  packages/manager/src/features/Kubernetes/constants.ts
Labels: Approved, LKE-Enterprise

#12531 new: [STORIF-62] - Quotas informational banner created.
  packages/manager/.changeset/pr-12531-added-1752851222394.md
  packages/manager/src/features/ObjectStorage/BucketDetail/BucketDetail.tsx
  packages/manager/src/features/ObjectStorage/BucketLanding/OMC_CreateBucketDrawer.tsx
  packages/manager/src/features/ObjectStorage/QuotasInfoNotice.tsx
Labels: Object Storage, Approved

#12504 feat: [UIE-8936] - IAM RBAC - Linodes backups
  packages/manager/.changeset/pr-12504-added-1752171147220.md
  packages/manager/src/features/Linodes/LinodesDetail/LinodeBackup/BackupTableRow.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeBackup/LinodeBackupActionMenu.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeBackup/LinodeBackups.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeBackup/LinodeBackups.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeBackup/RestoreToLinodeDrawer.tsx
Labels: Add'tl Approval Needed, 🚨 Urgent, Linodes, IAM (Identity & Access Management)

#12565 fix: [M3-10376] - Invoice details page UI issue and routing regression
  packages/manager/.changeset/pr-12565-fixed-1753299138477.md
  packages/manager/src/components/DownloadCSV/DownloadCSV.tsx
  packages/manager/src/features/Billing/InvoiceDetail/InvoiceDetail.tsx
  packages/manager/src/routes/account/index.ts
Labels: Bug, Approved

#12556 feat: [UIE-8881] - IAM RBAC: fix the error message
  packages/manager/.changeset/pr-12556-upcoming-features-1753265232709.md
  packages/manager/src/features/IAM/Shared/utilities.test.ts
  packages/manager/src/features/IAM/Shared/utilities.ts
Labels: IAM (Identity & Access Management)

#12567 deps: [M3-10381] - Add eslint/plugin-kit package resolution
  package.json
  packages/manager/.changeset/pr-12567-tech-stories-1753325393056.md
  pnpm-lock.yaml
Labels: Dependencies, 🚨 Urgent, Approved

#12576 test: [M3-8559] - Increase `Security.test.tsx` `waitFor` timeout from 1s to 5s
  packages/manager/.changeset/pr-12576-tests-1753390501259.md
  packages/manager/src/features/Linodes/LinodeCreate/Security.test.tsx
Labels: Approved

#12573 upcoming: [DI-25355] - Added util function to filter region based on monitor capability
  packages/api-v4/.changeset/pr-12573-added-1753364724800.md
  packages/api-v4/src/cloudpulse/types.ts
  packages/manager/.changeset/pr-12573-added-1753364742642.md
  packages/manager/cypress/e2e/core/cloudpulse/cloudpulse-dashboard-errors.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/create-user-alert.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/dbaas-widgets-verification.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/linode-widget-verification.spec.ts
  packages/manager/cypress/e2e/core/cloudpulse/timerange-verification.spec.ts
  packages/manager/src/featureFlags.ts
  packages/manager/src/features/CloudPulse/Alerts/AlertRegions/AlertRegions.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertRegions/AlertRegions.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertResourceUtils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertResourceUtils.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.test.ts
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.ts
  packages/manager/src/features/CloudPulse/shared/CloudPulseRegionSelect.test.tsx
  packages/manager/src/features/CloudPulse/shared/CloudPulseRegionSelect.tsx
Labels: Ready for Review, Cloud Pulse

#12553 feat: [M3-10361] - Use Search v2 to power the Volumes Landing page
  packages/manager/.changeset/pr-12553-added-1753197976652.md
  packages/manager/cypress/e2e/core/volumes/search-volumes.spec.ts
  packages/manager/src/features/Volumes/VolumesLanding.tsx
Labels: Enhancement, Volumes

#12558 upcoming: [DI-25634] - Added linode_id to label translation in cloudpulse graph
  packages/manager/.changeset/pr-12558-upcoming-features-1753278473938.md
  packages/manager/src/features/CloudPulse/Utils/CloudPulseWidgetUtils.ts
  packages/manager/src/features/CloudPulse/shared/CloudPulseResourcesSelect.tsx
  packages/manager/src/mocks/serverHandlers.ts
  packages/manager/src/queries/cloudpulse/resources.ts
Labels: Add'tl Approval Needed, Ready for Review, Cloud Pulse, Cloud Pulse - Dashboards

#12579 fix: [M3-10316] - Disabled state styling for zebra stripped table rows
  packages/manager/.changeset/pr-12579-fixed-1753443210506.md
  packages/ui/src/foundations/themes/dark.ts
  packages/ui/src/foundations/themes/light.ts
Labels: Bug, Approved

#12578 change: [M3-10348, M3-10013] - Add/update inline docs for ACLP Alerts logic and fix Longview UI alignment issue
  packages/manager/.changeset/pr-12578-fixed-1753437741673.md
  packages/manager/.changeset/pr-12578-upcoming-features-1753437780675.md
  packages/manager/src/features/Linodes/AclpPreferenceToggle.tsx
  packages/manager/src/features/Longview/shared/InstallationInstructions.styles.ts
  packages/shared/src/hooks/useIsLinodeAclpSubscribed.ts
Labels: Bug, Approved, ACLP Integration, Longview

#12582 upcoming: [DI-25992] - Updated AlertRegions component to extend the functionality
  packages/manager/.changeset/pr-12582-upcoming-features-1753455419647.md
  packages/manager/src/features/CloudPulse/Alerts/AlertRegions/AlertRegions.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertRegions/AlertRegions.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertRegions/DisplayAlertRegions.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertRegions/DisplayAlertRegions.tsx
  packages/manager/src/features/CloudPulse/Alerts/AlertsResources/AlertsResources.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertMaxSelectionText.test.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertMaxSelectionText.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/AlertSelectedInfoNotice.tsx
  packages/manager/src/features/CloudPulse/Alerts/Utils/utils.ts
  packages/manager/src/features/CloudPulse/Alerts/constants.ts
Labels: Ready for Review, Cloud Pulse, Cloud Pulse - Alerting

#12569 change: [M3-10097] - Akamai Design System: Link Component
  packages/manager/.changeset/pr-12569-changed-1753705894806.md
  packages/manager/src/assets/icons/docs.svg
  packages/manager/src/assets/icons/external-link.svg
  packages/manager/src/components/DocsLink/DocsLink.tsx
  packages/manager/src/components/Link.styles.ts
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/KubeSummaryPanel.tsx
  packages/ui/src/foundations/themes/dark.ts
  packages/ui/src/foundations/themes/light.ts
Labels: Approved, Design Tokens, Requires UX Approval

#12305 upcoming: [M3-9864] – Add new columns to VPC Subnet & Subnet linodes tables
  packages/manager/.changeset/pr-12305-upcoming-features-1753137015399.md
  packages/manager/src/features/VPCs/VPCDetail/SubnetAssignLinodesDrawer.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetLinodeRow.test.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetLinodeRow.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetLinodeRowFirewallsCell.tsx
  packages/manager/src/features/VPCs/VPCDetail/SubnetUnassignLinodesDrawer.tsx
  packages/manager/src/features/VPCs/VPCDetail/VPCSubnetsTable.test.tsx
  packages/manager/src/features/VPCs/VPCDetail/VPCSubnetsTable.tsx
  packages/manager/src/features/VPCs/utils.test.ts
  packages/manager/src/features/VPCs/utils.ts
  packages/manager/src/mocks/presets/crud/handlers/linodes/linodes.ts
  packages/utilities/.changeset/pr-12305-upcoming-features-1753219916941.md
  packages/utilities/src/factories/linodeConfigInterface.ts
  packages/utilities/src/factories/linodeInterface.ts
Labels: Approved, VPC IPv6

#12554 [M3-10358] - Improve Create Linode code splitting & routing
  packages/manager/.changeset/pr-12554-tech-stories-1753272667661.md
  packages/manager/cypress/e2e/core/general/account-login-redirect.spec.ts
  packages/manager/cypress/e2e/core/images/create-linode-from-image.spec.ts
  packages/manager/cypress/e2e/core/linodes/clone-linode.spec.ts
  packages/manager/cypress/e2e/core/linodes/create-linode-with-dc-specific-pricing.spec.ts
  packages/manager/cypress/e2e/core/linodes/rebuild-linode.spec.ts
  packages/manager/cypress/e2e/core/oneClickApps/one-click-apps.spec.ts
  packages/manager/cypress/e2e/core/stackscripts/smoke-community-stackscripts.spec.ts
  packages/manager/cypress/support/ui/constants.ts
  packages/manager/cypress/support/ui/locators/common-locators.ts
  packages/manager/src/GoTo.tsx
  packages/manager/src/components/PrimaryNav/PrimaryNav.tsx
  packages/manager/src/features/Firewalls/FirewallLanding/CreateFirewallDrawer.tsx
  packages/manager/src/features/Images/ImagesLanding/ImagesLanding.test.tsx
  packages/manager/src/features/Images/ImagesLanding/ImagesLanding.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Actions.tsx
  packages/manager/src/features/Linodes/LinodeCreate/ApiAwarenessModal/CurlTabPanel.tsx
  packages/manager/src/features/Linodes/LinodeCreate/ApiAwarenessModal/LinodeCLIPanel.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Details/Details.test.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Details/Details.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Details/PlacementGroupPanel.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Firewall.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Plan.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Region.test.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Region.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/Backups/backupsLazyRoute.ts
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/Clone/cloneLazyRoute.ts
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/Marketplace/marketPlaceLazyRoute.ts
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/StackScripts/StackScriptImages.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/StackScripts/StackScriptSelection.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/StackScripts/StackScriptSelectionList.test.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/StackScripts/StackScriptSelectionList.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/StackScripts/stackScriptsLazyRoute.ts
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/imagesLazyRoutes.ts
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/operatingSystemsLazyRoute.ts
  packages/manager/src/features/Linodes/LinodeCreate/Tabs/utils/useGetLinodeCreateType.ts
  packages/manager/src/features/Linodes/LinodeCreate/TwoStepRegion.tsx
  packages/manager/src/features/Linodes/LinodeCreate/UserData/UserDataHeading.test.tsx
  packages/manager/src/features/Linodes/LinodeCreate/UserData/UserDataHeading.tsx
  packages/manager/src/features/Linodes/LinodeCreate/VLAN/VLAN.tsx
  packages/manager/src/features/Linodes/LinodeCreate/VPC/VPC.tsx
  packages/manager/src/features/Linodes/LinodeCreate/index.test.tsx
  packages/manager/src/features/Linodes/LinodeCreate/index.tsx
  packages/manager/src/features/Linodes/LinodeCreate/shared/LinodeSelectTable.tsx
  packages/manager/src/features/Linodes/LinodeCreate/utilities.test.tsx
  packages/manager/src/features/Linodes/LinodeCreate/utilities.ts
  packages/manager/src/features/Linodes/LinodesDetail/LinodeBackup/LinodeBackups.tsx
  packages/manager/src/features/Linodes/LinodesLanding/AppsSection.tsx
  packages/manager/src/features/Linodes/LinodesLanding/LinodeActionMenu/LinodeActionMenu.test.tsx
  packages/manager/src/features/Linodes/LinodesLanding/LinodeActionMenu/LinodeActionMenu.tsx
  packages/manager/src/features/Linodes/LinodesLanding/LinodeActionMenu/LinodeActionMenuUtils.ts
  packages/manager/src/features/Linodes/LinodesLanding/LinodesLandingEmptyState.tsx
  packages/manager/src/features/StackScripts/StackScriptLanding/StackScriptActionMenu.tsx
  packages/manager/src/features/StackScripts/stackScriptUtils.ts
  packages/manager/src/features/TopMenu/CreateMenu/CreateMenu.tsx
  packages/manager/src/features/VPCs/VPCCreate/FormComponents/SubnetContent.tsx
  packages/manager/src/features/VPCs/VPCCreate/FormComponents/VPCTopSectionContent.tsx
  packages/manager/src/hooks/useCreateVPC.ts
  packages/manager/src/routes/linodes/index.ts
Labels: Routing Refactor, External Contribution

#12592 fix: [M3-10351] - Align Encrypt Volume checkbox in Volume Create with other fields
  packages/manager/.changeset/pr-12592-fixed-1753738232161.md
  packages/manager/src/components/Encryption/Encryption.tsx
  packages/manager/src/features/Linodes/LinodeCreate/Security.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeRebuild/DiskEncryption.tsx
  packages/manager/src/features/Volumes/Drawers/VolumeDrawer/LinodeVolumeCreateForm.tsx
  packages/manager/src/features/Volumes/VolumeCreate.tsx
Labels: Bug, Approved

#12561 feat: [UIE-8845, UIE-8832, UIE-8834, UIE-8833] - IAM RBAC: add a permission check in Profile and Account
  packages/manager/.changeset/pr-12561-upcoming-features-1753283335594.md
  packages/manager/src/components/PaymentMethodRow/PaymentMethodRow.test.tsx
  packages/manager/src/components/PaymentMethodRow/PaymentMethodRow.tsx
  packages/manager/src/features/Account/AccountLanding.test.tsx
  packages/manager/src/features/Account/AccountLanding.tsx
  packages/manager/src/features/Billing/BillingPanels/BillingSummary/BillingSummary.test.tsx
  packages/manager/src/features/Billing/BillingPanels/BillingSummary/BillingSummary.tsx
  packages/manager/src/features/Billing/BillingPanels/ContactInfoPanel/ContactInformation.test.tsx
  packages/manager/src/features/Billing/BillingPanels/ContactInfoPanel/ContactInformation.tsx
  packages/manager/src/features/Billing/BillingPanels/PaymentInfoPanel/PaymentInformation.test.tsx
  packages/manager/src/features/Billing/BillingPanels/PaymentInfoPanel/PaymentInformation.tsx
  packages/manager/src/features/Billing/BillingPanels/PaymentInfoPanel/PaymentMethods.tsx
  packages/manager/src/features/IAM/Users/UserDetails/UsernamePanel.test.tsx
  packages/manager/src/features/IAM/Users/UserDetails/UsernamePanel.tsx
  packages/manager/src/features/Profile/DisplaySettings/UsernameForm.test.tsx
  packages/manager/src/features/Profile/DisplaySettings/UsernameForm.tsx
Labels: Add'tl Approval Needed, IAM (Identity & Access Management)

#12560 feat: [UIE-8999] - IAM RBAC Adjust the parameters to useQueryWithPermissions and return errors
  packages/manager/.changeset/pr-12560-upcoming-features-1753279716756.md
  packages/manager/src/features/Firewalls/FirewallLanding/CustomFirewallFields.tsx
  packages/manager/src/features/IAM/hooks/usePermissions.ts
  packages/manager/src/features/Linodes/LinodesDetail/LinodeBackup/LinodeBackups.test.tsx
  packages/manager/src/features/Linodes/LinodesDetail/LinodeBackup/RestoreToLinodeDrawer.tsx
Labels: Approved, Linodes, IAM (Identity & Access Management), Firewalls

#12605 fix: [M3-10394] - Use human readable date/time for maintenance window
  packages/manager/.changeset/pr-12605-fixed-1753890447726.md
  packages/manager/src/features/Linodes/LinodeMaintenanceText.tsx
Labels: Bug, Host & VM Maintenance

#12608 chore:[M3-10397] - Update PR Template to Encourage Video Previews
  docs/PULL_REQUEST_TEMPLATE.md
  packages/manager/.changeset/pr-12608-tech-stories-1753905809598.md
Labels: Documentation

#12609 change: Improve PR template based on team feedback
  docs/PULL_REQUEST_TEMPLATE.md
  packages/manager/.changeset/pr-12609-tech-stories-1753907236327.md
Labels: Documentation

#12601 change: [M3-9911] - Add generic description to Premium tab to support both legacy Premium and MTC plans
  packages/manager/.changeset/pr-12601-changed-1753862177012.md
  packages/manager/src/features/components/PlansPanel/utils.ts
Labels: Approved, mtc-2025

#12586 feat: [UIE-8955] - IAM RBAC: Fix removing entity can cause empty page
  packages/manager/.changeset/pr-12586-fixed-1753562679377.md
  packages/manager/src/features/IAM/Users/UserEntities/AssignedEntitiesTable.tsx
Labels: Approved, IAM (Identity & Access Management)

#12604 fix: [M3-10393] - Add border to countries with white backgrounds
  packages/manager/.changeset/pr-12604-fixed-1753883735502.md
  packages/manager/src/components/Flag.tsx
Labels: Bug, Approved

#12574 tech-story: [M3-10347] - MSW CRUD: prevent deletion of vpcs/subnets with attached resources and Linode Configuration Profile support
  packages/manager/.changeset/pr-12574-tech-stories-1753455956281.md
  packages/manager/src/mocks/presets/crud/handlers/linodes/configs.ts
  packages/manager/src/mocks/presets/crud/handlers/linodes/linodes.ts
  packages/manager/src/mocks/presets/crud/handlers/vpcs.ts
  packages/manager/src/mocks/presets/crud/linodes.ts
  packages/utilities/.changeset/pr-12574-removed-1753885111694.md
  packages/utilities/src/factories/linodeConfigInterface.ts
Labels: Approved

#12583 fix: [M3-10264] - Disabled Autocomplete Options
  packages/manager/.changeset/pr-12583-fixed-1753471654074.md
  packages/manager/src/components/ImageSelect/ImageOption.test.tsx
  packages/manager/src/components/ImageSelect/ImageSelect.tsx
  packages/manager/src/components/ImageSelect/utilities.ts
  packages/manager/src/components/PlacementGroupsSelect/PlacementGroupsSelect.tsx
  packages/manager/src/components/RegionSelect/RegionSelect.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupTypeSelect.tsx
  packages/manager/src/features/PlacementGroups/PlacementGroupsCreateDrawer.test.tsx
  packages/ui/src/components/ListItemOption/ListItemOption.tsx
Labels: Bug, UX/UI, Approved

#12596 feat: [M3-10391] - Surface LKE Node Pool Version for LKE Enterprise Clusters
  packages/api-v4/.changeset/pr-12596-removed-1753881626360.md
  packages/api-v4/.changeset/pr-12596-removed-1753881663728.md
  packages/api-v4/.changeset/pr-12596-removed-1753881690938.md
  packages/api-v4/.changeset/pr-12596-removed-1753881761737.md
  packages/api-v4/.changeset/pr-12596-removed-1753881785816.md
  packages/api-v4/src/kubernetes/nodePools.ts
  packages/api-v4/src/kubernetes/types.ts
  packages/manager/.changeset/pr-12596-added-1753881869923.md
  packages/manager/src/factories/kubernetesCluster.ts
  packages/manager/src/features/Kubernetes/CreateCluster/CreateCluster.tsx
  packages/manager/src/features/Kubernetes/KubeCheckoutBar/KubeCheckoutBar.test.tsx
  packages/manager/src/features/Kubernetes/KubeCheckoutBar/KubeCheckoutBar.tsx
  packages/manager/src/features/Kubernetes/KubeCheckoutBar/NodePoolSummary.test.tsx
  packages/manager/src/features/Kubernetes/KubeCheckoutBar/NodePoolSummaryItem.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/AddNodePoolDrawer.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePool.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodePoolsDisplay.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodeTable.styles.ts
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodeTable.test.tsx
  packages/manager/src/features/Kubernetes/KubernetesClusterDetail/NodePoolsDisplay/NodeTable.tsx
  packages/manager/src/features/Kubernetes/KubernetesPlansPanel/NodePoolConfigDrawer.tsx
  packages/manager/src/mocks/presets/crud/handlers/kubernetes.ts
  packages/manager/src/queries/kubernetes.ts
  packages/manager/src/utilities/pricing/kubernetes.ts
  packages/validation/.changeset/pr-12596-removed-1753881967320.md
  packages/validation/src/kubernetes.schema.ts
Labels: Approved, LKE-Enterprise

#12622 fix: Region Select change that is causing test failures
  packages/manager/src/components/RegionSelect/RegionSelect.tsx
Labels: 🚨 Urgent, Approved
