Repository linode/manager, changes with the owners that CODEOWNERS names for each.
All owners: @linode/cloud-manager-code-reviewers, @linode/frontend-sdet, @linode/ui-platform-design-systems, @linode/metrics-alerts, @linode/iam, @linode/dbaas-ui

replace flags checks with useIsIAMDelegationEnabled
  packages/manager/src/features/IAM/Users/UserDelegations/UserDelegations.tsx
  packages/manager/src/features/IAM/Users/UserDetailsLanding.tsx
  packages/manager/src/features/IAM/Users/UsersTable/UsersActionMenu.tsx
Owners: @linode/iam

upcoming: [DPS-34980] Fix Destination Name autocomplete in stream form not filtering correctly
  packages/manager/src/features/Delivery/Streams/StreamForm/Delivery/StreamFormDelivery.tsx
Owners: @linode/cloud-manager-code-reviewers

save progress
  packages/manager/src/features/Account/AccountLanding.tsx
  packages/manager/src/features/Billing/BillingLanding/BillingLanding.tsx
  packages/manager/src/features/GlobalNotifications/GlobalNotifications.tsx
  packages/manager/src/features/IAM/Users/UserDetails/DeleteUserPanel.tsx
  packages/manager/src/features/IAM/Users/UserDetails/UserEmailPanel.tsx
  packages/manager/src/features/IAM/hooks/useDelegationUserType.ts
  packages/manager/src/features/Profile/APITokens/APITokenTable.tsx
Owners: @linode/cloud-manager-code-reviewers, @linode/iam

Added changeset: Fix Destination Name autocomplete in Create Stream form not filtering correctly
  packages/manager/.changeset/pr-12944-upcoming-features-1759397682222.md
Owners: @linode/cloud-manager-code-reviewers

remaining queries
  packages/manager/src/features/Account/AccountLogins.tsx
  packages/manager/src/features/Account/CloseAccountSetting.tsx
  packages/manager/src/features/Billing/BillingDetail.tsx
  packages/manager/src/features/Billing/BillingPanels/BillingSummary/PaymentDrawer/PaymentDrawer.tsx
  packages/manager/src/features/Billing/BillingPanels/ContactInfoPanel/ContactInformation.test.tsx
  packages/manager/src/features/Billing/BillingPanels/ContactInfoPanel/ContactInformation.tsx
  packages/manager/src/features/Billing/BillingPanels/ContactInfoPanel/UpdateContactInformationForm/UpdateContactInformationForm.tsx
  packages/manager/src/features/Billing/BillingPanels/PaymentInfoPanel/AddPaymentMethodDrawer/AddPaymentMethodDrawer.tsx
  packages/manager/src/features/Billing/BillingPanels/PaymentInfoPanel/PaymentInformation.test.tsx
  packages/manager/src/features/Billing/BillingPanels/PaymentInfoPanel/PaymentInformation.tsx
  packages/manager/src/features/Profile/APITokens/CreateAPITokenDrawer.tsx
  packages/manager/src/features/Profile/APITokens/ViewAPITokenDrawer.tsx
  packages/manager/src/features/Profile/DisplaySettings/DisplaySettings.tsx
  packages/manager/src/features/Profile/DisplaySettings/EmailForm.tsx
  packages/manager/src/features/Profile/DisplaySettings/UsernameForm.tsx
Owners: @linode/cloud-manager-code-reviewers

CODEOWNERS:

# Default Team
# This is a catch all: any change that is not captured by a codeowner rule
# below will result in`@linode/cloud-manager-code-reviewers` being assigned
# for PR review.
* @linode/cloud-manager-code-reviewers

# Cypress E2E Tests
# This is also a catch all: any change to E2E tests outside of the team-owned
# files and directories will result in `@linode/frontend-sdet` being assigned
# for PR review.
/packages/manager/cypress/ @linode/frontend-sdet

# UI Package
/packages/ui @linode/ui-platform-design-systems

# Metrics & Alerts
/packages/api-v4/src/cloudpulse @linode/metrics-alerts
/packages/validation/src/cloudpulse.schema.ts @linode/metrics-alerts
/packages/manager/cypress/e2e/core/cloudpulse @linode/metrics-alerts
/packages/manager/cypress/support/util/cloudpulse.ts @linode/metrics-alerts
/packages/manager/cypress/support/constants/cloudpulse.ts @linode/metrics-alerts
/packages/manager/cypress/support/intercepts/cloudpulse.ts @linode/metrics-alerts
/packages/manager/src/routes/alerts @linode/metrics-alerts
/packages/manager/src/routes/metrics @linode/metrics-alerts
/packages/manager/src/factories/cloudpulse @linode/metrics-alerts
/packages/manager/src/features/CloudPulse @linode/metrics-alerts
/packages/manager/src/queries/cloudpulse @linode/metrics-alerts

# IAM
/packages/api-v4/src/iam @linode/iam
/packages/manager/src/routes/IAM @linode/iam
/packages/manager/cypress/component/features/IAM @linode/iam
/packages/queries/src/iam @linode/iam
/packages/manager/src/features/IAM @linode/iam
/packages/manager/src/mocks/presets/crud/seeds/delegation.ts @linode/iam
/packages/manager/src/mocks/presets/crud/handlers/delegation.ts @linode/iam
/packages/manager/src/mocks/presets/crud/delegation.ts @linode/iam
/packages/utilities/src/factories/delegation.ts @linode/iam

# DBaaS
/packages/manager/src/features/Databases @linode/dbaas-ui
/packages/manager/src/routes/databases @linode/dbaas-ui
/packages/manager/src/queries/databases @linode/dbaas-ui
/packages/manager/src/factories/databases.ts @linode/dbaas-ui
/packages/queries/src/databases @linode/dbaas-ui
/packages/api-v4/src/databases @linode/dbaas-ui
/packages/validation/src/databases.schema.ts @linode/dbaas-ui
/packages/manager/cypress/e2e/core/databases @linode/dbaas-ui
/packages/manager/cypress/support/constants/databases.ts @linode/dbaas-ui
/packages/manager/cypress/support/intercepts/databases.ts @linode/dbaas-ui
